{% extends "base.html" %}

{% block title %} Add Agent {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <style type="text/css">
        .msg {
            padding-left: 10px;
        }
    </style>
{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Settings</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'authentication:agents' %}">Agents</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'authentication:add_agent' %}">Add Agent</a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Add Agent</div>
                        </div>

                        <form method="post" action="">
                            {% csrf_token %}

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        {% if msg %}
                                            <div class="msg mb-2">
                                                <span class="text-danger">{{ msg | safe }}</span>
                                            </div>
                                        {% endif %}

                                        <div class="form-group">
                                            <label for="id_username">Username</label>
                                            {{form.username}}
                                        </div>
                                        <span class="text-danger">{{form.username.errors}}</span>

                                        <div class="form-group">
                                            <label for="id_first_name">First Name</label>
                                            {{form.first_name}}
                                        </div>
                                        <span class="text-danger">{{form.first_name.errors}}</span>

                                        <div class="form-group">
                                            <label for="id_last_name">Last Name</label>
                                            {{form.last_name}}
                                        </div>
                                        <span class="text-danger">{{form.last_name.errors}}</span>

                                        <div class="form-group">
                                            <label for="id_email">Email</label>
                                            {{form.email}}
                                        </div>
                                        <span class="text-danger">{{form.email.errors}}</span>

                                        <div class="form-group">
                                            <label for="id_password1">Password</label>
                                            {{ form.password1 }}
                                        </div>
                                        <span class="text-danger">{{form.password1.errors}}</span>

                                        <div class="form-group">
                                            <label for="id_password2">Password check</label>
                                            {{ form.password2 }}
                                        </div>
                                        <span class="text-danger">{{form.password2.errors}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <button class="btn btn-success" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Atlantis DEMO methods, don't include it in your project! -->
    <script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}  
