{% extends "base-fullscreen.html" %}

{% block title %} Signin {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <style type="text/css">
        p {
            margin-top: 1rem;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <div class="d-flex align-items-center justify-content-center mb-3">
        <i class="fa fa-shield auth-icon text-white" aria-hidden="true"></i>
    </div>

    <h3 class="text-center mb-2">Forgot Password</h3>
    <p class="text-center">Enter your email for the verification proccess. We will send 6 digits code to your email.</p>
    
    <form method="post" class="login-form mt-4">
        {% csrf_token %}
        <div class="form-group">
            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-envelope"></span></div>
            {{ form.email }}
        </div>
        <span class="text-danger">{{ form.email.errors }}</span>

        <div class="form-group submit-btn">
            <button class="btn form-control btn-primary rounded submit px-3" type="submit">Continue</button>
        </div>
    </form>

    <div class="w-100 text-center mt-4 text">
        <p class="mb-0">Don't have an account?</p>
        <a href="{% url 'authentication:signup' %}">Sign Up</a>
    </div>  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %} 

