{% extends "base-form.html" %}

{% block title %} Prezentarea Datelor {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    {% load static %}   
    <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'valuationform/presentation-data.css' %}">
    
    <style>
        .required {
            border-color: #F25961 !important;
            color: #F25961 !important;
        }
        .msg {
            display: none;
            margin-bottom: 0px!important;
        }
        #id_strada, #id_access {
            display: inline-block;
            width: 22%;
            border: none;
            border-bottom: 2px dotted;
            padding: 0px;
            padding-top: 0.5rem;
            border-radius: 0px;
            margin-right: 8px;
            margin-left: 8px;
        }
        #id_cadastral_no, #id_land_book_no, #id_uat {
            display: inline-block;
            width: 22%;
            border: none;
            border-bottom: 2px dotted!important;
            padding: 0;
            padding-top: 0.6rem;
            border-radius: 0px;
            margin-right: 8px;
            margin-left: 8px;
        }
        .fa-pencil-alt {
            cursor: pointer;
        }
    </style>
{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Prezentarea Datelor</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="">Valuation Form</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="">Prezentarea Datelor</a>
                    </li>
                </ul>
            </div>
        
            <form method="POST" id="presentation-form">
                {% csrf_token %}
                
                {% if 'details' in pre_url %}
                    <input type="hidden" name="pre_url" value="details">
                {% endif %}

                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <div class="card-title">Sursă de informații</div>
                            <a class="btn btn-primary btn-round ml-auto" href="{% url 'asachat:chat_room' id=valuation.id %}" target="_blank">
                                <i class="fas fa-video mr-2"></i>
                                Video Call
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="text-danger mb-3 msg">Something went wrong.</p>
                        <div class="row documents">
                            {% if sources %}
                                {% for source in sources %}
                                    <div class="col-md-6">
                                        <div class="form-group source-form">
                                            <label>Nume documente <span class="required-label">*</span></label>
                                            <input type="text" name="src[]" id="src_{{source.id}}" class="form-control" value="{{source.source}}" required>
                                            <small class="form-text text-danger remove_src" style="cursor:pointer;" onclick="remove_src(this, '{{source.id}}')">Remove</small>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                            <div class="col-md-6">
                                <div class="form-group source-form">
                                    <label>Nume documente <span class="required-label">*</span></label>
                                    <input type="text" name="src" class="form-control" required>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {% if sources %}
                                        <button type="button" class="btn btn-primary btn-round mr-2" id="update_src">
                                            <span class="loading text-light" style="display: none;"><i class="fas fa-redo mr-2"></i>Update ...</span>
                                            <span class="save">Update</span>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-round" id="update_add_src">
                                            <span class="loading text-light" style="display: none;"><i class="fas fa-redo mr-2"></i>Update ...</span>
                                            <span class="save">Update & Add New</span>
                                        </button>
                                    {% else %}
                                        <button type="button" class="btn btn-primary btn-round mr-2" id="save_src">
                                            <span class="loading text-light" style="display: none;"><i class="fas fa-redo mr-2"></i>Save ...</span>
                                            <span class="save">Save</span>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-round" id="add_src">
                                            <span class="loading text-light" style="display: none;"><i class="fas fa-redo mr-2"></i>Save ...</span>
                                            <span class="save">Save & Add New</span>
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                {% load my_filters %}
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Prezentarea Datelor</div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="id_sub_identi">Identificarea proprietatii imobiliare subiect al evaluarii <span class="required-label">*</span></label>
                                    {% if pdata.sub_identi %}
                                        <textarea name="sub_identi" rows="5" class="form-control" id="id_sub_identi">{{pdata.sub_identi}}</textarea>
                                    {% else %}
                                        {% if valued_property.valued_property != None %}
                                            <textarea name="sub_identi" rows="5" class="form-control" id="id_sub_identi">{{valued_property.valued_property}}</textarea>
                                        {% else %}
                                            <textarea name="sub_identi" rows="5" class="form-control" id="id_sub_identi">Dreptul deplin de proprietate asupra apartamentului cu nr. {{valuation.apartment_no}}, compus din {{camara|floatformat:"0"}} camere si dependinte cu o suprafata utila de {% if const.utila %}{{ const.utila }}{% else %}0.0 0{% endif %} mp si trei balcoane cu suprafata lor totala de {% if const.utila and const.totala %}{{ const.totala|sub:const.utila }}{% else %}0.00{% endif %}, rezultand suprafata utila totala de {% if const.totala %}{{ const.totala }}{% else %}0.00{% endif %} mp, impreuna cu dreptul de proprietate asupra cotei indivize de .......... mp din partile si dependintele comune ale imobilului si dreptul de proprietate asupra terenului in suprafata de indiviza de .......... mp.</textarea>
                                        {% endif %}
                                    {% endif %}
                                    <small class="form-text">*Se va completa descrierea detaliata a proprietatii conform documentelor</small>
                                    <small class="form-text text-danger sub_identi"></small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="id_sp_hypo">Ipoteze speciale <span class="required-label">*</span></label>
                                    {% if pdata.sp_hypo %}
                                        <textarea name="sp_hypo" rows="5" class="form-control" id="id_sp_hypo">{{pdata.sp_hypo}}</textarea>
                                    {% else %}
                                        <textarea name="sp_hypo" rows="5" class="form-control" id="id_sp_hypo"></textarea>
                                    {% endif %}
                                    <small class="form-text text-danger sp_hypo"></small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="id_zona">Zona <span class="required-label">*</span></label>
                                    {% if pdata.zona %}
                                        <textarea name="zona" rows="5" class="form-control" id="id_zona">{{pdata.zona}}</textarea>
                                    {% else %}
                                        <textarea name="zona" rows="5" class="form-control" id="id_zona">Proprietatea este amplasta pe Strada ................... din orasul .................... in zona ...................., zona urbana mediana a localitatii.&#13;&#10;Microzona din care face parte proprietatea are caracter mixt preponderent rezidential-comercial. Regimul specific de inaltime al cladirilor este P+4E-P+10E. Drumurile sunt asfaltate. Drumurile din zona au configuratia si capacitatea necesara pentru deservirea in bune conditii a imobilelor adiacente.</textarea>
                                    {% endif %}
                                    <small class="form-text text-danger zona"></small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group text-light">
                                    <label>Informatii specifice <span class="required-label">*</span></label>
                                    <p class="text-justify">Proprietatea are caracter rezidential este amplasata in zona {{valuation.locatie}} din orasul {{valuation.city.name}}, pe {{valuation.street}}, strada asfaltata cu {{form.strada}} pe sens. Strada de acces are caracter public.</p>
                                    <small class="form-text text-danger strada"></small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="id_poi">Puncte de interes <span class="required-label">*</span></label>
                                    <div class="poi-inputs">
                                        <div class="pois">
                                            {% if pdata.poi %}
                                                {% for p in pdata.poi|get_poi %}
                                                    <div class="poi"><label class="tag-name">{{p}}</label><span class="remove">X</span></div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <input type="text" name="poi" required id="id_poi">
                                        <!-- {{ form.poi }} -->
                                    </div>
                                    <small class="form-text text-muted">Campuri separate prin virgula</small>
                                    <small class="form-text text-danger poi-error"></small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group transport">
                                    <label for="id_pt">Transport public <span class="required-label">*</span></label>
                                    <select multiple="multiple" id="id_pt" class="form-control" name="pt[]">
                                        {% if pdata %}
                                            {% for t in transport %}
                                            <option value="{{t.id}}" {% if t.id|stringformat:"i" in pdata.pt %}selected{% endif %}>{{t.name}}</option>
                                            {% endfor %}
                                        {% else %}
                                            {% for t in transport %}
                                            <option value="{{t.id}}">{{t.name}}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                    <small class="form-text text-danger pt"></small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group legal_doc">
                                    <label for="id_legal_doc">Proprietar si situatia juridica <span class="required-label">*</span></label>
                                    {% if pdata or sources %}
                                        <select multiple="multiple" id="id_legal_doc" class="form-control" name="legal_doc[]">
                                            {% for src in sources %}
                                                <option data-toggle='tooltip' data-placement='top' title='{{src.source}}' value="{{src.id}}" {% if src.id|stringformat:"i" in pdata.legal_doc %}selected{% endif %}>{{src.source|truncatechars:30 }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <select multiple="multiple" id="id_legal_doc" class="form-control" name="legal_doc[]">
                                        </select> 
                                    {% endif %}
                                    <small class="form-text text-muted">Add source of documents first</small>
                                    <small class="form-text text-danger legal_doc_error"></small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_current_use">Utilizarea actuala <span class="required-label">*</span></label>
                                    {{ form.current_use }}
                                    <small class="form-text text-danger current_use"></small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label id="cadastral_text_label">Date privind documentatia cadastrala <span class="required-label mr-2">*</span><i class="fas fa-pencil-alt text-info" id="edit-cadastral"></i></label>
                                    {% if pdata.cadastral_text %}
                                        <p class="text-light cadastral" style="display: none;">Apartamentul are numarul cadastral {{form.cadastral_no}} si este intabulat in Cartea Funciara numarul {{form.land_book_no}}, {{form.uat}}.</p>
                                        <input type="hidden" name="show_cadastral" id="show_cadastral" value="1">
                                        <textarea name="cadastral_text" id="id_cadastral_text" rows="3" class="form-control">{{pdata.cadastral_text}}</textarea>
                                    {% else %}
                                        <p class="text-light cadastral">Apartamentul are numarul cadastral {{form.cadastral_no}} si este intabulat in Cartea Funciara numarul {{form.land_book_no}}, {{form.uat}}.</p>
                                        <input type="hidden" name="show_cadastral" id="show_cadastral" value="0">
                                        <textarea name="cadastral_text" id="id_cadastral_text" rows="3" style="display: none;" class="form-control">Apartamentul are numarul cadastral .................... si este intabulat in Cartea Funciara numarul .................... , ....................</textarea>
                                    {% endif %}
                                    <small class="form-text text-danger cadastral_error"></small>
                                </div>
                            </div>
                        </div>
                            <!-- <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_cadastral_no">Cadastral Nr <span class="required-label">*</span></label>
                                    {{ form.cadastral_no }}
                                    <small class="form-text text-danger cadastral_no"></small>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_land_book_no">Carte funciară nr <span class="required-label">*</span></label>
                                    {{ form.land_book_no }}
                                    <small class="form-text text-danger land_book_no"></small>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_uat">UAT <span class="required-label">*</span></label>
                                    {{ form.uat }}
                                    <small class="form-text text-danger uat"></small>
                                </div>
                            </div>
                        </div> -->

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_charges">Sarcini <span class="required-label">*</span></label>
                                    {{ form.charges }}
                                    <small class="form-text text-danger charges"></small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_sarcini">Sarcini Nume</label>
                                    {% if pdata.sarcini %}
                                        <input type="text" name="sarcini" class="form-control" placeholder="Sarcini Nume" id="id_sarcini" value="{{pdata.sarcini}}">
                                    {% else %}
                                        <input type="text" name="sarcini" class="form-control" placeholder="Sarcini Nume" id="id_sarcini" disabled>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group identification">
                                    <label for="id_identification">Identificare <span class="required-label">*</span></label>
                                    <select multiple="multiple" id="id_identification" class="form-control" name="identification[]">
                                        <option value="apii" {% if 'apii' in pdata.identification %}selected{% endif %}>Adresei postale inscrise pe imobil</option>
                                        <option value="cipa" {% if 'cipa' in pdata.identification %}selected{% endif %}>Cadastral introdus pe platforma ANCPI</option>
                                    </select>
                                    <small class="form-text text-danger identification_error"></small>
                                </div>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label id="access_label">Acces <span class="required-label mr-2">*</span><i class="fas fa-pencil-alt text-info" id="edit-access"></i></label>
                                    {% if pdata.access %}
                                        <p class="text-light access" style="display: none;">Din punct de vedere juridic accesul la proprietate pietonal si auto se face {{form.access}}. Imobilul se afla in zona {{valuation.locatie}} a intravilanului munincipiului Bucuresti, fiind reprezentat de un bloc cu regim de inaltime {{valuation.height}}. Apartamentului ii revin cote din partile comune si dependintele imobilului conform extrasului de carte funciara prezentat evaluatorului.</p>
                                        <input type="hidden" name="show_access" id="show_access" value="1">
                                        <textarea name="access_text" id="id_access_text" rows="3" class="form-control">{{pdata.access_text}}</textarea>
                                    {% else %}
                                        <p class="text-light access">Din punct de vedere juridic accesul la proprietate pietonal si auto se face {{form.access}}. Imobilul se afla in zona {{valuation.locatie}} a intravilanului munincipiului Bucuresti, fiind reprezentat de un bloc cu regim de inaltime {{valuation.height}}. Apartamentului ii revin cote din partile comune si dependintele imobilului conform extrasului de carte funciara prezentat evaluatorului.</p>
                                        <input type="hidden" name="show_access" id="show_access" value="0">
                                        <textarea name="access_text" id="id_access_text" rows="3" style="display: none;" class="form-control">Din punct de vedere juridic accesul la proprietate pietonal si auto se face ..................... Imobilul se afla in zona {{valuation.locatie}} a intravilanului munincipiului Bucuresti, fiind reprezentat de un bloc cu regim de inaltime {{valuation.height}}. Apartamentului ii revin cote din partile comune si dependintele imobilului conform extrasului de carte funciara prezentat evaluatorului.</textarea>
                                    {% endif %}
                                    <small class="form-text text-danger access_error"></small>
                                </div>

                                <!-- <div class="form-group">
                                    <label for="id_history">Acces <span class="required-label">*</span></label>
                                    <p class="text-justify text-light">Din punct de vedere juridic accesul la proprietate pietonal si auto se face {{form.access}}. Imobilul se afla in zona {{valuation.locatie}} a intravilanului munincipiului Bucuresti, fiind reprezentat de un bloc cu regim de inaltime {{valuation.height}}. Apartamentului ii revin cote din partile comune si dependintele imobilului conform extrasului de carte funciara prezentat evaluatorului.</p>
                                    <small class="form-text text-danger access"></small>
                                </div> -->
                            </div>
                        </div>

                        <div class="row"> 
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="id_history">Istoricul proprietatii subiect</label>
                                    {{ form.history }}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="card-action">
                    {% if pdata %}
                        <button class="btn btn-success" id="next">Update</button>
                    {% else %}
                        <button class="btn btn-success" id="next">{% if 'details' in pre_url %}SAVE{% else %}NEXT{% endif %}</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}  
    <script src="{% static 'valuationform/presentation-data.js' %}"></script>
    <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
    <script>
        $(function () {
            $('#id_pt').multipleSelect()
            $('#id_legal_doc').multipleSelect()
            $('#id_identification').multipleSelect()
        });

        // disable enable sarcini 
        $("#id_charges").change(function () {
            var value = $(this).children('option:selected').val()
            if(value == 'yes') {
                $('#id_sarcini').prop('disabled', false)
            } else {
                $('#id_sarcini').prop('disabled', true)
            }
        });
        $("#edit-cadastral").on('click', function() {
            var val = $('#show_cadastral').val();
            $('#show_cadastral').val(val=='0' ? '1' : '0');
            $('.cadastral').toggle();
            $('#id_cadastral_text').toggle();
        });
        $("#edit-access").on('click', function() {
            var val = $('#show_access').val();
            $('#show_access').val(val=='0' ? '1' : '0');
            $('.access').toggle();
            $('#id_access_text').toggle();
        });

        // submit form 
        $('#next').on('click', function() {
            var all = $(".tag-name").map(function() {
                return this.innerHTML;
            }).get();
            $("#id_poi").val(all.join());

            var sub_identi = $("#id_sub_identi").val();
            var sp_hypo = $("#id_sp_hypo").val();
            var zona = $("#id_zona").val();
            var strada = $("#id_strada").val();
            var poi = $("#id_poi").val()
            var pt = $('#id_pt').val()
            var legal_doc = $('#id_legal_doc').val()
            var current_use = $('#id_current_use').val()
            
            var show_cadastral = $('#show_cadastral').val()
            var cadastral = $("#id_cadastral_text").val();
            var cadastral_no = $('#id_cadastral_no').val()
            var land_book_no = $('#id_land_book_no').val()
            var uat = $('#id_uat').val()

            var charges = $('#id_charges').val()
            var identification = $('#id_identification').val()

            var show_access = $('#show_access').val()
            var access_text = $("#id_access_text").val();
            var access = $('#id_access').val();

            if(sub_identi.length > 0 && sp_hypo.length > 0 && zona.length > 0 && strada.length > 0 && poi.length > 0 && pt.length > 0 && legal_doc.length > 0 && current_use.length > 0 && ((show_cadastral == '1' && cadastral.length > 0) || (cadastral_no.length > 0 && land_book_no.length > 0 && uat.length > 0)) && charges.length > 0 && identification.length > 0 && ((show_access == '1' && access_text.length > 0) || access.length > 0)) {
                $("#presentation-form").submit();
            } else {
                if(sub_identi.length < 1) {
                    $("#id_sub_identi").addClass('required')
                    $(".sub_identi").text('This field is required')
                } else {
                    $("#id_sub_identi").removeClass('required')
                    $(".sub_identi").text('')
                }
                
                if(sp_hypo.length < 1) {
                    $("#id_sp_hypo").addClass('required')
                    $(".sp_hypo").text('This field is required')
                } else {
                    $("#id_sp_hypo").removeClass('required')
                    $(".sp_hypo").text('')
                }
                
                if(zona.length < 1) {
                    $("#id_zona").addClass('required')
                    $(".zona").text('This field is required')
                } else {
                    $("#id_zona").removeClass('required')
                    $(".zona").text('')
                }
                
                if(strada.length < 1) {
                    $("#id_strada").addClass('required')
                    $(".strada").text('This field is required')
                } else {
                    $("#id_strada").removeClass('required')
                    $(".strada").text('')
                }
                
                if(poi.length < 1) {
                    $(".poi-inputs").addClass('required')
                    $(".poi-error").text('This field is required')
                } else {
                    $(".poi-inputs").removeClass('required')
                    $(".poi-error").text('')
                }
                
                if(pt.length < 1) {
                    $(".transport .ms-parent").addClass('required')
                    $(".pt").text('This field is required')
                } else {
                    $(".transport .ms-parent").removeClass('required')
                    $(".pt").text('')
                }
                
                if(legal_doc.length < 1) {
                    $(".legal_doc .ms-parent").addClass('required')
                    $(".legal_doc_error").text('This field is required')
                } else {
                    $(".legal_doc .ms-parent").removeClass('required')
                    $(".legal_doc_error").text('')
                }
                
                if(current_use.length < 1) {
                    $("#id_current_use").addClass('required')
                    $(".current_use").text('This field is required')
                } else {
                    $("#id_current_use").removeClass('required')
                    $(".current_use").text('')
                }

                
                if(show_cadastral == '1' && cadastral.length < 1) { 
                    $('#id_cadastral_text').addClass('required')
                    $(".cadastral_error").text('This field is required')
                } else if (cadastral_no.length < 1) {
                    $('#id_cadastral_no').addClass('required')
                    $(".cadastral_error").text('This field is required')
                } else if (land_book_no.length < 1) {
                    $('#id_land_book_no').addClass('required')
                    $(".cadastral_error").text('This field is required')
                } else if (uat.length < 1) {
                    $('#id_uat').addClass('required')
                    $(".cadastral_error").text('This field is required')
                } else {
                    $('#id_cadastral_text').removeClass('required')
                    $('#id_cadastral_no').removeClass('required')
                    $('#id_land_book_no').removeClass('required')
                    $('#id_uat').removeClass('required')
                    $(".cadastral_error").text('')
                }
                
                // if(cadastral_no.length < 1) {
                //     $("#id_cadastral_no").addClass('required')
                //     $(".cadastral_no").text('This field is required')
                // } else {
                //     $("#id_cadastral_no").removeClass('required')
                //     $(".cadastral_no").text('')
                // }
                
                // if(land_book_no.length < 1) {
                //     $("#id_land_book_no").addClass('required')
                //     $(".land_book_no").text('This field is required')
                // } else {
                //     $("#id_land_book_no").removeClass('required')
                //     $(".land_book_no").text('')
                // }
                
                // if(uat.length < 1) {
                //     $("#id_uat").addClass('required')
                //     $(".uat").text('This field is required')
                // } else {
                //     $("#id_uat").removeClass('required')
                //     $(".uat").text('')
                // }
                
                if(charges.length < 1) {
                    $("#id_charges").addClass('required')
                    $(".charges").text('This field is required')
                } else {
                    $("#id_charges").removeClass('required')
                    $(".charges").text('')
                }
                
                if(identification.length < 1) {
                    $(".identification .ms-parent").addClass('required')
                    $(".identification_error").text('This field is required')
                } else {
                    $(".identification .ms-parent").removeClass('required')
                    $(".identification_error").text('')
                }

                if(show_access == '1' && access_text.length < 1) { 
                    $('#id_access_text').addClass('required')
                    $(".access_error").text('This field is required')
                } else if (access.length < 1) {
                    $('#id_access').addClass('required')
                    $(".access_error").text('This field is required')
                } else {
                    $('#id_access_text').removeClass('required')
                    $('#id_access').removeClass('required')
                    $(".access_error").text('')
                }
                
                // if(access.length < 1) {
                //     $("#id_access").addClass('required')
                //     $(".access").text('This field is required')
                // } else {
                //     $("#id_access").removeClass('required')
                //     $(".access").text('')
                // }
            }
        })

        // ====================== source of information ==========================
        $('#save_src').on('click', function() {
            var last = $(".documents").find('input').slice(-1)
            var val = last.val()
            if (val.length > 0) {
                last.removeClass('required')
                save_source(val, "save_src")
            } else {
                last.addClass('required')
            }
        })
        
        $("#add_src").on('click', function() {
            var last = $(".documents").find('input').slice(-1)
            var val = last.val()
            if (val.length > 0) {
                last.removeClass('required')
                save_source(val, "add_src")
                var div = "<div class='col-md-6'>\
                            <div class='form-group source-form'> \
                                <label>Nume documente <span class='required-label'>*</span></label> \
                                <input type='text' name='src' class='form-control' required>\
                            </div>\
                        </div>"
                $('.documents').append(div)
            } else {
                last.addClass('required')
            }
        })

        // save source 
        function save_source(val, id) {
            $.ajax({
                url: "{% url 'valuation:add_source' %}",
                type: "POST",
                cache: false,
                data: {'vid': '{{valuation.id}}', 'source': val, "csrfmiddlewaretoken": '{{ csrf_token }}'},
                beforeSend: function() {
                    $('#'+id+' .loading').css('display', 'block');
                    $('#'+id+' .save').css('display', 'none');
                },
                success: function (e) {
                    if(e.success=='true') {
                        $('#id_legal_doc').append("<option data-toggle='tooltip' data-placement='top' title='"+val+"' value=\"" + e.id + "\">" + val.substring(0,30) + " " +(val.length > 29) ? "...":"" + "</option>");
                        $('#id_legal_doc').multipleSelect( 'refresh' );
        
                        let last = null;
                        if (id == "add_src") {
                            last = $(".documents").find('input').eq(-2);
                        } else {
                            last = $(".documents").find('input').eq(-1);
                        }
                        let parent = last.parent('.source-form');
                        if(parent.find('.remove_src').length > 0) {
                            console.log('yes')
                        } else {
                            parent.append('<small class="form-text text-danger remove_src" style="cursor:pointer;" onclick="remove_src(this, '+e.id+')">Remove</small>')
                        }
                    } else {  
                        $(".msg").css('display', 'block');  
                        if (e.msg=='exists') {
                            $(".msg").text('Source already added.');
                        }
                    }
                },
                complete: function(e) {
                    $('#'+id+' .save').css('display', 'block');
                    $('#'+id+' .loading').css('display', 'none');
                },
                error: function (err) {
                    $(".msg").css('display', 'block')
                }
            })
        }

        // =========================== update and save source ============================
        $('#update_src').on('click', function() {
            let sources = $(".documents").find('input[name="src[]"]');
            let source_valid = true;
            let ids = [];
            let values = [];
            sources.each(function () {
                if(this.value.length > 0) {
                    ids.push(this.id.slice(4));
                    values.push(this.value);
                    $(this).removeClass('required');
                } else {
                    source_valid = false;
                    $(this).addClass('required')
                }
            });
            if (source_valid == true) {
                update_source(sources, ids, values, 'update_src');
            }
        })
        
        $("#update_add_src").on('click', function() {
            let sources = $(".documents").find('input[name="src[]"]');
            let source_valid = true;
            let ids = [];
            let values = [];
            sources.each(function () {
                if(this.value.length > 0) {
                    ids.push(this.id.slice(4));
                    values.push(this.value);
                    $(this).removeClass('required');
                } else {
                    source_valid = false;
                    $(this).addClass('required')
                }
            });

            if (source_valid == true) {
                update_source(sources, ids, values, "update_add_src");
                var div = "<div class='col-md-6'>\
                            <div class='form-group source-form'> \
                                <label>Nume documente <span class='required-label'>*</span></label> \
                                <input type='text' name='src[]' id='src_0' class='form-control' required>\
                            </div>\
                        </div>"
                $('.documents').append(div)
            }
        })

        // save source 
        function update_source(source, ids, values, udpate_or_save) {
            $.ajax({
                url: "{% url 'valuation:update_sources' %}",
                type: "POST",
                cache: false,
                data: {'ids': ids, 'sources': values, 'ref_no': '{{valuation.id}}', "csrfmiddlewaretoken": '{{ csrf_token }}'},
                beforeSend: function() {
                    $('#'+udpate_or_save+' .loading').css('display', 'block');
                    $('#'+udpate_or_save+' .save').css('display', 'none');
                },
                success: function (e) {
                    if(e.success=='true') {
                        $('#id_legal_doc').find('option').remove();
                        $('#id_legal_doc').multipleSelect('refresh');
                        var res_id = JSON.parse(e.res_id);
                        var i = 0;
                        source.each(function () {
                            $(this).attr('id', 'src_'+res_id[i]);
                            $('#id_legal_doc').append("<option data-toggle='tooltip' data-placement='top' title='"+values[i]+"' value=\"" + res_id[i] + "\">" + values[i].substring(0,30) +"...</option>");
                            i++;
                        });
                        $('#id_legal_doc').multipleSelect('refresh');
                        let last = null;
                        if (udpate_or_save == "update_add_src") {
                            last = $(".documents").find('input').eq(-2);
                        } else {
                            last = $(".documents").find('input').eq(-1);
                        }
                        let parent = last.parent('.source-form');
                        console.log(last.val());
                        if(parent.find('.remove_src').length > 0) {
                            console.log('yes')
                        } else {
                            parent.append('<small class="form-text text-danger remove_src" style="cursor:pointer;" onclick="remove_src(this, '+res_id.slice(-1)+')">Remove</small>')
                        }
                    } else {  
                        $(".msg").css('display', 'block');  
                        if (e.msg=='exists') {
                            $(".msg").text('Source already added.');
                        }
                    }
                },
                complete: function(e) {
                    $('#'+udpate_or_save+' .save').css('display', 'block');
                    $('#'+udpate_or_save+' .loading').css('display', 'none');
                },
                error: function (err) {
                    $(".msg").css('display', 'block')
                }
            });
        }

        function remove_src(event, id) {
            $.ajax({
                url: '{% url "valuation:delete_source" %}',
                type: 'GET',
                data: {id: id},
                success: function(e) {
                    if (e.success == 'true') {
                        $("#id_legal_doc").find('option[value="'+id+'"]').remove();
                        $('#id_legal_doc').multipleSelect('refresh');
                        $(event).parents('.col-md-6').remove();
                        console.log($('.documents').find('.col-md-6'))
                        if($('.documents').find('.col-md-6').length > 0) {
                            console.log('yes');
                        } else {
                            let srcc = '<div class="col-md-6"><div class="form-group source-form"><label>Nume documente <span class="required-label">*</span></label><input type="text" name="src" class="form-control" required></div></div>';
                            $('.documents').append(srcc);
                        }
                    }
                }
            })
        }
    </script>
{% endblock javascripts %}  
