{% extends "base-form.html" %}

{% block title %} Add Constructia {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">
    <style>
        .ms-choice {
            background: transparent;
            border: none;
            height: 19px;
        }
        .ms-choice>span {
            color: #fff;
            top: 5px;
            left: 8px;
        }
        .ms-drop {
            left: 0;
        }
        .ms-drop span {
            color: #1a2035!important;
        }
        .table td {
            height: 40px!important;
        }
        .required {
            border-color: #F25961 !important;
            color: #F25961 !important;
        }
        #id_conform, #id_finish, #id_ef_choice {
            display: inline-block;
            width: 22%;
            border: none;
            border-bottom: 2px dotted!important;
            padding: 0;
            padding-top: 0.6rem;
            border-radius: 0px;
            margin-right: 8px;
            margin-left: 8px;
        }
        .fa-pencil-alt {
            cursor: pointer;
        }
    </style>
{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Add Constructia</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="">Valuation Form</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="">Constructia</a>
                    </li>
                </ul>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Constructia</div>
                </div>
                
                <form action="" method="POST" id="construction-form">
                    {% csrf_token %}
                    {% if 'details' in pre_url %}
                        <input type="hidden" name="pre_url" value="details">
                    {% endif %}

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label id="conform_label">Conform <span class="required-label mr-2">*</span><i class="fas fa-pencil-alt text-info" id="edit-conform"></i></label>
                                    {% if const.conform_text %}
                                        <p class="text-light conform" style="display: none;">Conform {{ form.conform }}, constructia are un regim de intaltime {{valuation.height}} si a fost edificata in anul {{valuation.construction_year}}</p>
                                            
                                        <input type="hidden" name="show_conform" id="show_conform" value="1">
                                        <textarea name="conform_text" id="id_conform_text" rows="3" class="form-control">{{const.conform_text}}</textarea>
                                    {% else %}
                                        <p class="text-light conform">Conform {{ form.conform }}, constructia are un regim de intaltime {{valuation.height}} si a fost edificata in anul {{valuation.construction_year}}</p>
                                        
                                        <input type="hidden" name="show_conform" id="show_conform" value="0">
                                        <textarea name="conform_text" id="id_conform_text" rows="3" style="display: none;" class="form-control">Conform inspectiei, constructia are un regim de intaltime 8/S+P+11E si a fost edificata in anul 2008</textarea>
                                    {% endif %}
                                    <small class="form-text text-danger conform_error"></small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_structure">Structura <span class="required-label">*</span></label>
                                    {{ form.structure }}
                                    <small class="form-text text-danger structure"></small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_foundation">Fundatie <span class="required-label">*</span></label>
                                    {{ form.foundation }}
                                    <small class="form-text text-danger foundation"></small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_floors">Plansee <span class="required-label">*</span></label>
                                    {{ form.floors }}
                                    <small class="form-text text-danger floors"></small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_roof">Acoperis <span class="required-label">*</span></label>
                                    {{ form.roof }}
                                    <small class="form-text text-danger roof"></small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_subcompartment">Invelitoare <span class="required-label">*</span></label>
                                    {{ form.invelitoare }}
                                    <small class="form-text text-danger invelitoare"></small>
                                </div>
                            </div>
                            <div class="col-md-4"> 
                                <div class="form-group">
                                    <label for="id_closure">Inchideri <span class="required-label">*</span></label>
                                    {{ form.closure }}
                                    <small class="form-text text-danger closure"></small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_subcompartment">Compartimentari <span class="required-label">*</span></label>
                                    {{ form.subcompartment }}
                                    <small class="form-text text-danger subcompartment"></small>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label id="finish_label">Finisaje Interioare <span class="required-label mr-2">*</span></label>
                                    <p class="text-light finish">Finisajele interioare sunt {{ form.finish }} si constau in</p>
                                    <small class="form-text text-danger finish_error"></small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="id_pardoseli">Pardoseli <span class="required-label">*</span></label>
                                    <!-- {{ form.pardoseli }} -->
                                    <textarea name="pardoseli" id="id_pardoseli" rows="5" class="form-control">{% if const.pardoseli %}{{const.pardoseli|safe }}{% else %}Pardoselile sunt placate cu gresie in hol, baie, bucatarie si balcoane, placate cu parchet laminat in restul incaperilor.{% endif %}</textarea>
                                    <small class="form-text text-danger pardoseli_error"></small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="id_walls">Pereti <span class="required-label">*</span></label>
                                    <!-- {{ form.walls }} -->
                                    <textarea name="walls" id="id_walls" rows="5" class="form-control">{% if const.walls %}{{const.walls|safe }}{% else %}Peretii sunt finisati cu tenuieli acoperite cu vopsea lavabila in majoritatea incaperilor, mai putin in bai si partial in bucatarie unde sunt placate cu faianta.{% endif %}</textarea>
                                    <small class="form-text text-danger walls_error"></small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_interior_carpentry">Tamplarie interioara <span class="required-label">*</span></label>
                                    <!-- {{ form.interior_carpentry }} -->
                                    <input type="text" name="interior_carpentry" value="{% if const.interior_carpentry %}{{const.interior_carpentry}}{% else %}Tamplaria interioara este din lemn.{% endif %}" class="form-control" id="id_interior_carpentry">
                                    <small class="form-text text-danger interior_carpentry"></small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_ceiling">Plafonul <span class="required-label">*</span></label>
                                    <!-- {{ form.ceiling }} -->
                                    <input type="text" name="ceiling" value="{% if const.ceiling %}{{const.ceiling}}{% else %}Plafonul este finisat cu tencuieli acoperite cu vopsea lavabila.{% endif %}" class="form-control" id="id_ceiling">
                                    <small class="form-text text-danger ceiling_error"></small>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label id="ef_label">Finisaje Exterioare <span class="required-label mr-2">*</span><i class="fas fa-pencil-alt text-info" id="edit-ef"></i></label>
                                    <p class="text-light ef">Finisajele exterioare sunt {{form.ef_choice}} si constau in tencuieli driscuite decorative</p>

                                    <input type="hidden" name="show_ef" id="show_ef" value="0">
                                    <textarea name="exterior_finishes" id="id_exterior_finishes" rows="3" style="display: none;" class="form-control">Finisajele exterioare sunt medii si constau in tencuieli driscuite decorative</textarea>
                                    <small class="form-text text-danger ef_error"></small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="id_exterior_carpentry">Tamplarie exterioara <span class="required-label">*</span></label>
                                    <!-- {{ form.exterior_carpentry }} -->
                                    <textarea name="exterior_carpentry" id="id_exterior_carpentry" rows="5" class="form-control">{% if const.exterior_carpentry %}{{const.exterior_carpentry|safe }}{% else %}Tamplaria exterioara este realizata din PVC cu geam termopan. Usa de acces este metalica.{% endif %}</textarea>
                                    <small class="form-text text-danger ec_error"></small>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group utilities">
                                    <label for="id_utilities">Bransamente <span class="required-label">*</span></label>
                                    {{ form.utilities }}
                                    <small class="form-text text-danger utilities_error"></small>
                                </div>
                            </div> 
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label id="dotari_label">Dotari Suplimentare, Sistem de Incalzire si mentiuni <span class="required-label mr-2">*</span></label>
                                    <!-- {{form.dotari}} -->
                                    <textarea name="dotari" id="id_dotari" rows="5" class="form-control">{% if const.dotari %}{{const.dotari|safe }}{% else %}Incalzirea se realizeaza cu ajutorul caloriferelor conectate la centrala termica proprie a imobilului.&#13;&#10;Dotari suplimentare: -{% endif %}</textarea>
                                    <small class="form-text text-danger dotari_error"></small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="id_comments">Comments</label>
                                    {{ form.comments }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- surface area -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="id_suprafete">Suprafete <span class="required-label mr-2">*</span></label>
                                    <textarea name="suprafete" id="id_suprafete" rows="3" class="form-control">{% if const.suprafete %}{{ const.suprafete }}{% else %}Urmatoarele suprafete au fost determinate utilizand documentatia pusa la dispozitie – Extras de carte funciara si releveul avizat. Determinarea suprafetelor luate in calcul in evaluare s-a facut pe baza suprafetelor masurate, conform paragrafului 23 din GEV 630 :{% endif %}</textarea>
                                    <small class="form-text text-danger suprafete_error"></small>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-10">
                                <table class="table table-bordered-bd-warning suprafete-tbl">
                                    <thead>
                                        <tr>
                                            <th scope="col" width="20%">Nr. Crt.</th>
                                            <th scope="col" width="30%">Denumire incapere</th>
                                            <th scope="col" width="30%">Suprafata (mp)</th>
                                            <th scope="col" width="10%"></th>
                                        </tr>
                                    </thead>
                                    {% if s_utila %}
                                        <tbody>
                                            {% load my_filters %}
                                            {% for su in s_utila %}
                                                <tr class="tr">
                                                    <td>
                                                        <input type="text" name="nr_crt[]" class="form-control nr">
                                                        <input type="hidden" name="su_id[]" value="{{su.id}}">
                                                    </td>
                                                    <td>
                                                        <input type="text" name="room_name[]" value="{{su.room_name}}" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input type="number" name="area[]" value="{{su.area}}" class="form-control usuable_area" step="0.01" required>
                                                        <input type="hidden" name="is_utila[]" value="1">
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            <tr>
                                                <td colspan="2" class="text-center font-weight-bold text-light">Suprafata Utila</td>
                                                {{const.utila}}
                                                <td>
                                                    <input type="number" name="utila" id="id_utila" value="{{const.utila}}" class="form-control">
                                                </td>
                                            </tr>

                                            {% for sn in s_nuutila %}
                                                <tr class="tr">
                                                    <td>
                                                        <input type="text" name="nr_crt[]" class="form-control nr">
                                                        <input type="hidden" name="su_id[]" value="{{sn.id}}">
                                                    </td>
                                                    <td>
                                                        <input type="text" name="room_name[]" value="{{sn.room_name}}" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input type="number" name="area[]" value="{{sn.area}}" class="form-control area" step="0.01" required>
                                                        <input type="hidden" name="is_utila[]" value="0">
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-icon btn-round btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Remove" onclick="remove_suprafete(this, '{{sn.id}}')"><i class="fa fa-minus"></i></button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            <tr>
                                                <td>
                                                    <button type="button" class="btn btn-icon btn-round btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Add More" id="add_more_su">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="text-center font-weight-bold text-light">Suprafata Totala</td>
                                                <td>
                                                    <input type="number" name="totala" id="id_totala" value="{{const.totala}}" class="form-control">
                                                </td>
                                            </tr>
                                        </tbody>
                                    {% else %}
                                    <tbody>
                                        {% load my_filters %}
                                        {% for r in rooms %}
                                            {% if r.attr_value|add:"0" > 1 %}
                                                {% for i in r.attr_value|myrange %}
                                                <tr class="tr">
                                                    <td>
                                                        <input type="text" name="nr_crt[]" class="form-control nr">
                                                    </td>
                                                    <td>
                                                        <input type="text" name="room_name[]" value="{{ r.attr_id.name }} {{ i }}" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input type="number" name="area[]" placeholder="0.00" class="form-control usuable_area" step="0.01" required>
                                                        <input type="hidden" name="is_utila[]" value="1">
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr class="tr">
                                                    <td>
                                                        <input type="text" name="nr_crt[]" class="form-control nr">
                                                    </td>
                                                    <td>
                                                        <input type="text" name="room_name[]" value="{{ r.attr_id.name }}" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input type="number" name="area[]" placeholder="0.00" class="form-control usuable_area" step="0.01" required>
                                                        <input type="hidden" name="is_utila[]" value="1">
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        
                                        {% for ct in customs %}
                                            {% if ct.attr_value|add:"0" > 1 %}
                                                {% for i in ct.attr_value|myrange %}
                                                <tr class="tr">
                                                    <td>
                                                        <input type="text" name="nr_crt[]" class="form-control nr">
                                                    </td>
                                                    <td>
                                                        <input type="text" name="room_name[]" value="{{ ct.attr_name }} {{ i }}" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input type="number" name="area[]" placeholder="0.00" class="form-control usuable_area" step="0.01" required>
                                                        <input type="hidden" name="is_utila[]" value="1">
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr class="tr">
                                                    <td>
                                                        <input type="text" name="nr_crt[]" class="form-control nr">
                                                    </td>
                                                    <td>
                                                        <input type="text" name="room_name[]" value="{{ ct.attr_name }}" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input type="number" name="area[]" placeholder="0.00" class="form-control usuable_area" step="0.01" required>
                                                        <input type="hidden" name="is_utila[]" value="1">
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        <tr>
                                            <td colspan="2" class="text-center font-weight-bold text-light">Suprafata Utila</td>
                                            <td>
                                                <input type="number" name="utila" id="id_utila" value="0.00" class="form-control">
                                            </td>
                                        </tr>

                                        {% if balcons %}
                                            {% for r in balcons %}
                                                {% if r.attr_value|add:"0" > 1 %}
                                                    {% for i in r.attr_value|myrange %}
                                                    <tr class="tr">
                                                        <td>
                                                            <input type="text" name="nr_crt[]" class="form-control nr">
                                                        </td>
                                                        <td>
                                                            <input type="text" name="room_name[]" value="{{ r.attr_id.name }} {{ i }}" class="form-control">
                                                        </td>
                                                        <td>
                                                            <input type="number" name="area[]" placeholder="0.00" class="form-control area" step="0.01" required>
                                                            <input type="hidden" name="is_utila[]" value="0">
                                                        </td>
                                                        
                                                        {% if forloop.last %}
                                                        <td>
                                                            <button type="button" class="btn btn-icon btn-round btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Add More" id="add_more">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </td>
                                                        {% endif %}
                                                    </tr>
                                                    {% endfor %}
                                                {% else %}
                                                    <tr class="tr">
                                                        <td>
                                                            <input type="text" name="nr_crt[]" class="form-control nr">
                                                        </td>
                                                        <td>
                                                            <input type="text" name="room_name[]" value="{{ r.attr_id.name }}" class="form-control">
                                                        </td>
                                                        <td>
                                                            <input type="number" name="area[]" placeholder="0.00" class="form-control area" step="0.01" required>
                                                            <input type="hidden" name="is_utila[]" value="0">
                                                        </td>
                                                        
                                                        {% if forloop.last %}
                                                        <td>
                                                            <button type="button" class="btn btn-icon btn-round btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Add More" id="add_more">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td>
                                                    <button type="button" class="btn btn-icon btn-round btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Add More" id="add_more">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        <tr>
                                            <td colspan="2" class="text-center font-weight-bold text-light">Suprafata Totala</td>
                                            <td>
                                                <input type="number" name="totala" id="id_totala" value="0.00" class="form-control">
                                            </td>
                                        </tr>
                                    </tbody>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            
                <div class="card-action">
                    {% if const %}
                        <button class="btn btn-success" id="submitBtn">Update</button>
                    {% else %}
                        <button class="btn btn-success" id="submitBtn">{% if 'details' in pre_url %}SAVE{% else %}NEXT{% endif %}</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
    <script>
        $(function () {
            $('#id_utilities').multipleSelect()
            $('#id_additional_equipment').multipleSelect()
        })
        
        var table = document.getElementsByTagName('table')[0],
        rows = table.getElementsByClassName('tr'),
        tds = table.getElementsByClassName('nr');
        for (let i = 0, len = tds.length; i < len; i++) {
            tds[i].value = i + 1;
        }

        // add more field 
        $('#add_more').on('click', function() {
            let tr = '<tr class="tr"><td><input type="text" name="nr_crt[]" class="form-control nr"></td><td><input type="text" name="room_name[]" class="form-control"></td><td><input type="number" name="area[]" placeholder="0.00" class="form-control area" step="0.01" required><input type="hidden" name="is_utila[]" value="0"></td><td><button type="button" class="btn btn-icon btn-round btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Remove" onclick="remove(this)"><i class="fa fa-minus"></i></button></td></tr>';
            $(this).closest('table').find('tr:last').prev().after(tr);
        })
        $('#add_more_su').on('click', function() {
            let tr = '<tr class="tr"><td><input type="text" name="nr_crt[]" class="form-control nr"><input type="hidden" name="su_id[]" value="0"></td><td><input type="text" name="room_name[]" class="form-control"></td><td><input type="number" name="area[]" placeholder="0.00" class="form-control area" step="0.01" required><input type="hidden" name="is_utila[]" value="0"></td><td><button type="button" class="btn btn-icon btn-round btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Remove" onclick="remove(this)"><i class="fa fa-minus"></i></button></td></tr>';
            $(this).closest('table').find('tr:last').prev().after(tr);
        })
        // remove field 
        function remove_suprafete(event, sid) {
            let val = Number($(event).parents('tr').find('input[name="area[]"]').val());
            let totala = Number($('#id_totala').val());
            totala -= val;
            $.ajax({
                url: '{% url "valuation:delete_suprafete" %}',
                type: 'GET',
                data: {id: sid},
                success: function (e) {
                    if(e.success=='true') {
                        $('#id_totala').val(totala.toFixed(2))
                        $(event).parents('tr').remove();
                    }
                }
            });
        }

        function remove (e) {
            let val = Number($(e).parents('tr').find('input[name="area[]"]').val());
            let totala = Number($('#id_totala').val());
            totala -= val;
            $('#id_totala').val(totala.toFixed(2))
            $(e).parents('tr').remove();
        }

        // calculate utila and totala 
        $('.usuable_area').keyup(function(){
            var utila = 0.00;
            $('.usuable_area').each( function(){
                utila += Number($(this).val());
            });
            $('#id_utila').val(utila.toFixed(2));
            $('#id_totala').val(utila.toFixed(2));
        });

        $('.suprafete-tbl').keyup(function(){
            var utitla = Number($('#id_utila').val());
            var totala = 0.00
            $('.area').each( function(){
                totala += Number($(this).val());
            });
            $('#id_totala').val((utitla+totala).toFixed(2));
        });

        // edit conform 
        $("#edit-conform").on('click', function() {
            var val = $('#show_conform').val();
            $('#show_conform').val(val=='0' ? '1' : '0');
            $('.conform').toggle();
            $('#id_conform_text').toggle();
        })
        // edit exterior finish 
        $("#edit-ef").on('click', function() {
            var val = $('#show_ef').val();
            $('#show_ef').val(val=='0' ? '1' : '0');
            $('.ef').toggle();
            $('#id_exterior_finishes').toggle();
        })

        // form validity check 
        $('#submitBtn').on('click', function () {
            var conform = $('#id_conform').val();
            var show_conform = $('#show_conform').val()
            var conform_text = $("#id_conform_text").val();
            var structure = $('#id_structure').val();
            var foundation = $('#id_foundation').val();
            var floors = $('#id_floors').val();
            var roof = $('#id_roof').val();
            var invelitoare = $('#id_invelitoare').val();
            var finish = $('#id_finish').val();
            var pardoseli = $('#id_pardoseli').val();
            var walls = $('#id_walls').val();
            var interior_carpentry = $('#id_interior_carpentry').val();
            var ceiling = $('#id_ceiling').val();
            var ef_choice = $('#id_ef_choice').val();
            var show_ef = $('#show_ef').val()
            var exterior_finishes = $('#id_exterior_finishes').val();
            var exterior_carpentry = $('#id_exterior_carpentry').val();
            var utilities = $('#id_utilities').val();
            var closure = $('#id_closure').val();
            var subcompartment = $('#id_subcompartment').val();
            var dotari = $('#id_dotari').val();
            var suprafete = $('#id_suprafete').val();
            var nr_pass = check_nrcrt();
            var room_pass = room_name_validation();
            var area_pass = area_validation();
            
            if (((show_conform == '1' && conform_text.length > 1) || conform.length > 0) && structure.length > 0 && foundation.length > 0 && floors.length > 0 && roof.length > 0 && invelitoare.length > 0 && finish.length > 0 && pardoseli.length > 1 && walls.length > 1 && interior_carpentry.length > 1 && ceiling.length > 1 && ((show_ef == '1' && exterior_finishes.length > 1) || ef_choice.length > 0) && exterior_carpentry.length > 1 && utilities.length > 0 && closure.length > 0 && subcompartment.length > 0 && dotari.length > 1 && suprafete.length > 1 && nr_pass == true && room_pass == true && area_pass == true) {
                $("#construction-form").submit();
            } else {
                if(show_conform == '1' && conform_text.length < 1) { 
                    $('#id_conform_text').addClass('required')
                    $(".conform_error").text('This field is required')
                } else if (conform.length < 1) {
                    $('#id_conform').addClass('required')
                    $(".conform_error").text('This field is required')
                } else {
                    $('#id_conform_text').removeClass('required')
                    $('#id_conform').removeClass('required')
                    $(".conform_error").text('')
                }
                
                if (structure.length < 1) {
                    $("#id_structure").addClass('required')
                    $(".structure").text('This field is required')
                } else {
                    $("#id_structure").removeClass('required')
                    $(".structure").text('')
                }
                
                if (foundation.length < 1) {
                    $("#id_foundation").addClass('required')
                    $(".foundation").text('This field is required')
                } else {
                    $("#id_foundation").removeClass('required')
                    $(".foundation").text('')
                }
                
                if (floors.length < 1) {
                    $("#id_floors").addClass('required')
                    $(".floors").text('This field is required')
                } else {
                    $("#id_floors").removeClass('required')
                    $(".floors").text('')
                }
                
                if (roof.length < 1) {
                    $("#id_roof").addClass('required')
                    $(".roof").text('This field is required')
                } else {
                    $("#id_roof").removeClass('required')
                    $(".roof").text('')
                }
                
                if (invelitoare.length < 1) {
                    $("#id_invelitoare").addClass('required')
                    $(".invelitoare").text('This field is required')
                } else {
                    $("#id_invelitoare").removeClass('required')
                    $(".invelitoare").text('')
                }
                
                if (finish.length < 1) {
                    $("#id_finish").addClass('required')
                    $(".finish_error").text('This field is required')
                } else {
                    $("#id_finish").removeClass('required')
                    $(".finish_error").text('')
                }
                
                if (pardoseli.length < 1) {
                    $("#id_pardoseli").addClass('required')
                    $(".pardoseli_error").text('This field is required')
                } else {
                    $("#id_pardoseli").removeClass('required')
                    $(".pardoseli_error").text('')
                }
                
                if (walls.length < 1) {
                    $("#id_walls").addClass('required')
                    $(".walls_error").text('This field is required')
                } else {
                    $("#id_walls").removeClass('required')
                    $(".walls_error").text('')
                }

                if (interior_carpentry.length < 1) {
                    $("#id_interior_carpentry").addClass('required')
                    $(".interior_carpentry").text('This field is required')
                } else {
                    $("#id_interior_carpentry").removeClass('required')
                    $(".interior_carpentry").text('')
                }
                
                if (ceiling.length < 1) {
                    $("#id_ceiling").addClass('required')
                    $(".ceiling_error").text('This field is required')
                } else {
                    $("#id_ceiling").removeClass('required')
                    $(".ceiling_error").text('')
                }

                if(show_ef == '1' && exterior_finishes.length < 1) { 
                    $('#id_exterior_finishes').addClass('required')
                    $(".ef_error").text('This field is required')
                } else if (ef_choice.length < 1) {
                    $('#id_ef_choice').addClass('required')
                    $(".ef_error").text('This field is required')
                } else {
                    $('#id_exterior_finishes').removeClass('required')
                    $('#id_ef_choice').removeClass('required')
                    $(".ef_error").text('')
                }
                
                if (exterior_carpentry.length < 1) {
                    $("#id_exterior_carpentry").addClass('required')
                    $(".ec_error").text('This field is required')
                } else {
                    $("#id_exterior_carpentry").removeClass('required')
                    $(".ec_error").text('')
                }
                
                if (utilities.length < 1) {
                    $(".utilities .ms-parent").addClass('required')
                    $(".utilities_error").text('This field is required')
                } else {
                    $(".utilities .ms-parent").removeClass('required')
                    $(".utilities_error").text('')
                }
                
                if (closure.length < 1) {
                    $("#id_closure").addClass('required')
                    $(".closure").text('This field is required')
                } else {
                    $("#id_closure").removeClass('required')
                    $(".closure").text('')
                }
                
                if (subcompartment.length < 1) {
                    $("#id_subcompartment").addClass('required')
                    $(".subcompartment").text('This field is required')
                } else {
                    $("#id_subcompartment").removeClass('required')
                    $(".subcompartment").text('')
                }

                if (dotari.length < 1) {
                    $("#id_dotari").addClass('required')
                    $(".dotari_error").text('This field is required')
                } else {
                    $("#id_dotari").removeClass('required')
                    $(".dotari_error").text('')
                }

                if (suprafete.length < 1) {
                    $("#id_suprafete").addClass('required')
                    $(".suprafete_error").text('This field is required')
                } else {
                    $("#id_suprafete").removeClass('required')
                    $(".suprafete_error").text('')
                }
            }
        })

        function check_nrcrt() {
            var pass = false;
            $('.nr').each(function() {
                if ($(this).val().length > 0) {
                    pass = true;
                    $(this).removeClass('required')
                } else {
                    pass = false;
                    $(this).addClass('required')
                }
            })
            return pass;
        }

        function room_name_validation() {
            var pass = false;
            $('input[name="room_name[]"]').each(function() {
                if($(this).val().length > 0) {
                    pass = true;
                    $(this).removeClass('required')
                } else {
                    pass = false;
                    $(this).addClass('required')
                }
            })
            return pass;
        }

        function area_validation() {
            var pass = false;
            $('input[name="area[]"]').each(function() {
                if($(this).val().length > 0) {
                    pass = true;
                    $(this).removeClass('required')
                } else {
                    pass = false;
                    $(this).addClass('required')
                }
            })
            return pass;
        }
    </script>
{% endblock javascripts %}  
