{% extends "base-form.html" %}

{% block title %} Rezumatul Evaluarii {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    {% load static %}
    <!-- dropzone file upload -->
    <script src="{% static 'dashboard/js/dropzone.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dashboard/css/dropzone.css' %}">
    
    <style>
        .msg {
            padding-left: 10px;
        }
        .btn-muted {
            background: rgba(169,175,187,.82);
            color: #fff;
        }
        .dropzone {
            padding: 20px 60px 20px!important;
        }
        .dropzone h4 {
            font-size: 26px!important;
        }
        .show-approach {
            display: block!important;
        }
        .market, .income {
            display: none;
        }
        .warning {
            font-size: 16px;
            border: 2px solid red;
            padding: 5px 20px;
            color: red;
        }
        .required {
            border-color: #F25961 !important;
            color: #F25961 !important;
        }
        .form-control[readonly] {
            background: #1a2035!important;
            border-color: #2f374b!important;
            opacity: 1!important;
        }
    </style>
{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Rezumatul Evaluarii</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="">Valuation Form</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="">Rezumatul Evaluarii</a>
                    </li>
                </ul>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="card-title">Cover Fotografii</div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="{% url 'valuation:save_photos' %}" class="dropzone dz-clickable" id="coverphotos">
                                {% csrf_token %}
                                <input type="hidden" name="vid" value="{{ valuation_id }}">
                                <input type="hidden" name="order" id="cover-order" value="">
                                <input type="hidden" name="refer_to" value="cover">
                                <div class="dz-message" data-dz-message="">
                                    <div class="icon">
                                        <i class="flaticon-file"></i>
                                    </div>
                                    <h4 class="message">Drag and Drop files here</h4>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="card-title">Rezumatul Evaluarii</div>
                </div>

                <div class="card-body">
                    <form method="POST" id="summary-value">
                        {% csrf_token %}

                        {% for error in form.non_field_errors %}
                            <p class="text-danger">{{error}}</p>
                        {% endfor %}
                        
                        {% if 'details' in pre_url %}
                        <input type="hidden" name="pre_url" value="details">
                        {% endif %}
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="id_valued_property">Proprietate Evaluata</label>
                                    <textarea name="valued_property" rows="5" class="form-control">Dreptul deplin de proprietate asupra apartamentului cu nr. {{valuation.apartment_no}}, compus din {{camara|floatformat:"0"}} camere si dependinte cu o suprafata utila de 121.63 mp si trei balcoane cu suprafata lor totala de 121.63, rezultand suprafata utila totala de 121.63 mp, impreuna cu dreptul de proprietate asupra cotei indivize de 56.72 mp din partile si dependintele comune ale imobilului si dreptul de proprietate asupra terenului in suprafata de indiviza de 53.59 mp.</textarea>
                                    {{ form.valued_property.error }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mb-4">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_purpose">Scopul Evaluarii <span class="required-label">*</span></label>
                                    {{ form.purpose }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_fer">Curs valutar <span class="required-label">*</span></label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" name="fer" id="id_fer" value="{{ fer }}" step="0.01" readonly>
                                        <div class="input-group-append">
                                            <span class="input-group-text">RON</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_fer_date">Data <span class="required-label">*</span></label>
                                    <input type="date" id="id_fer_date" class="form-control" name="fer_date" value="{{yesterday}}" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="market_approach">
                                        <span class="form-check-sign text-light">Abordarea prin piata</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="id_amav">Apartament <span class="required-label">*</span></label>
                                    <div class="input-group">
                                        {{ form.amav }}
                                        <div class="input-group-append">
                                            <span class="input-group-text">EUR</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="id_amav">Loc de parcare nr. {% if above_parking %}{{above_parking|floatformat:'0'}}{% else %}0{% endif %}</label>
                                    <div class="input-group">
                                        {{ form.suprateran_mv }}
                                        <div class="input-group-append">
                                            <span class="input-group-text">EUR</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="id_amav">Loc de parcare nr. {% if below_parking %}{{below_parkin|floatformat:'0'}}{% else %}0{% endif %}</label>
                                    <div class="input-group">
                                        {{form.subteran_mv}}
                                        <div class="input-group-append">
                                            <span class="input-group-text">EUR</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="id_amav">Boxa nr. {% if boxa %}{{boxa|floatformat:'0'}}{% else %}0{% endif %}</label>
                                    <div class="input-group">
                                        {{ form.boxa_mv }}
                                        <div class="input-group-append">
                                            <span class="input-group-text">EUR</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="income_approach">
                                        <span class="form-check-sign text-light">Abordarea prin venit</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="id_amav">Apartament <span class="required-label">*</span></label>
                                    <div class="input-group">
                                        {{form.aiav}}
                                        <div class="input-group-append">
                                            <span class="input-group-text">EUR</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="id_amav">Loc de parcare nr. {% if above_parking %}{{above_parking|floatformat:'0'}}{% else %}0{% endif %}</label>
                                    <div class="input-group">
                                        {{form.suprateran_iv}}
                                        <div class="input-group-append">
                                            <span class="input-group-text">EUR</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="id_amav">Loc de parcare nr. {% if below_parking %}{{below_parking|floatformat:'0'}}{% else %}0{% endif %}</label>
                                    <div class="input-group">
                                        {{form.subteran_iv}}
                                        <div class="input-group-append">
                                            <span class="input-group-text">EUR</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="id_amav">Boxa nr. {% if boxa %}{{boxa|floatformat:'0'}}{% else %}0{% endif %}</label>
                                    <div class="input-group">
                                        {{form.boxa_iv}}
                                        <div class="input-group-append">
                                            <span class="input-group-text">EUR</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card-header">
                    <div class="card-title">Rezumatul Fotografii</div>
                </div>
                
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="{% url 'valuation:save_photos' %}" class="dropzone dz-clickable" id="summaryphotos">
                                {% csrf_token %}
                                <input type="hidden" name="vid" value="{{ valuation_id }}">
                                <input type="hidden" name="order" id="summary-order" value="">
                                <input type="hidden" name="refer_to" value="summary">
                                <div class="dz-message" data-dz-message="">
                                    <div class="icon">
                                        <i class="flaticon-file"></i>
                                    </div>
                                    <h4 class="message">Drag and Drop files here</h4>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card-action">
                    {% if summary %}
                    <button class="btn btn-success step-two-next" id="finish">UPDATE</button>
                    {% else %}
                    <button class="btn btn-success step-two-next" id="finish">{% if 'details' in pre_url %}SAVE{% else %}Next{% endif %}</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script type="text/javascript">
        // upload cover photos 
        var corder = 1;
        $("#coverphotos").click(function () {
            $('#cover-order').val(corder);
            corder++;
        })
        Dropzone.options.coverphotos = {
            maxFiles: 4,
            init: function() {
                this.on("maxfilesexceeded", function(file){
                    alert("No more files please!");
                });
            }
        };
        // upload photos
        var sorder = 1;
        $("#summaryphotos").click(function () {
            $('#summary-order').val(sorder);
            sorder++;
        })
        Dropzone.options.summaryphotos = {
            maxFiles: 4,
            init: function() {
                this.on("maxfilesexceeded", function(file){
                    alert("No more files please!");
                });
            }
        };
        // upload photos

        // select approach and change data field
        $("#id_approach").change(function() {
            var value = $(this).children("option:selected").val();
            if (value == 'market') {
                $('.income').css('display', 'none');
                $('.show-approach').attr("style", "display: none !important");
                $('.market').css('display', 'block');
            } else if (value == 'income') {
                $('.market').css('display', 'none');
                $('.show-approach').attr("style", "display: none !important");
                $('.income').css('display', 'block');
            }
        });
        // select approach and change data field

        // submit form
        $("#finish").click(function () {
            var approach = $("#id_approach").val()
            var submit = true;
            if(approach=='market') {
                var minput = $(".market").find('input')
                for (let i=0; i<minput.length; i++) {
                    var mval = $(minput[i]).val()
                    if (mval.length == 0) {
                        $(minput[i]).addClass('required');
                        submit = false;
                        console.log('market if ' + submit);
                    }
                }
            } else {
                var iinput = $(".income").find('input')
                for (let i=0; i<iinput.length; i++) {
                    var ival = $(iinput[i]).val()
                    if(ival.length == 0) {
                        $(iinput[i]).addClass('required');
                        submit = false;
                        console.log('income if ' + submit);
                    }
                }
            }
            
            if(submit) {
                $("#summary-value").submit();
            }
        });
        // submit form
    </script>
{% endblock javascripts %}  
