{% extends "base.html" %}

{% block title %} {% if instance %} Edit Comparabile {% else %} Add Comparabile {% endif %} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    {% load static %}
    <!-- bootstrap datepicker  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css" rel="stylesheet">

    <style>
        .ms-choice {
            background: transparent;
            border: none;
            height: 19px;
        }
        .ms-choice>span {
            color: #fff;
            top: 5px;
            left: 8px;
        }
        .ms-drop {
            left: 0;
        }
        .ms-drop span {
            color: #1a2035!important;
        }
        .table td {
            border-bottom: none!important;
            height: 40px!important;
            padding-top: 8px!important;
        }
        .required {
            border-color: #F25961 !important;
            color: #F25961 !important;
        }
    </style>
{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title"> {% if instance %} Edit Comparabile {% else %} Add Comparabile {% endif %} </h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'dashboard:comparable_list' %}">Proprietati Comparabile</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href=""> {% if instance %} Edit Comparabile {% else %} Add Comparabile {% endif %} </a>
                    </li>
                </ul>
            </div>
            
            {% load my_filters %}
            <div class="card">
                <div class="card-header">
                    <div class="card-title"> {% if instance %} Edit Comparabile {% else %} Add Comparabile {% endif %} </div>
                </div>
                
                <form method="POST" id="comp_prop_form">
                    {% csrf_token %}
                    <div class="card-body">
                        <p class="text-danger error" style="display: none;">Red box fields are required.</p>
                        {% if msg %}
                            <p class="text-danger">{{msg}}</p>
                        {% endif %}
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td colspan="2" style="text-align: center;color: #fff;font-weight: bold;">Proprietate Comparabile</td>
                                </tr>
                                <tr>
                                    <td style="color: #fff;font-weight: bold;">Element de comparatie</td>
                                    <td style="color: #fff;font-weight: bold;">Element Value</td>
                                </tr>
                                <tr>
                                    <td>Preţ de oferta/vanzare (EURO) <span class="required-label">*</span></td>
                                    <td>{{ form.sale_price }}</td>
                                </tr>
                                <tr>
                                    <td>Mobila <span class="required-label">*</span></td>
                                    <td>
                                        <select id="id_mobila" class="form-control" name="mobila">
                                            {% for mt in mobila %}
                                            <option value="{{mt.type}}" {% if instance.mobila == mt.type %}selected{% endif %}>{{mt.type}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ajustare (EUR)</td>
                                    <td>{{ form.ma }}</td>
                                </tr>
                                <tr>
                                    <td>Loc de parcare/boxa</td>
                                    <td>{{ form.parking_boxa }}</td>
                                </tr>
                                <tr>
                                    <td>Ajustare (EUR)</td>
                                    <td>{{ form.pba }}</td>
                                </tr>
                                <tr>
                                    <td>Date disponibile <span class="required-label">*</span></td>
                                    <td>
                                        <select id="id_ad" class="form-control ad" name="ad">
                                            <option value="Oferta" {% if instance.ad == 'Oferta' %}selected{% endif%}>Oferta</option>
                                            <option value="Tranzactie" {% if instance.ad == 'Tranzactie' %}selected{% endif%}>Tranzactie</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align: center;color: #fff;font-weight: bold; padding-top: 20px!important;">Ajustari pentru conditiile tranzactiilor</td>
                                </tr>
                                <tr>
                                    <td>Drepturi de proprietate <span class="required-label">*</span></td>
                                    <td>
                                        <select id="id_pr" class="form-control" name="pr">
                                            {% for p in prop_rights %}
                                            <option value="{{p.type}}" {% if instance.pr == p.type %}selected{% endif%}>{{p.type}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Condiţii de finanţare <span class="required-label">*</span></td>
                                    <td>
                                        <select id="id_fc" class="form-control" name="fc">
                                            <option value="normale">Normale</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Conditii de vanzare <span class="required-label">*</span></td>
                                    <td>
                                        <select id="id_sc" class="form-control" name="sc">
                                            <option value="independente">Independente</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cheltuieli necesare imediat dupa cumparare <span class="required-label">*</span></td>
                                    <td>
                                        <select id="id_ape" class="form-control" name="ape">
                                            <option value="nu" {% if instance.ape == 'nu' %}selected{% endif%}>Nu</option>
                                            <option value="da" {% if instance.ape == 'da' %}selected{% endif%}>Da</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Conditii de piata <span class="required-label">*</span></td>
                                    <td>
                                        {% if instance %}
                                        <input type="text" class="form-control" name="me" id="id_me" value="{{ instance.me }}"/>
                                        {% else %}
                                        <input type="text" class="form-control" name="me" id="id_me"/>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align: center;color: #fff;font-weight: bold; padding-top: 20px!important;">Ajustari specifice proprietatii</td>
                                </tr>
                                <tr>
                                    <td>Localizare <span class="required-label">*</span></td>
                                    <td>{{ form.lc }}</td>
                                </tr>
                                <tr>
                                    <td>Compartimentare <span class="required-label">*</span></td>
                                    <td>
                                        <select id="id_cp" class="form-control" name="cp">
                                            {% for c in comp_type %}
                                            <option value="{{c.type}}" {% if c.type == instance.cp %}selected{% endif %}>{{c.type}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>AN PIF <span class="required-label">*</span></td>
                                    <td>{{form.cy}}</td>
                                </tr>
                                <tr>
                                    <td>Numar de camere <span class="required-label">*</span></td>
                                    <td>{{form.camara}}</td>
                                </tr>
                                <tr>
                                    <td>Suprafata utila (mp) <span class="required-label">*</span></td>
                                    <td>{{form.area}}</td>
                                </tr>
                                <tr>
                                    <td>Finisaje <span class="required-label">*</span></td>
                                    <td>
                                        <select id="id_finish" class="form-control" name="finish">
                                            {% for f in finish_type %}
                                            <option value="{{f.type}}" {% if f.type == instance.finish %}selected{% endif %}>{{f.type}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Regim de inaltime <span class="required-label">*</span></td>
                                    <td>{{form.etaj}}</td>
                                </tr>
                                <tr>
                                    <td>Balcon (mp) <span class="required-label">*</span></td>
                                    <td>{{form.balcon}}</td>
                                </tr>
                                <tr>
                                    <td>Sistem de incalzire <span class="required-label">*</span></td>
                                    <td>
                                        <select class="form-control" name="hs">
                                            {% for h in heating %}
                                            <option value="{{h.name}}" {% if h.name == instance.hs %}selected{% endif %}>{{h.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
                    
                <div class="card-action">
                    <p class="text-danger error" style="display: none;">Red box fields are required.</p>
                    <button class="btn btn-success" id="submitbtn">{% if instance %}Update{% else %}Save{% endif %}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <!-- bootstrap datepicker  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>
    
    <script>
        $("#id_me").datepicker( {
            format: "MM yyyy",
            startView: "months", 
            minViewMode: "months"
        });

        $('#submitbtn').on('click', function () {
            var pass = true;
            var inputs = $('#comp_prop_form input:not(.optional input)').each(function() {
                if(this.value.length > 0) {
                    $(this).removeClass('required')
                } else {
                    pass = false;
                    $(this).addClass('required');
                }
            });
            if(pass == true) {
                $('#comp_prop_form').submit();
            } else {
                $('.error').css('display', 'block');
            }
        });
    </script>
{% endblock javascripts %}  
