{% extends "base-form.html" %}
 
{% block title %} Rezumatul Evaluarii {% endblock %} 
 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    {% load static %}
    <!--  dropzone file upload -->
    <script src="{% static 'dashboard/js/dropzone.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dashboard/css/dropzone.css' %}">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-alpha1/html2canvas.js"> -->
</script>
    <!-- select2 js -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">
    <script>
        // Dropzone.autoDiscover = false;
    </script>
    <style>
        
        #map {
          height: 400px;
          /* The height is 400 pixels */
          width: 100%;
          /* The width is the width of the web page */
        }
 
        #mapid { 
            height: 400px;
            width: 100%; 
        }
        .msg {
            padding-left: 10px;
        }
        .btn-muted {
            background: rgba(169,175,187,.82);
            color: #fff;
        }
        .dropzone {
            padding: 20px 60px 20px!important;
        }
        .dropzone h4 {
            font-size: 26px!important;
        }
        .show-approach {
            display: block!important;
        }
        .market, .income {
            display: none;
        }
        .warning {
            font-size: 16px;
            border: 2px solid red;
            padding: 5px 20px;
            color: red;
        }
        .required {
            border-color: #F25961 !important;
            color: #F25961 !important;
        }
        .form-control[readonly] {
            background: #1a2035!important;
            border-color: #2f374b!important;
            opacity: 1!important;
        }
    </style>
{% endblock stylesheets %}
 
{% block content %}
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Anexa</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="">Anexa1</a>
                    </li>
                </ul>
            </div>
 
            <div class="card">
                <div class="card-header">
                    <button id="btnScreenshot" class="btn-sm btn-primary">Take Screenshot</button>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="map"></div>
                        </div>
                    </div> 
                </div>
 
                <div class="card-header">
                    <div class="card-title">Select one image among screenshots</div>
                </div>
                <div class="card-body">
                    <div class="row" >
                        <div class="col-12"id="gellary">
                            
                        </div>
                    </div>
                </div>
            </div>
 
            <div class="card">
                <div class="card-body custom-field" id="customField">
                    <div class="row">
                        <div class="col-md-4 mb-2">
                            <div class="form-group">
                                <label>Location Name</label>
                                <input type="text" class="form-control" id="cfn_1" name="cf_name[]" placeholder="e.g. Loc de parcare NC 12345" required="">
                            </div>
                        </div>
                        <div class="col-md-7 mb-2">
                            <div class="form-group">
                                <form method="POST" action="#" class="cff_1 dropzone dz-clickable" id="anexaPhotos" name="dropzoneForm" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="pid" value="{{ property.id }}">
                                    <input type="hidden" name="order" id="anexa-order" value="">
                                    <input type="hidden" name="refer_to" value="anexa">
                                    <div class="dz-message" data-dz-message="">
                                        <div class="icon">
                                            <i class="flaticon-file"></i>
                                        </div>
                                        <h4 class="message">Drag and Drop files here</h4>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-1 mb-2">
                            <div class="form-group">
                                <button type="button" class="btn btn-icon btn-round btn-primary" style="margin-top: 1.7rem;" id="add_cf" data-toggle="tooltip" data-placement="top" title="Add New">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
 
                <div class="card-header">
                    <button id="btnTable" class="btn btn-primary">Next</button>
                </div>
            </div>
        </div>
    </div>
 
 
{% endblock content %}
 
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
 
    <script type="text/javascript">
 
        // ========================= google map management  =============================
        let map;
 
        function initMap() {
            const uluru = { lat:Number('{{valuation.latitude}}'), lng:Number('{{valuation.longitude}}') };
            map = new google.maps.Map(document.getElementById("map"), {
                center: uluru,
                zoom: 16,
 
                streetViewControl: false,
            });
        // The marker, positioned at Uluru
          const marker = new google.maps.Marker({
            position: uluru,
            map: map,
          });
        }
 
        // ========================= google map management  =============================
</script>
 
  <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6uxSk8UXHWEx4mDvBGtrHW5s0JgFRl6w&libraries=drawing,places&callback=initMap" async defer>
  </script>
 
<script type="text/javascript">
 
        // map screenshot
 
        $("#btnScreenshot").click(function(){
            var screenshot_blob = NaN;
            html2canvas(document.getElementById('map'), {
                useCORS: true,
                optimized: false,
                allowTaint: false,
                onrendered: function (canvas) {
                    var tempcanvas=document.createElement('canvas');
                    tempcanvas.width=1300;
                    tempcanvas.height=700;
                    var context=tempcanvas.getContext('2d');
                    context.drawImage(canvas,0,0,1300,700);
                    var link=document.createElement("img");
                    link.href=tempcanvas.toDataURL('image/png');   //function blocks CORS
                    screenshot_blob = link.href;
                    // console.log(screenshot_blob);
                    $.ajax({
                        type: "POST",
                        url: "{% url 'valuation:screenshot_html' %}",
                        dataType: 'json',
                        data: {
                            "csrfmiddlewaretoken": "{{csrf_token}}",
                            "screenshot_blob":JSON.stringify(screenshot_blob),
                            "class_name": "Anexa1",
                            "valuated_id": 4,
                        },
                        success: function(response){
                            var msg = response.msg;
                            image_objects = response.objects;
                            var img_url = image_objects;
                            console.log(img_url);
                            var gellary = document.getElementById('gellary');
                            // creating img tag and add to gellary
                            var img_id = img_url.split('/')
                            img_id = img_id[img_id.length-1]
                            let img = document.createElement('img');
                            img.className = "shoot-img";
                            img.src= img_url;
                            img.id = img_id;
                            img.style.width = '480px';
                            img.style.height = '245px';
                            img.style.margin = '8px'; 
                            
                            img.addEventListener('click', image_selection);
                            document.getElementById("gellary").appendChild(img);
 
                            if(msg.length>0) {
                                var content = {};
                                var state = "success";
                                content.message = 'Screenshot has been take!';
                                content.title = 'Success!';
 
                                content.icon = 'fa fa-bell';
                             $.notify(content,{
                                    type: state,
                                    placement: {
                                        from: 'top',
                                        align: 'right'
                                    },
                                    time: 1000,
                                    delay: 0,
                                });
                                // closing notification
                                setTimeout(function(){
                                    $('.close').trigger('click');
                                }, 4000);
                            }
                            // document.getElementById('imgScreenshot').src = response['Content-Disposition'];
                        }
                    })
                    link.download = 'screenshot.jpg';
                    link.click();
                }
            });            
 
        })
 
        // map screenshot
        
        var selected_image = [];
        // gellary image selection
        function image_selection(e){
            var img = document.getElementById(this.id);
            console.log(img);
            if(img.style.border==''){
                img.style.border = '2px solid red';
            }
            else{
                img.style.border = '';                
            }
        }
        // gellary image selection
 
        // uuid generate
        function uuidv4() {
            return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
            );
        }
        // uuid generate
 
 
        // dropzone file pass
        let file_order = {};
        let location_name_order = {};
        // dropzone file pass
 
        // upload photos
        Dropzone.options.anexaPhotos = {
            maxFiles: 10,
            addRemoveLinks: true,
            parallelUploads:10,
            uploadMultiple: true,
            removedfile: function(file) {
                // file in which form:id
                var cff_id = this.clickableElements[0].className.split(' ')[0];
                cff_id = cff_id.split('_')[1];
 
                // file.upload.filename: returns acutal renamed file name
                console.log("Removed")
                console.log(file.upload.filename);
 
                $.ajax({
                    type:"POST",
                    url:"{% url 'valuation:delete_file_model' %}",
                    dataType:'json',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data:{
                        "file_name": String(file.upload.filename),
                        "remove": "ok",
                    },
                    success:function(response){
                        file_order[cff_id].pop(response.status);
                        console.log(file_order[cff_id]);
                    },
 
                })
                file.previewElement.remove();
            },
            renameFile: function (file) {
                return file.name = String(uuidv4()) + '.' + file.name.split('.').pop();
            },
 
            init: function() {
                this.on("maxfilesexceeded", function(file){
                    alert("No more files please!");
                });
                this.on("addedfile", function(file) { 
                }); 
                this.on('thumbnail', function(file, dataUri) {
                    // console.log(dataUri)                    
                });
                this.on("success", function (file, response) {
                    var fid_list = response.id_list;
                    // file in which form:id
                    var cff_id = this.clickableElements[0].className.split(' ')[0];
                    cff_id = cff_id.split('_')[1];
 
                    if (!file_order[cff_id]) {
                        file_order[cff_id] = fid_list;
                    }
                    else{
                        for(var i=0; i<fid_list.length; i++){
                            file_order[cff_id].push(fid_list[i]);
                        }
                    }       
                    console.log("File added")
                    console.log(file_order[cff_id]);                   
 
                });
            }
        };
        // upload photos
 
 
        // pass image selected from screenshots
        $('#btnTable').click(function(){
            var images = document.getElementsByClassName('shoot-img');
            for(var i=0;i<images.length;i++){   
                if(images[i].style.border!=''){
                    selected_image.push(images[i].id);
                }
            }
            console.log(selected_image);
            if(selected_image.length>0){
                console.log(file_order);
                $.ajax({
                    type:"POST",
                    url:"{% url 'valuation:add_anexa1' valuation.id %}",
                    dataType:'json',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data:{
                        "image": JSON.stringify(selected_image), 
                        "file": file_order,
                        "pid": -1,
 
                    },
                    success:function(data){    
 
                        //  if(data.status==1){
                        //     window.location = "{% url 'valuation:add_anexa2' valuation.id %}";
                        // }
                    },
 
                })
            }
            else{
                var content = {};
                var state = "danger";
                content.message = 'Please choose images from below!';
                content.title = 'Error!';
 
                content.icon = 'fa fa-bell';
                $.notify(content,{
                    type: state,
                    placement: {
                        from: 'top',
                        align: 'right'
                    },
                    time: 1000,
                    delay: 0,
                });
                // closing notification
                setTimeout(function(){
                    $('.close').trigger('click');
                }, 4000);
            }
        })   
 
        var cf_id = 2;
 
         // ========================== manage custom field =========================== 
        $(document).ready(function(){
            var maxField = 10;
            var addButton = $('#add_cf');
            var wrapper = document.getElementById('customField');
            //Once add button is clicked
            $(addButton).click(function(){
                if(cf_id < maxField){
                    const rowDiv = document.createElement("div");
                    rowDiv.classList.add("row");
 
                    const colDiv = document.createElement("div");
                    colDiv.classList.add("col-md-4");
                    colDiv.classList.add("mb-2");
 
                    const formGroup = document.createElement("div");
                    formGroup.classList.add("form-group");
 
                    const level = document.createElement("level");
                    level.innerHTML = "Custom Field";
 
                    const input = document.createElement("input");
                    input.type = "text";
                    input.classList = "form-control";
                    input.id = "cfn_" + cf_id;
                    input.placeholder = "e.g. Name";
                    
                    formGroup.appendChild(level);
                    formGroup.appendChild(input);
                    colDiv.appendChild(formGroup);
 
                    rowDiv.appendChild(colDiv);
 
                    // dropzone DOM
                    const colDiv2 = document.createElement("div");
                    
                    colDiv2.classList.add("col-md-7");
                    colDiv2.classList.add("mb-2");
 
                    const dropForm = document.createElement("form");
                    dropForm.method = "POST";
                    var classMake = "cff_"+cf_id;
                    dropForm.classList.add(String(classMake));
                    dropForm.classList.add("dropzone");
                    dropForm.classList.add("dz-clickable");
 
                    dropForm.id = "anexaPhotos";
                    dropForm.name="dropzoneForm";
                    dropForm.enctype="multipart/form-data";
 
                    // dropForm.innerHTML = "{%csrf_token%}";
                    var inputElem = document.createElement('input');
                    inputElem.type = 'hidden';
                    inputElem.name = 'csrfmiddlewaretoken';
                    inputElem.value = '{{ csrf_token }}';
                    dropForm.appendChild(inputElem);
 
                    const dzMessage = document.createElement("div");
                    dzMessage.classList.add("dz-message");
 
                    const iconDiv = document.createElement("icon");
                    const iElement = document.createElement("i");
                    iElement.classList.add("flaticon-file");
                    iconDiv.appendChild(iElement)
                    const h4 = document.createElement("h4");
                    h4.classList.add("message")
                    h4.innerHTML = "Drag and Drop files here";
                    dzMessage.appendChild(iconDiv);
                    dzMessage.appendChild(h4);
 
                    dropForm.appendChild(dzMessage);
 
                    const formGroup2 = document.createElement("div");
                    formGroup2.classList.add("form-group");
 
                    formGroup2.appendChild(dropForm);
                    colDiv2.appendChild(formGroup2);
                    rowDiv.appendChild(colDiv2);
 
 
                    // add custom
                    const colDiv3 = document.createElement("div");
                    
                    colDiv3.classList.add("col-md-1");
                    colDiv3.classList.add("mb-2");
                    const formGroup3 = document.createElement("div");
                    formGroup3.classList.add("form-group");
 
                    const button = document.createElement("button");
                    button.type="button";
                    button.classList.add("btn"); 
                    button.classList.add("btn-icon");
                    button.classList.add("btn-round");
                    button.classList.add("btn-danger");
                    button.style.marginTop="1.7rem;";
                    button.id="remove_cf";
                    button.dataToggle="tooltip";
                    button.dataPlacement="top";
                    button.title="Add New";
 
                    const iElement2 = document.createElement("i");
                    iElement2.classList.add("fas");
                    iElement2.classList.add("fa-minus");
 
                    button.appendChild(iElement2);
                    formGroup3.appendChild(button);
                    colDiv3.appendChild(formGroup3);
 
                    rowDiv.appendChild(colDiv3);
 
                    wrapper.appendChild(rowDiv);


                        

                }
                cf_id++;
            });
            
            //Once remove button is clicked
            $(wrapper).on('click', '#remove_cf', function(e){
                e.preventDefault();
                $(this).parents('.row').remove();
            });
        });
 
    </script>
 
{% endblock javascripts %}