{% extends "base-form.html" %}

{% block title %} Rezumatul Evaluarii {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    {% load static %}
    <!-- dropzone file upload -->
    <script src="{% static 'dashboard/js/dropzone.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dashboard/css/dropzone.css' %}">
    
    <!-- re-order image -->
    <link rel="stylesheet" href="{% static 'dashboard/css/jquery-ui.css' %}">
    
    <style>
        .msg {
            padding-left: 10px;
        }
        .btn-muted {
            background: rgba(169,175,187,.82);
            color: #fff;
        }
        .dropzone {
            padding: 20px 60px 20px!important;
        }
        .dropzone h4 {
            font-size: 26px!important;
        }
        .show-approach {
            display: block!important;
        }
        .market, .income {
            display: none;
        }
        .warning {
            font-size: 16px;
            border: 2px solid red;
            padding: 5px 20px;
            color: red;
        }
        .required {
            border-color: #F25961 !important;
            color: #F25961 !important;
        }
        .form-control[readonly] {
            background: #1a2035!important;
            border-color: #2f374b!important;
            opacity: 1!important;
        }
        
        #cover-container, #summary-container{
            margin-bottom: 14px;
        }
        #cover-list, #summary-list { 
            list-style-type: none; 
            margin: 0; 
            padding: 0; 
        }
        #cover-list li, #summary-list li { 
            margin: 10px 20px 10px 0px; 
            display: inline-block;
        }
        #cover-list li img, #summary-list li img {
            width: 150px;
            height: 100px;
        }
        #txtresponse, #summary-txtresponse{
            padding: 10px 20px;
            border-radius: 3px;
            margin-bottom: 10px;
            display: none;
            width: 100%;
            border :#E0E0E0 1px solid;
            color: white;  
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    {% load my_filters %}
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Rezumatul Evaluarii</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="">Valuation Form</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="">Rezumatul Evaluarii</a>
                    </li>
                </ul>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="card-title">Cover Fotografii</div>
                </div>

                <div class="card-body cover_photos">
                    <div class="row">
                        {% if cover_photo %}
                            <div class="col-md-12">
                                <div id="cover-container">
                                    <div id="txtresponse" >Images order is updated</div>
                                    <ul id="cover-list" class="mb-2">
                                        {% for c in cover_photo %}
                                            <li id="cover_{{ c.id }}" class="text-center">
                                                <img src="{{ c.image.url }}" alt="Cover photo" class="photos"> <br>
                                                <span onclick="delete_cover('{{c.id}}')" class="text-info" style="cursor: pointer;"><u>Remove</u></span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <button class="btn btn-secondary re-order btn-sm">REORDER</button>
                                </div>
                            </div>
                        {% endif %}

                        <div class="col-md-12 cover_upload">
                            <form action="{% url 'valuation:save_photos' %}" class="dropzone dz-clickable" id="coverphotos">
                                {% csrf_token %}
                                <input type="hidden" name="vid" value="{{ valuation.id }}">
                                <input type="hidden" name="order" id="cover-order" value="">
                                <input type="hidden" name="refer_to" value="cover">
                                <div class="dz-message" data-dz-message="">
                                    <div class="icon">
                                        <i class="flaticon-file"></i>
                                    </div>
                                    <h4 class="message">Drag and Drop files here</h4>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="card-title">Rezumatul Evaluarii</div>
                </div>

                <div class="card-body">
                    <form method="POST" id="summary-value">
                        {% csrf_token %}

                        {% for error in form.non_field_errors %}
                            <p class="text-danger">{{error}}</p>
                        {% endfor %}
                        
                        {% if 'details' in pre_url %}
                        <input type="hidden" name="pre_url" value="details">
                        {% endif %}
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="id_valued_property">Proprietate Evaluata <span class="required-label">*</span></label>
                                    <textarea name="valued_property" id="id_valued_property" rows="5" class="form-control">Dreptul deplin de proprietate asupra apartamentului cu nr. {{valuation.apartment_no}}, compus din {{camara|floatformat:"0"}} camere si dependinte cu o suprafata utila de 0.00 mp si trei balcoane cu suprafata lor totala de 0.00, rezultand suprafata utila totala de 0.00 mp, impreuna cu dreptul de proprietate asupra cotei indivize de 0.00 mp din partile si dependintele comune ale imobilului si dreptul de proprietate asupra terenului in suprafata de indiviza de 0.00 mp.</textarea>
                                    <small class="form-text text-danger valued_property_error"></small>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mb-4">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_purpose">Scopul Evaluarii <span class="required-label">*</span></label>
                                    {{ form.purpose }}
                                    <small class="form-text text-danger purpose_error"></small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_fer">Curs valutar <span class="required-label">*</span></label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" name="fer" id="id_fer" value="{{ fer }}" step="0.01" readonly>
                                        <div class="input-group-append">
                                            <span class="input-group-text">RON</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_fer_date">Data <span class="required-label">*</span></label>
                                    <input type="date" id="id_fer_date" class="form-control" name="fer_date" value="{{yesterday}}" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="market_approach" id="market_approach" checked>
                                        <span class="form-check-sign text-light">Abordarea prin piata</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="id_amav">Apartament <span class="required-label">*</span></label>
                                    <div class="input-group">
                                        {{ form.amav }}
                                        <div class="input-group-append">
                                            <span class="input-group-text">EUR</span>
                                        </div>
                                    </div>
                                    <small class="form-text text-danger amav_error"></small>
                                </div>
                            </div>

                            {% if above_parking %}
                                {% for i in above_parking|myrange %}
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" name="field_name_mv[]" value="Loc de parcare" class="form-control">
                                        <div class="input-group">
                                            <input type="number" name="field_value_mv[]" class="form-control mv_ap" step="0.01">
                                            <div class="input-group-append">
                                                <span class="input-group-text">EUR</span>
                                            </div>
                                        </div>
                                        <small class="text-danger form-text mv_ap_error"></small>
                                    </div>
                                </div>
                                {% endfor %}
                            {% endif %}

                            {% if below_parking %}
                                {% for i in below_parking|myrange %}
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" name="field_name_mv[]" value="Loc de parcare" class="form-control" >
                                        <div class="input-group">
                                            <input type="number" name="field_value_mv[]" class="form-control mv_bp" step="0.01">
                                            <div class="input-group-append">
                                                <span class="input-group-text">EUR</span>
                                            </div>
                                        </div>
                                        <small class="text-danger form-text mv_bp_error"></small>
                                    </div>
                                </div>
                                {% endfor %}
                            {% endif %}

                            {% if boxa %}
                                {% for i in boxa|myrange %}
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" name="field_name_mv[]" value="Boxa" class="form-control" >
                                        <div class="input-group">
                                            <input type="number" name="field_value_mv[]" class="form-control mv_boxa" step="0.01">
                                            <div class="input-group-append">
                                                <span class="input-group-text">EUR</span>
                                            </div>
                                        </div>
                                        <small class="text-danger form-text mv_boxa_error"></small>
                                    </div>
                                </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="income_approach" id="income_approach" checked>
                                        <span class="form-check-sign text-light">Abordarea prin venit</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="id_amav">Apartament <span class="required-label">*</span></label>
                                    <div class="input-group">
                                        {{form.aiav}}
                                        <div class="input-group-append">
                                            <span class="input-group-text">EUR</span>
                                        </div>
                                    </div>
                                    <small class="form-text text-danger aiav_error"></small>
                                </div>
                            </div>

                            {% if above_parking %}
                                {% for i in above_parking|myrange %}
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" name="field_name_iv[]" value="Loc de parcare" class="form-control" >
                                        <div class="input-group">
                                            <input type="number" name="field_value_iv[]" class="form-control iv_ap" step="0.01">
                                            <div class="input-group-append">
                                                <span class="input-group-text">EUR</span>
                                            </div>
                                        </div>
                                        <small class="form-text text-danger iv_ap_error"></small>
                                    </div>
                                </div>
                                {% endfor %}
                            {% endif %}

                            {% if below_parking %}
                                {% for i in below_parking|myrange %}
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" name="field_name_iv[]" value="Loc de parcare" class="form-control" >
                                        <div class="input-group">
                                            <input type="number" name="field_value_iv[]" class="form-control iv_bp" step="0.01">
                                            <div class="input-group-append">
                                                <span class="input-group-text">EUR</span>
                                            </div>
                                        </div>
                                        <small class="form-text text-danger iv_bp_error"></small>
                                    </div>
                                </div>
                                {% endfor %}
                            {% endif %}

                            {% if boxa %}
                                {% for i in boxa|myrange %}
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" name="field_name_iv[]" value="Boxa" class="form-control" >
                                        <div class="input-group">
                                            <input type="number" name="field_value_iv[]" class="form-control iv_boxa" step="0.01">
                                            <div class="input-group-append">
                                                <span class="input-group-text">EUR</span>
                                            </div>
                                        </div>
                                        <small class="text-danger form-text iv_boxa_error"></small>
                                    </div>
                                </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </form>
                </div>

                <div class="card-header">
                    <div class="card-title">Rezumatul Fotografii</div>
                </div>
                
                <div class="card-body summary_photos">
                    <div class="row">
                        {% if summary_photo %}
                            <div class="col-md-12">
                                <div id="summary-container">
                                    <div id="summary-txtresponse" >Images order is updated</div>
                                    <ul id="summary-list" class="mb-2">
                                        {% for c in summary_photo %}
                                            <li id="summary_{{ c.id }}" class="text-center">
                                                <img src="{{ c.image.url }}" alt="Summary photo"> <br>
                                                <span onclick="delete_summary('{{c.id}}')" class="text-info" style="cursor: pointer;"><u>Remove</u></span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <button class="btn btn-secondary summary-reorder btn-sm">REORDER</button>
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-md-12 summary_upload">
                            <form action="{% url 'valuation:save_photos' %}" class="dropzone dz-clickable" id="summaryphotos">
                                {% csrf_token %}
                                <input type="hidden" name="vid" value="{{ valuation.id }}">
                                <input type="hidden" name="order" id="summary-order" value="">
                                <input type="hidden" name="refer_to" value="summary">
                                <div class="dz-message" data-dz-message="">
                                    <div class="icon">
                                        <i class="flaticon-file"></i>
                                    </div>
                                    <h4 class="message">Drag and Drop files here</h4>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card-action">
                    {% if summary %}
                    <button class="btn btn-success step-two-next" id="finish">UPDATE</button>
                    {% else %}
                    <button class="btn btn-success step-two-next" id="finish">{% if 'details' in pre_url %}SAVE{% else %}Next{% endif %}</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <!-- re-order photo -->
    <script src="{% static 'dashboard/js/jquery-ui.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        // upload cover photos 
        var cover_size = parseInt('{{cover_photo|length}}');
        check_cover_upload();
        function check_cover_upload() {
            if (cover_size < 4) {
                $('.cover_upload').css('display', 'block');
            } else {
                $('.cover_upload').css('display', 'none');
            }
        }
        var corder = 1;
        $("#coverphotos").click(function () {
            $('#cover-order').val(corder);
            corder++;
        })
        Dropzone.options.coverphotos = {
            maxFiles: 4,
            init: function() {
                this.on("maxfilesexceeded", function(file){
                    alert("No more files please!");
                });
            }
        };
        // upload photos
        var summary_size = parseInt('{{summary_photo|length}}');
        check_summary_upload();
        function check_summary_upload() {
            if (summary_size < 4) {
                $('.summary_upload').css('display', 'block');
            } else {
                $('.summary_upload').css('display', 'none');
            }
        }
        var sorder = 1;
        $("#summaryphotos").click(function () {
            $('#summary-order').val(sorder);
            sorder++;
        })
        Dropzone.options.summaryphotos = {
            maxFiles: 4,
            init: function() {
                this.on("maxfilesexceeded", function(file){
                    alert("No more files please!");
                });
            }
        };
        // upload photos

        // ========================= re-order photos ==========================
        var cdropIndex;
        $("#cover-list").sortable({
            update: function(event, ui) { 
                dropIndex = ui.item.index();
            }
        });

        // summary photo
        var sdropIndex;
        $("#summary-list").sortable({
            update: function(event, ui) { 
                sdropIndex = ui.item.index();
            }
        });

        // cover photo
        $('.re-order').click(function (e) {
            $("#cover-list").sortable('destroy');
            var h = [];
            $("#cover-list li").each(function() {
                h.push($(this).attr('id').substr(6));
            });
            $.ajax({
                url: "{% url 'valuation:reorder_photos' %}",
                type: 'POST',
                data: {ids: " " + h + "", csrfmiddlewaretoken:'{{csrf_token}}'},
                success: function (e) {
                    $("#txtresponse").css('display', 'inline-block');
                    if(e.response == 'true'){
                        $("#txtresponse").text('Images order is updated');
                    } else {
                        $("#txtresponse").text('Problem changing image order');
                    }
                }
            });
            e.preventDefault();
        });

        // summary photo
        $('.summary-reorder').click(function (e) {
            $("#summary-list").sortable('destroy');
            var sh = [];
            $("#summary-list li").each(function() {
                sh.push($(this).attr('id').substr(14));
            });
            $.ajax({
                url: "{% url 'valuation:reorder_photos' %}",
                type: 'POST',
                data: {ids: " " + sh + "", csrfmiddlewaretoken:'{{csrf_token}}'},
                success: function (e) {
                    $("#summary-txtresponse").css('display', 'inline-block');
                    if(e.response == 'true'){
                        $("#summary-txtresponse").text('Images order is updated');
                    } else {
                        $("#summary-txtresponse").text('Problem changing image order');
                    }
                }
            });
            e.preventDefault();
        });
        
        var last_cover_id = '{{cover_photo.last.id}}';
        function delete_cover(pid) {
            $.ajax({
                url: "{% url 'valuation:delete_photos' %}",
                type: 'GET',
                data: {id: pid},
                success: function (e) {
                    if(e.success=='true') {
                        if(pid==last_cover_id) {
                            $('.cover_photos').find('#cover-container').remove();
                        } else {
                            $('#cover-list').find('#cover_'+pid).remove();
                        }
                        cover_size -= 1;
                        check_cover_upload();
                    } else {
                        $("#txtresponse").text('Problem deleting the photo');
                    }
                }
            });
        }
        
        var last_summary_id = '{{summary_photo.last.id}}';
        function delete_summary(pid) {
            $.ajax({
                url: "{% url 'valuation:delete_photos' %}",
                type: 'GET',
                data: {id: pid},
                success: function (e) {
                    if(e.success=='true') {
                        if(pid==last_cover_id) {
                            $('.summary_photos').find('#summary-container').remove();
                        } else {
                            $('#summary-list').find('#summary_'+pid).remove();
                        }
                        cover_size -= 1;
                        check_cover_upload();
                    } else {
                        $("#summary-txtresponse").text('Problem deleting the photo');
                    }
                }
            });
        }
        // ========================= re-order photos ==========================

        // submit form
        $("#finish").click(function () {
            var valued_property = $('#id_valued_property').val();
            var purpose = $("#id_purpose").val();
            var market_approach = ($("#market_approach").is(':checked')) ? true : false;
            var amav = $("#id_amav").val();
            var income_approach = ($("#income_approach").is(':checked')) ? true : false;
            var aiav = $("#id_aiav").val();
            var ap = parseInt('{% if above_parking %}{{above_parking}}{% else %}0{% endif %}');
            var mv_ap = false;
            $(".mv_ap").each(function () {
                let input = $(this).val();
                mv_ap = (input == '') ? false : true;
            })
            var iv_ap = false;
            $(".iv_ap").each(function () {
                let input = $(this).val();
                iv_ap = (input == '') ? false : true;
            })
            var bp = parseInt('{% if below_parking %}{{below_parking}}{% else %}0{% endif %}');
            var mv_bp = false;
            $(".mv_bp").each(function () {
                let input = $(this).val();
                mv_bp = (input == '') ? false : true;
            })
            var iv_bp = false;
            $(".iv_bp").each(function () {
                let input = $(this).val();
                iv_bp = (input == '') ? false : true;
            })
            var boxa = parseInt('{% if boxa %}{{boxa}}{% else %}0{% endif %}');
            var mv_boxa = false;
            $(".mv_boxa").each(function () {
                let input = $(this).val();
                mv_boxa = (input == '') ? false : true;
            })
            var iv_boxa = false;
            $(".iv_boxa").each(function () {
                let input = $(this).val();
                iv_boxa = (input == '') ? false : true;
            })

            if(valued_property.length > 0 && purpose.length > 0 && ((market_approach == true && amav.length > 0) || market_approach == false) && ((income_approach == true && aiav.length > 0) || income_approach == false) && ((market_approach == true && ap >= 1 && mv_ap == true) || (market_approach==false || ap < 1)) && ((income_approach == true && ap >= 1 && iv_ap == true) || (income_approach==false || ap < 1)) && ((market_approach == true && bp >= 1 && mv_bp == true) || (market_approach==false || bp < 1)) && ((income_approach == true && bp >= 1 && iv_bp == true) || (income_approach==false || bp < 1)) && ((market_approach == true && boxa >= 1 && mv_boxa == true) || (market_approach==false || boxa < 1)) && ((income_approach == true && boxa >= 1 && iv_boxa == true) || (income_approach==false || boxa < 1))) {
                $("#summary-value").submit();
            } else {
                if (valued_property.length < 1) {
                    $('#id_valued_property').addClass('required');
                    $('.valued_property_error').text('This field is required');
                } else {
                    $('#id_valued_property').removeClass('required');
                    $('.valued_property_error').text('');
                }
                
                if (purpose.length < 1) {
                    $('#id_purpose').addClass('required');
                    $('.purpose_error').text('This field is required');
                } else {
                    $('#id_purpose').removeClass('required');
                    $('.purpose_error').text('');
                }
                
                if (market_approach == true && amav.length < 1) {
                    $('#id_amav').addClass('required');
                    $('.amav_error').text('This field is required');
                } else {
                    $('#id_amav').removeClass('required');
                    $('.amav_error').text('');
                }
                
                if (income_approach == true && aiav.length < 1) {
                    $('#id_aiav').addClass('required');
                    $('.aiav_error').text('This field is required');
                } else {
                    $('#id_aiav').removeClass('required');
                    $('.aiav_error').text('');
                }
                
                if (market_approach == true && ap >= 1 && mv_ap == false) {
                    $('.mv_ap').addClass('required');
                    $('.mv_ap_error').text('This field is required');
                } else {
                    $('.mv_ap').removeClass('required');
                    $('.mv_ap_error').text('');
                }
                
                if (market_approach == true && bp >= 1 && mv_bp == false) {
                    $('.mv_bp').addClass('required');
                    $('.mv_bp_error').text('This field is required');
                } else {
                    $('.mv_bp').removeClass('required');
                    $('.mv_bp_error').text('');
                }
                
                if (market_approach == true && boxa >= 1 && mv_boxa == false) {
                    $('.mv_boxa').addClass('required');
                    $('.mv_boxa_error').text('This field is required');
                } else {
                    $('.mv_boxa').removeClass('required');
                    $('.mv_boxa_error').text('');
                }
                
                if (income_approach == true && ap >= 1 && iv_ap == false) {
                    $('.iv_ap').addClass('required');
                    $('.iv_ap_error').text('This field is required');
                } else {
                    $('.iv_ap').removeClass('required');
                    $('.iv_ap_error').text('');
                }
                
                if (income_approach == true && bp >= 1 && iv_bp == false) {
                    $('.iv_bp').addClass('required');
                    $('.iv_bp_error').text('This field is required');
                } else {
                    $('.iv_bp').removeClass('required');
                    $('.iv_bp_error').text('');
                }
                
                if (income_approach == true && boxa >= 1 && iv_boxa == false) {
                    $('.iv_boxa').addClass('required');
                    $('.iv_boxa_error').text('This field is required');
                } else {
                    $('.iv_boxa').removeClass('required');
                    $('.iv_boxa_error').text('');
                }
            }
        });
        // submit form
    </script>
{% endblock javascripts %}  
