{% extends "base.html" %}

{% block title %} Edit Comparabile {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    {% load static %}
    <!-- Load Leaflet from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@3.0.2/dist/esri-leaflet.js"
    integrity="sha512-myckXhaJsP7Q7MZva03Tfme/MSF5a6HC2xryjAM4FxPLHGqlh5VALCbywHnzs2uPoF/4G/QVXyYDDSkp5nPfig=="
    crossorigin=""></script>

    <!-- Load Esri Leaflet Geocoder from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@3.1.1/dist/esri-leaflet-geocoder.css"
    integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
    crossorigin="">
    <script src="https://unpkg.com/esri-leaflet-geocoder@3.1.1/dist/esri-leaflet-geocoder.js"
    integrity="sha512-enHceDibjfw6LYtgWU03hke20nVTm+X5CRi9ity06lGQNtC9GkBNl/6LoER6XzSudGiXy++avi1EbIg9Ip4L1w=="
    crossorigin=""></script>

    <!-- bootstrap datepicker  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css" rel="stylesheet">
    <!-- dropzone file upload -->
    <script src="{% static 'dashboard/js/dropzone.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dashboard/css/dropzone.css' %}">

    <style>
        .ms-choice {
            background: transparent;
            border: none;
            height: 19px;
        }
        .ms-choice>span {
            color: #fff;
            top: 5px;
            left: 8px;
        }
        .ms-drop {
            left: 0;
        }
        .ms-drop span {
            color: #1a2035!important;
        }
        .table td {
            border-bottom: none!important;
            height: 40px!important;
            padding-top: 8px!important;
        }
        .required {
            border-color: #F25961 !important;
            color: #F25961 !important;
        }
        
        .dropzone {
            padding: 20px 60px 20px!important;
        }
        .dropzone h4 {
            font-size: 26px!important;
        }
        #docs-container, #photos-container {
            margin-bottom: 14px;
        }
        #docs-list, #photos-list { 
            list-style-type: none; 
            margin: 0; 
            padding: 0; 
        }
        #docs-list li, #photos-list li { 
            margin: 10px 20px 10px 0px; 
            display: inline-block;
        }
        #docs-list li img, #photos-list li img {
            width: 150px;
            height: 100px;
        }

        /* show map modal design */
        #showMap .modal-dialog {
            max-width: 600px;
        }
        #showMap .modal-content {
            background-color: #1a2035;
        }
        #showMap .modal-header {
            border-bottom: 1px solid #2f374b;
        }
        #showMap .modal-footer {
            border-top: 1px solid #2f374b;
        }
        #showMap .close {
            color: #fff;
        }
        #map { 
            height: 300px;
            width: 100%; 
        }
    </style>
{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Edit Comparabile</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'dashboard:comparable_list' %}">Proprietati Comparabile</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="">Edit Comparabile</a>
                    </li>
                </ul>
            </div>
            
            {% load my_filters %}
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Edit Comparabile</div>
                </div>
                
                <form method="POST" id="comp_prop_form">
                    {% csrf_token %}
                    <div class="card-body">
                        <p class="text-danger error" style="display: none;">Red box fields are required.</p>
                        {% if msg %}
                            <p class="text-danger">{{msg}}</p>
                        {% endif %}

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <p class="text-danger">{{field }} - {{error}}</p>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        {% endif %}

                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td colspan="2" style="text-align: center;color: #fff;font-weight: bold;">Proprietate Comparabile</td>
                                </tr>
                                <tr>
                                    <td style="color: #fff;font-weight: bold;">Element de comparatie</td>
                                    <td style="color: #fff;font-weight: bold;">Element Value</td>
                                </tr>
                                <tr>
                                    <td>Preţ de oferta/vanzare (EURO) <span class="required-label">*</span></td>
                                    <td>{{ form.sale_price }}</td>
                                </tr>
                                <tr>
                                    <td>Mobila <span class="required-label">*</span></td>
                                    <td>
                                        <select id="id_mobila" class="form-control" name="mobila">
                                            {% for mt in mobila %}
                                            <option value="{{mt.type}}" {% if instance.mobila == mt.type %}selected{% endif %}>{{mt.type}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ajustare (EUR)</td>
                                    <td>{{ form.ma }}</td>
                                </tr>
                                <tr>
                                    <td>Loc de parcare/boxa</td>
                                    <td>{{ form.parking_boxa }}</td>
                                </tr>
                                <tr>
                                    <td>Ajustare (EUR)</td>
                                    <td>{{ form.pba }}</td>
                                </tr>
                                <tr>
                                    <td>Date disponibile <span class="required-label">*</span></td>
                                    <td>
                                        <select id="id_ad" class="form-control ad" name="ad">
                                            <option value="Oferta" {% if instance.ad == 'Oferta' %}selected{% endif%}>Oferta</option>
                                            <option value="Tranzactie" {% if instance.ad == 'Tranzactie' %}selected{% endif%}>Tranzactie</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align: center;color: #fff;font-weight: bold; padding-top: 20px!important;">Ajustari pentru conditiile tranzactiilor</td>
                                </tr>
                                <tr>
                                    <td>Drepturi de proprietate <span class="required-label">*</span></td>
                                    <td>
                                        <select id="id_pr" class="form-control" name="pr">
                                            {% for p in prop_rights %}
                                            <option value="{{p.type}}" {% if instance.pr == p.type %}selected{% endif%}>{{p.type}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Condiţii de finanţare <span class="required-label">*</span></td>
                                    <td>
                                        <select id="id_fc" class="form-control" name="fc">
                                            <option value="normale">Normale</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Conditii de vanzare <span class="required-label">*</span></td>
                                    <td>
                                        <select id="id_sc" class="form-control" name="sc">
                                            <option value="independente">Independente</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cheltuieli necesare imediat dupa cumparare <span class="required-label">*</span></td>
                                    <td>
                                        <select id="id_ape" class="form-control" name="ape">
                                            <option value="nu" {% if instance.ape == 'nu' %}selected{% endif%}>Nu</option>
                                            <option value="da" {% if instance.ape == 'da' %}selected{% endif%}>Da</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Conditii de piata <span class="required-label">*</span></td>
                                    <td>
                                        <input type="text" class="form-control" name="me" id="id_me" value="{{ instance.me }}" autocomplete="off"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align: center;color: #fff;font-weight: bold; padding-top: 20px!important;">Ajustari specifice proprietatii</td>
                                </tr>
                                <tr>
                                    <td>Localizare <span class="required-label">*</span></td>
                                    <td>
                                        <div class="input-group">
                                            {{ form.lc }}
                                            <div class="input-group-append" style="cursor: pointer;"  data-toggle="modal" data-target="#showMap">
                                                <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                            </div>
                                            <input type="hidden" name="lat" id="lat" value="{{instance.lat}}">
                                            <input type="hidden" name="lng" id="lng" value="{{instance.lng}}">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Compartimentare <span class="required-label">*</span></td>
                                    <td>
                                        <select id="id_cp" class="form-control" name="cp">
                                            {% for c in comp_type %}
                                            <option value="{{c.type}}" {% if c.type == instance.cp %}selected{% endif %}>{{c.type}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>AN PIF <span class="required-label">*</span></td>
                                    <td>{{form.cy}}</td>
                                </tr>
                                <tr>
                                    <td>Numar de camere <span class="required-label">*</span></td>
                                    <td>{{form.camara}}</td>
                                </tr>
                                <tr>
                                    <td>Suprafata utila (mp) <span class="required-label">*</span></td>
                                    <td>{{form.area}}</td>
                                </tr>
                                <tr>
                                    <td>Finisaje <span class="required-label">*</span></td>
                                    <td>
                                        <select id="id_finish" class="form-control" name="finish">
                                            {% for f in finish_type %}
                                            <option value="{{f.type}}" {% if f.type == instance.finish %}selected{% endif %}>{{f.type}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Regim de inaltime <span class="required-label">*</span></td>
                                    <td>{{form.etaj}}</td>
                                </tr>
                                <tr>
                                    <td>Balcon (mp) <span class="required-label">*</span></td>
                                    <td>{{form.balcon}}</td>
                                </tr>
                                <tr>
                                    <td>Sistem de incalzire <span class="required-label">*</span></td>
                                    <td>
                                        <select class="form-control" name="hs">
                                            {% for h in heating %}
                                            <option value="{{h.name}}" {% if h.name == instance.hs %}selected{% endif %}>{{h.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Stare</td>
                                    <td>
                                        <select class="form-control" name="is_comparable" id="is_comparable">
                                            <option value="1" {% if instance.is_comparable == 1 %}selected{% endif %}>Complet</option>
                                            <option value="0" {% if instance.is_comparable == 0 %}selected{% endif %}>Incomplet</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>

                <div class="card-body pt-1" style="padding-left: 2.5rem; padding-right: 2.5rem">
                    <p class="file_label" {% if files %}style="display: block;"{% else %}style="display: none;"{% endif %}>Documente tranzactie</p>
                    {% if files %}
                        <div id="docs-container">
                            <ul id="docs-list" class="mb-2">
                                {% for file in files %}
                                    <li id="doc_{{ file.id }}" class="text-center">
                                        {% if file.file_extention in img_format %}
                                            <img src="{{ file.files.url }}" alt="Property Documents"> <br>
                                        {% else %}
                                            <div class="text-light" style="width: 150px; height: 100px; background: #aaaaaa70;text-align: center;"><p class="mb-0 pt-2" style="line-height: 20px;">{{file.get_filename}}</p></div>
                                        {% endif %}
                                        <span onclick="delete_prop_files('{{file.id}}')" class="text-info" style="cursor: pointer;"><u>Remove</u></span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    
                    <div class="property_docs files_div" {% if instance.ad == 'Tranzactie' %}style="display: block;"{% else %}style="display: none;"{% endif %}>
                        <form action="{% url 'valuation:porperty_files' %}" class="dropzone dz-clickable" id="porpertyDocs">
                            {% csrf_token %}
                            <input type="hidden" name="refer_to" value="documents">
                            <input type="hidden" name="prop_id" value="{{instance.id}}">
                            <div class="dz-message" data-dz-message="">
                                <div class="icon">
                                    <i class="flaticon-file"></i>
                                </div>
                                <h4 class="message">Drag and Drop files here</h4>
                            </div>
                        </form>
                    </div>

                    <p class="mt-4 file_label" {% if photos %}style="display: block;"{% else %}style="display: none;"{% endif %}>Documente tranzactie</p>
                    {% if photos %}
                        <div id="photos-container">
                            <ul id="photos-list" class="mb-2">
                                {% for file in photos %}
                                    <li id="photo_{{ file.id }}" class="text-center">
                                        {% if file.file_extention in img_format %}
                                            <img src="{{ file.files.url }}" alt="Property Documents"> <br>
                                        {% else %}
                                            <div class="text-light" style="width: 150px; height: 100px; background: #aaaaaa70;text-align: center;"><p class="mb-0 pt-2" style="line-height: 20px;">{{file.get_filename}}</p></div>
                                        {% endif %}
                                        <span onclick="delete_prop_files('{{file.id}}')" class="text-info" style="cursor: pointer;"><u>Remove</u></span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    
                    <div class="property_photos files_div" {% if instance.ad == 'Tranzactie' %}style="display: block;"{% else %}style="display: none;"{% endif %}>
                        <form action="{% url 'valuation:porperty_files' %}" class="dropzone dz-clickable" id="porpertyPhotos">
                            {% csrf_token %}
                            <input type="hidden" name="refer_to" value="photos">
                            <input type="hidden" name="prop_id" value="{{instance.id}}">
                            <div class="dz-message" data-dz-message="">
                                <div class="icon">
                                    <i class="flaticon-file"></i>
                                </div>
                                <h4 class="message">Drag and Drop files here</h4>
                            </div>
                        </form>
                    </div>
                </div>
                    
                <div class="card-action">
                    <p class="text-danger error" style="display: none;">Red box fields are required.</p>
                    <button class="btn btn-success" id="submitbtn">Update</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="showMap" tabindex="-1" role="dialog" aria-labelledby="showMapTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-white" id="showMapLongTitle">Localizare</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="map"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <!-- bootstrap datepicker  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>
    
    <script>
        // datepicker 
        $("#id_me").datepicker( {
            format: "MM yyyy",
            startView: "months", 
            minViewMode: "months"
        });

        $("#id_ad").change(function() {
            var val = this.value;
            if(val=='Tranzactie') {
                $("#is_comparable").val('0').change();
                $(".file_label").css('display', 'block');
                $(".files_div").css('display', 'block');
            } else {
                $("#is_comparable").val('1').change();
                $(".file_label").css('display', 'none');
                $(".files_div").css('display', 'none');
            }
        });

        // property docs upload 
        Dropzone.options.porpertyDocs = {
            addRemoveLinks: true,
            init: function() {
                this.on('removedfile', function(file) {
                    $.ajax({
                        url: "{% url 'valuation:delete_prop_files' %}",
                        type: "POST",
                        data: {
                            "csrfmiddlewaretoken": '{{ csrf_token }}',
                            'refer_to': 'documents',
                            'file': file.name,
                            'prop_id': '{{instance.id}}',
                        },
                        success: function(e) {
                            if(e.success=='true') {
                                file.previewElement.remove();
                            }
                        }
                    });
                });
            }
        }

        // property photos upload 
        Dropzone.options.porpertyPhotos = {
            addRemoveLinks: true,
            init: function() {
                this.on('removedfile', function(file) {
                    $.ajax({
                        url: "{% url 'valuation:delete_prop_files' %}",
                        type: "POST",
                        data: {
                            "csrfmiddlewaretoken": '{{ csrf_token }}',
                            'refer_to': 'photos',
                            'file': file.name,
                            'prop_id': '{{instance.id}}',
                        },
                        success: function(e) {
                            if(e.success=='true') {
                                file.previewElement.remove();
                            }
                        }
                    });
                });
            }
        }

        // form submit 
        $('#submitbtn').on('click', function (e) {
            e.preventDefault();
            var pass = true;
            var inputs = $('#comp_prop_form input:not(.optional input)').each(function() {
                if(this.value.length > 0) {
                    $(this).removeClass('required')
                } else {
                    pass = false;
                    $(this).addClass('required');
                }
            });
            if(pass == true) {
                $('#comp_prop_form').submit();
            } else {
                $('.error').css('display', 'block');
            }
        });

        // delete prop file 
        function delete_prop_files(pid) {
            $.ajax({
                url: "{% url 'valuation:delete_prop_files' %}",
                type: 'GET',
                data: {id: pid},
                success: function (e) {
                    if(e.success=='true') {
                        $('#docs-list').find('#doc_'+pid).remove();
                    }
                }
            });
        }
    </script>

    <!-- leaflet map  -->
    <script>
        let lat = parseFloat($('#lat').val());
        let lng = parseFloat($('#lng').val());
        if(isNaN(lat) && isNaN(lng)) {
            var map = L.map('map').setView([44.4268, 26.1025], 13);
        } else {
            var map = L.map('map').setView([lat, lng], 15);
        }
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibmFlZW0yMyIsImEiOiJja2lyNmpzdjUwMHVrMnRreXZyNHdubHptIn0.X3OwhHNVTJG_SzVzHEeLnQ', {
            attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoibmFlZW0yMyIsImEiOiJja2lyNmpzdjUwMHVrMnRreXZyNHdubHptIn0.X3OwhHNVTJG_SzVzHEeLnQ'
        }).addTo(map);

        var searchControl = L.esri.Geocoding.geosearch({
            position: 'topright',
            placeholder: 'Search for places and addresses',
            useMapBounds: false,
            providers: [L.esri.Geocoding.arcgisOnlineProvider({
                apikey: 'AAPK5f52374845404757a5eb02c2b5bc9e1cbjcT5ty0oXBKBseoCLCC_JhCLvbOLn1nXEgiuOcKaUUK8yLa7hmuYQd0fVtKOfoy',
            })]
        }).addTo(map);

        if(isNaN(lat) && isNaN(lng)) {
            var marker = L.marker();
        } else {
            var marker = L.marker([lat, lng], {draggable:true}).addTo(map);
            marker.on('click', function(e) {
                var latlng = [e.target.getLatLng()];
                var markerbounds = L.latLngBounds(latlng);
                map.fitBounds(markerbounds);
            });
            marker.on('dragend', function (e) {
                $('#lat').val(marker.getLatLng().lat.toFixed(6))
                $('#lng').val(marker.getLatLng().lng.toFixed(6))
            });
        }
        searchControl.on('results', function (data) {
            map.removeLayer(marker);
            for (var i = data.results.length - 1; i >= 0; i--) {
                marker = L.marker(data.results[i].latlng, {draggable:'true'}).addTo(map);
                marker.on('dragend', function(event){
                    var marker = event.target;
                    var position = marker.getLatLng();
                    marker.setLatLng(new L.LatLng(position.lat, position.lng),{draggable:'true'});
                    map.panTo(new L.LatLng(position.lat, position.lng))
                    $('#lat').val(position.lat.toFixed(6)) 
                    $('#lng').val(position.lng.toFixed(6))
                });
                var lat = data.results[i].latlng.lat
                var lng = data.results[i].latlng.lng
                $('#lat').val(lat.toFixed(6)) 
                $('#lng').val(lng.toFixed(6))
            }
        });

        function onMapClick(e) {
            map.removeLayer(marker);
            marker = L.marker([e.latlng.lat, e.latlng.lng], {draggable:'true'}).addTo(map);
            marker.on('dragend', function(event){
                var marker = event.target;
                var position = marker.getLatLng();
                marker.setLatLng(new L.LatLng(position.lat, position.lng),{draggable:'true'});
                map.panTo(new L.LatLng(position.lat, position.lng))
                $('#lat').val(position.lat.toFixed(6))
                $('#lng').val(position.lng.toFixed(6))
            });
            var lat = e.latlng.lat 
            var lng = e.latlng.lng 
            $('#lat').val(lat.toFixed(6))
            $('#lng').val(lng.toFixed(6))
        }
        map.on('click', onMapClick);
        
        $('#showMap').on('shown.bs.modal', function() {
            map.invalidateSize();
        });
    </script>
{% endblock javascripts %}  
