{% extends "base-form.html" %}

{% block title %} Add Valuation - Date Initiale {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    {% load static %}
    <!-- Load Leaflet from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@3.0.2/dist/esri-leaflet.js"
    integrity="sha512-myckXhaJsP7Q7MZva03Tfme/MSF5a6HC2xryjAM4FxPLHGqlh5VALCbywHnzs2uPoF/4G/QVXyYDDSkp5nPfig=="
    crossorigin=""></script>

    <!-- Load Esri Leaflet Geocoder from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@3.1.1/dist/esri-leaflet-geocoder.css"
    integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
    crossorigin="">
    <script src="https://unpkg.com/esri-leaflet-geocoder@3.1.1/dist/esri-leaflet-geocoder.js"
    integrity="sha512-enHceDibjfw6LYtgWU03hke20nVTm+X5CRi9ity06lGQNtC9GkBNl/6LoER6XzSudGiXy++avi1EbIg9Ip4L1w=="
    crossorigin=""></script>

    <!-- select2 js -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">

    <!-- datepicker  -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <style>
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        #mapid { 
            height: 400px;
            width: 100%; 
        }
        .msg {
            padding-left: 10px;
        }
        .select2-container--bootstrap4.select2-container--focus .select2-selection {
            border-color: #2f374b; 
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .select2-container--bootstrap4 .select2-selection {
            background: #1a2035;
            border-color: #2f374b;
            border-radius: 4px;
            height: 40px!important;
        }
        .select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
            color: #fff;
        }
        .ms-choice {
            background: transparent;
            border: none;
            height: 19px;
        }
        .ms-choice>span {
            color: #fff;
            top: 5px;
            left: 8px;
        }
        .ms-drop {
            left: 0;
        }
        .ms-drop span {
            color: #1a2035!important;
        }
        .required {
            border-color: #F25961 !important;
            color: #F25961 !important;
        }
    </style>
{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Date Initiale</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="">Date Initiale</a>
                    </li>
                </ul>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="card-title">Date Initiale</div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="mapid"></div>
                        </div>
                    </div>
                </div>

                <form method="POST" action="" id="initial_form">
                    {% csrf_token %}
                    {% if 'details' in pre_url %}
                        <input type="hidden" name="pre_url" value="details">
                    {% endif %}

                    <div class="card-body">
                        <p class="mb-2 text-danger lat_lng"></p>
                        {% if form.non_field_errors%}
                            <div class="mb-3">
                                {% for error in form.non_field_errors %}
                                <p class="text-danger">{{error}}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="id_title">Tip Imobil <span class="required-label">*</span></label>
                                    {% if valuation.title %}
                                        <input type="text" class="form-control" name="title" id="id_title" value="{{ valuation.title }}" required>
                                    {% else %}
                                        <input type="text" class="form-control" name="title" id="id_title" value="{{ valuation.property_type.type }} cu {{camara.camara|floatformat:0}} camere si dependinte" required>
                                    {% endif %}
                                    <small class="form-text text-danger title"></small>
                                </div>
                            </div>   
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_status">Status <span class="required-label">*</span></label>
                                    {{ form.status }}
                                    <small class="form-text text-danger status"></small>
                                </div>
                            </div> 
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_property_type">Tipul Proprietatii <span class="required-label">*</span></label>
                                    {{ form.property_type }}
                                    <small class="form-text text-danger prop_type"></small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_property_type">Compartimentare</label>
                                    {{ form.compartment_type }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_street">Strada <span class="required-label">*</span></label>
                                    {{ form.street }}
                                    <small class="form-text text-danger street"></small>
                                </div>
                            </div>
                        </div>

                        
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="id_numarul">Numarul <span class="required-label">*</span></label>
                                    {{ form.numarul }}
                                    {{ form.latitude }}
                                    {{ form.longitude }}
                                    <small class="form-text text-danger numarul"></small>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="id_building_no">Blocul</label>
                                    {{ form.building_no }}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="id_scara">Scara</label>
                                    {{ form.scara }}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="id_floor_no">Etaj <span class="required-label">*</span></label>
                                    {{ form.floor_no }}
                                    <small class="form-text text-danger floor_no"></small>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="id_apartment_no">Apartament <span class="required-label">*</span></label>
                                    {{ form.apartment_no }}
                                    <small class="form-text text-danger apartment_no"></small>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="id_postal_code">Cod Postal <span class="required-label">*</span></label>
                                    {{ form.postal_code }}
                                    <small class="form-text text-danger postal_code"></small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_area">Judet/Municipiul <span class="required-label">*</span></label>
                                    {{ form.area }}
                                    <small class="form-text text-danger area"></small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_city">Oraș <span class="required-label">*</span></label>
                                    {% if valuation.city %}
                                        <select id="id_city" class="form-control" name="city">
                                            <option value="{{valuation.city.id}}" selected>{{valuation.city.name}}</option>
                                        </select>
                                    {% else %}
                                        <select id="id_city" class="form-control" name="city">
                                        </select>
                                    {% endif %}
                                    <small class="form-text text-danger city"></small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_urbana">Urbana/Rurala</label>
                                    <select id="id_urbana" class="form-control" name="urbana">
                                        <option value="urbana">Urbana</option>
                                        <option value="rurala">Rurala</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_locatie">Locatie</label>
                                    <select id="id_locatie" class="form-control" name="locatie">
                                        <option value="centrala">Centrala</option>
                                        <option value="mediana">Mediana</option>
                                        <option value="periferica">Periferica</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_zona">Zona <span class="required-label">*</span></label>
                                    {{ form.zona }}
                                    <small class="form-text text-danger zona"></small>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_height">Regim de inaltime imobil <span class="required-label">*</span></label>
                                    {{ form.height }}
                                    <small class="form-text text-danger height"></small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_construction_year">An constructie <span class="required-label">*</span></label>
                                    {{ form.construction_year }}
                                    <small class="form-text text-danger construction_year"></small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_owner">Proprietar <span class="required-label">*</span></label>
                                    {{ form.owner }}
                                    <small class="form-text text-danger owner"></small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="nume_client">Nume Client <span class="required-label">*</span></label>
                                    {{ form.nume_client }}
                                    <small class="form-text text-danger client"></small>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_ct_address">Adresa Client</label>
                                    {{ form.ct_address }}
                                    <small class="form-text text-muted">Se va completa doar pentru Persoane Juridice</small>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_cui">CUI</label>
                                    {{ form.cui }}
                                    <small class="form-text text-muted">Se va completa doar pentru Persoane Juridice</small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="report_recipient">Utilizator desemnat <span class="required-label">*</span></label>
                                    {{ form.report_recipient }}
                                    <small class="form-text text-danger recipient"></small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_evaluator">Inspector Name</label>
                                    {{ form.evaluator }}
                                </div>
                            </div>
                        </div> 

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_inspection_date">Inspection Date <span class="required-label">*</span></label>
                                    {{ form.inspection_date }}
                                    <small class="form-text text-danger inspection_date"></small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_valuation_date">Valuation Date</label>
                                    <!-- {{ form.valuation_date }} -->
                                    <input type="text" name="valuation_date" id="id_valuation_date" class="form-control" autocomplete="off" value="{{valuation.valuation_date|date:'Y-m-d'}}">
                                    <small class="form-text text-danger valuation_date"></small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_report_date">Report Date</label>
                                    <!-- {{ form.report_date }} -->
                                    <input type="text" name="report_date" id="id_report_date" class="form-control" autocomplete="off" value="{{valuation.report_date|date:'Y-m-d'}}">
                                    <small class="form-text text-danger report_date"></small>
                                </div>
                            </div>
                        </div> 
                    </div>

                    <div class="card-header">
                        <div class="card-title">Compartimentare</div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            {% for c in rooms %}
                                <div class="col-md-3 mb-2">
                                    <div class="form-group">
                                        <label>Nr. {{ c.attr_id.name }} </label>
                                        <input type="number" value="{{c.attr_value}}" min="0" class="form-control" name="compart[]">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="card-header">
                        <div class="card-title">Câmpuri customizate</div>
                    </div>

                    <div class="card-body custom-field">
                        <p class="text-danger custom_msg" style="display: none;">Couldn't delete this field</p>
                        {% for c in customs %}
                            <div class="row custom_field">
                                <div class="col-md-4 mb-2">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" name="cf_name_yes[]" id="cf_name{{c.id}}" value={{c.attr_name}}>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <div class="form-group">
                                        <label>Value</label>
                                        <input type="number" value="{{c.attr_value}}" min="0" class="form-control" id="cf_value{{c.id}}" name="cf_value_yes[]" >
                                    </div>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-icon btn-round btn-danger" style="margin-top: 1.7rem;" onclick="remove_custom(this, '{{c.id}}')" data-toggle="tooltip" data-placement="top" title="Remove Field"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="row">
                            <div class="col-md-4 mb-2">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="cf_name[]" placeholder="e.g. Name">
                                </div>
                            </div>
                            <div class="col-md-4 mb-2">
                                <div class="form-group">
                                    <label>Value</label>
                                    <input type="number" value="0" min="0" class="form-control" name="cf_value[]" >
                                </div>
                            </div>
                            <div class="col-md-4 mb-2">
                                <div class="form-group">
                                    <button type="button" class="btn btn-icon btn-round btn-primary" style="margin-top: 1.7rem;" id="add_cf" data-toggle="tooltip" data-placement="top" title="Add New">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>   
                
                <div class="card-action" style="padding-top: 10px;">
                    <div class="row mt-3">
                        <div class="col-md">
                            <button class="btn btn-success" id="submitBtn">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <!-- datepicker  -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- select 2 js  -->
    <script src="{% static 'dashboard/js/select2.min.js' %}"></script>
    
    <script type="text/javascript">
        // date picker 
        $("#id_valuation_date").datepicker({
            dateFormat: "yy-mm-dd",
            minDate: "{{valuation.inspection_date|date:'Y-m-d'}}"
        });
        $("#id_report_date").datepicker({
            dateFormat: "yy-mm-dd",
            minDate: "{{valuation.inspection_date|date:'Y-m-d'}}"
        });

        // select2 js
        $(document).ready(function() {
            $('#id_area').select2({
                theme: "bootstrap4"
            });
        });

        // =========================== get city ===========================
        $('#id_area').on('change', function() {
            var area_id = this.value;
            if(area_id != '') {
                $.ajax({
                    url: "{% url 'valuation:get_city' %}",
                    type: "GET",
                    cache: false,
                    data: {'area_id': area_id},
                    success: function(e) {
                        var city = e.city;
                        $('#id_city').html('');
                        for(let i=0; i<city.length; i++) {
                            var opt = '<option value="'+city[i][0]+'">'+ city[i][1] +'</option>'
                            $('#id_city').append(opt);
                        }
                    }
                })
            }
        });

        // ========================= map management  =============================
        var lat = '{{ valuation.latitude }}'
        var lng = '{{ valuation.longitude }}'
        var map = L.map('mapid').setView([lat, lng], 13);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibmFlZW0yMyIsImEiOiJja2lyNmpzdjUwMHVrMnRreXZyNHdubHptIn0.X3OwhHNVTJG_SzVzHEeLnQ', {
            attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoibmFlZW0yMyIsImEiOiJja2lyNmpzdjUwMHVrMnRreXZyNHdubHptIn0.X3OwhHNVTJG_SzVzHEeLnQ'
        }).addTo(map);

        var searchControl = L.esri.Geocoding.geosearch({
            position: 'topright',
            placeholder: 'Search for places and addresses',
            useMapBounds: false,
            providers: [L.esri.Geocoding.arcgisOnlineProvider({
                apikey: 'AAPK5f52374845404757a5eb02c2b5bc9e1cbjcT5ty0oXBKBseoCLCC_JhCLvbOLn1nXEgiuOcKaUUK8yLa7hmuYQd0fVtKOfoy',
            })]
        }).addTo(map);

        var marker = L.marker([lat, lng], {draggable:true}).addTo(map)
        marker.on('click', function(e) {
            var latlng = [e.target.getLatLng()];
            var markerbounds = L.latLngBounds(latlng);
            map.fitBounds(markerbounds);
        })

        searchControl.on('results', function (data) {
            let address = data.text.split(',');
            $('#id_street').val(address[0]);
            $('#id_postal_code').val(address[1].trim());
            let area = address[3];
            $("#id_area option:contains("+area+")").prop("selected","selected");
            $('#id_area').trigger('change'); 
            map.removeLayer(marker)
            for (var i = data.results.length - 1; i >= 0; i--) {
                marker = L.marker(data.results[i].latlng, {draggable:'true'}).addTo(map);
                marker.on('dragend', function(event){
                    var marker = event.target;
                    var position = marker.getLatLng();
                    marker.setLatLng(new L.LatLng(position.lat, position.lng),{draggable:'true'});
                    map.panTo(new L.LatLng(position.lat, position.lng))
                    $('#id_latitude').val(position.lat.toFixed(6)) 
                    $('#id_longitude').val(position.lng.toFixed(6))
                });
                var lat = data.results[i].latlng.lat
                var lng = data.results[i].latlng.lng
                $('#id_latitude').val(lat.toFixed(6)) 
                $('#id_longitude').val(lng.toFixed(6))
            }
        });
        
        function onMapClick(e) {
            map.removeLayer(marker);
            marker = L.marker([e.latlng.lat, e.latlng.lng], {draggable:'true'}).addTo(map);
            marker.on('dragend', function(event){
                var marker = event.target;
                var position = marker.getLatLng();
                marker.setLatLng(new L.LatLng(position.lat, position.lng),{draggable:'true'});
                map.panTo(new L.LatLng(position.lat, position.lng))
                $('#id_latitude').val(position.lat.toFixed(6))
                $('#id_longitude').val(position.lng.toFixed(6))
            });
            var lat = e.latlng.lat 
            var lng = e.latlng.lng 
            $('#id_latitude').val(lat.toFixed(6))
            $('#id_longitude').val(lng.toFixed(6))
        }
        map.on('click', onMapClick);

        marker.on('dragend', function (e) {
            $('#id_latitude').val(marker.getLatLng().lat.toFixed(6))
            $('#id_longitude').val(marker.getLatLng().lng.toFixed(6))
        });
        // map management

        // ======================== form validation check ===========================
        $("#submitBtn").on('click', function () {
            var title = $("#id_title").val()
            var status = $("#id_status").val()
            var prop_type =  $("#id_property_type").val()
            var street = $("#id_street").val()
            var numarul = $("#id_numarul").val()
            var floor_no = $("#id_floor_no").val()
            var apartment_no = $("#id_apartment_no").val()
            var zona = $("#id_zona").val()
            var lat = $("#id_latitude").val()
            var lng = $("#id_longitude").val()
            var area = $("#id_area").val()
            var city = $("#id_city").val()
            var owner = $("#id_owner").val()
            var client = $("#id_nume_client").val()
            var recipient = $("#id_report_recipient").val()
            var height = $("#id_height").val()
            var cy = $("#id_construction_year").val()
            var inspection_date = $("#id_inspection_date").val()
            
            if(title.length > 0 && status.length > 0 && prop_type.length > 0 && street.length > 0 && numarul.length > 0 && floor_no.length > 0 && apartment_no.length > 0 && zona.length > 0 && lat.length > 0 && lng.length > 0 && area.length > 0 && city.length > 0 && height.length > 0 && cy.length > 0 && owner.length > 0 && client.length > 0 && recipient.length > 0 && inspection_date.length > 0) {
                $("#initial_form").submit();
            } else {
                if (title.length < 1) {
                    $("#id_title").addClass('required')
                    $(".title").text('This field is required')
                } else {
                    $("#id_title").removeClass('required')
                    $(".title").text('')
                }

                if (status.length < 1) {
                    $("#id_status").addClass('required')
                    $(".status").text('This field is required')
                } else {
                    $("#id_status").removeClass('required')
                    $(".status").text('')
                }

                if (prop_type.length < 1) {
                    $("#id_property_type").addClass('required')
                    $(".prop_type").text('This field is required')
                } else {
                    $("#id_property_type").removeClass('required')
                    $(".prop_type").text('')
                }

                if (street.length < 1) {
                    $("#id_street").addClass('required')
                    $(".street").text('This field is required')
                } else {
                    $("#id_street").removeClass('required')
                    $(".street").text('')
                }

                if (numarul.length < 1) {
                    $("#id_numarul").addClass('required')
                    $(".numarul").text('This field is required')
                } else {
                    $("#id_numarul").removeClass('required')
                    $(".numarul").text('')
                }

                if (floor_no.length < 1) {
                    $("#id_floor_no").addClass('required')
                    $(".floor_no").text('This field is required')
                } else {
                    $("#id_floor_no").removeClass('required')
                    $(".floor_no").text('')
                }

                if (apartment_no.length < 1) {
                    $("#id_apartment_no").addClass('required')
                    $(".apartment_no").text('This field is required')
                } else {
                    $("#id_apartment_no").removeClass('required')
                    $(".apartment_no").text('')
                }

                if (zona.length < 1) {
                    $("#id_zona").addClass('required')
                    $(".zona").text('This field is required')
                } else {
                    $("#id_zona").removeClass('required')
                    $(".zona").text('')
                }

                if (lat.length < 1 || lng.length < 1) {
                    $(".lat_lng").text("You must add a marker")
                } else {
                    $(".lat_lng").text('')
                }

                if (area.length < 1) {
                    $("#id_area").addClass('required')
                    $(".area").text('This field is required')
                } else {
                    $("#id_area").removeClass('required')
                    $(".area").text('')
                }

                if (city.length < 1) {
                    $("#id_city").addClass('required')
                    $(".city").text('This field is required')
                } else {
                    $("#id_city").removeClass('required')
                    $(".city").text('')
                }

                if (owner.length < 1) {
                    $("#id_owner").addClass('required')
                    $(".owner").text('This field is required')
                } else {
                    $("#id_owner").removeClass('required')
                    $(".owner").text('')
                }

                if (client.length < 1) {
                    $("#id_nume_client").addClass('required')
                    $(".client").text('This field is required')
                } else {
                    $("#id_nume_client").removeClass('required')
                    $(".client").text('')
                }

                if (recipient.length < 1) {
                    $("#id_report_recipient").addClass('required')
                    $(".recipient").text('This field is required')
                } else {
                    $("#id_report_recipient").removeClass('required')
                    $(".recipient").text('')
                }

                if (height.length < 1) {
                    $("#id_height").addClass('required')
                    $(".height").text('This field is required')
                } else {
                    $("#id_height").removeClass('required')
                    $(".height").text('')
                }

                if (cy.length < 1) {
                    $("#id_construction_year").addClass('required')
                    $(".construction_year").text('This field is required')
                } else {
                    $("#id_construction_year").removeClass('required')
                    $(".construction_year").text('')
                }

                if (inspection_date.length < 1) {
                    $("#id_inspection_date").addClass('required')
                    $(".inspection_date").text('This field is required')
                } else {
                    $("#id_inspection_date").removeClass('required')
                    $(".inspection_date").text('')
                }
            }
        })

        // ========================== manage custom field =========================== 
        $(document).ready(function(){
            var maxField = 10;
            var addButton = $('#add_cf');
            var wrapper = $('.custom-field');
            var form_input = '<div class="row"><div class="col-md-4 mb-2"><div class="form-group"><label>Name</label><input type="text" class="form-control" name="cf_name[]" placeholder="e.g. Name"></div></div><div class="col-md-4 mb-2"><div class="form-group"><label>Value</label><input type="number" value="0" min="0" class="form-control" name="cf_value[]" ></div></div><div class="col-md-4 mb-2"><div class="form-group"><button type="button" class="btn btn-icon btn-round btn-danger" style="margin-top: 1.7rem;" id="remove_cf" data-toggle="tooltip" data-placement="top" title="Remove Field"><i class="fas fa-minus"></i></button></div></div></div>';
            var x = 1;
            
            //Once add button is clicked
            $(addButton).click(function(){
                if(x < maxField){ 
                    x++;
                    $(wrapper).append(form_input);
                }
            });
            
            //Once remove button is clicked
            $(wrapper).on('click', '#remove_cf', function(e){
                e.preventDefault();
                $(this).parents('.row').remove();
                x--;
            });
        });

        // remove existing custom field 
        function remove_custom(event, id) {
            $.ajax({
                url: '{% url "valuation:delete_custom" %}',
                type: 'GET',
                data: {id: id},
                success: function(e) {
                    if(e.success == 'true') {
                        $(event).parents('.custom_field').remove();
                    } else {
                        $('.custom_msg').css('display', 'block');
                    }
                }
            });
        }
    </script>
{% endblock javascripts %}  
