{% extends "base.html" %}

{% block title %} Detalii de evaluare {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    {% load static %}
    <!-- Load Leaflet from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

    <!-- order image -->
    <link rel="stylesheet" href="{% static 'dashboard/css/jquery-ui.css' %}">

    <!-- dropzone file upload -->
    <script src="{% static 'dashboard/js/dropzone.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dashboard/css/dropzone.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/valuation_details.css' %}">

    <style>
        /* multiple select css  */
        .ms-choice {
            background: #1a2035!important;
            border: none;
            height: 19px;
            color: #fff!important;
        }
        .ms-choice>span {
            color: #fff;
            top: 5px;
            left: 8px;
        }
        .ms-drop {
            left: 0;
        }
        .ms-drop span {
            color: #1a2035!important;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">{% if valuation.status.status == 'Completed' %} Evaluare Completă{% else %}Evaluare Incompletă{% endif %}</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        {% if valuation.status.status == 'Completed' %}
                            <a href="{% url 'dashboard:complete' %}">Evaluare completă</a>
                        {% else %}
                            <a href="{% url 'dashboard:incomplete' %}">Evaluare incompletă</a>
                        {% endif %}
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="">Detalii de evaluare</a>
                    </li>
                </ul>
            </div>

            {% load my_filters %}
            <!-- =========================================================================== -->
            <!-- =========================== address and basic ============================= -->
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <div class="card-title">
                            {% if valuation.title %}
                                {{ valuation.title }}
                            {% else %}
                                {{ valuation.property_type.type }} cu {{camere.camere|floatformat:0}} si dependinte
                            {% endif %}
                        </div>
                        <a class="btn btn-primary btn-round ml-auto text-white"><i class="fas fa-file-pdf mr-2"></i>PDF</a>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row mb-1">
                                <div class="col-md-6 mt-2">
                                    <b class="text-light mr-2"># EPI-{{valuation.reference_no}}-{{valuation.inspection_date|date:"dmy"}}</b>
                                </div>
                                <div class="col-md-6">
                                    <b class="text-light mr-2">Valuation Status:</b>
                                    <div class="btn-group status">
                                        <button class="btn status {% if 'progress' in valuation.status.status %}btn-outline-info {% elif 'completed' in valuation.status.status %} btn-outline-success {% elif 'suspended' in valuation.status.status %} btn-outline-warning{% else %} btn-outline-danger {% endif %} btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{valuation.status.status }}
                                        </button>
                                        <div class="dropdown-menu">
                                            {% for s in status %}
                                                {% if valuation.status.id != s.id %}
                                                    <a class="dropdown-item" href="{% url 'dashboard:change_status' status=s.id id=valuation.id %}">{{s.status}}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row mb-4">
                                <div class="col-md-6">
                                    <b class="text-light mr-2">Inspector Name:</b>
                                    {% if valuation.evaluator %}
                                        {{ valuation.evaluator.get_full_name }} 
                                    {% else %}
                                        Not Assigned
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    {% if valuation.evaluator.certification_number %}
                                    <b class="text-light mr-2">Certification Nr.:</b>
                                        {{ valuation.evaluator.certification_number }}
                                    {% endif %}
                                </div>
                            </div>
                            
                            <!-- property details -->
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <b class="text-light">Property Details</b>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-6"><b class="text-light mr-2">Tipul proprietate:</b>  {{valuation.property_type.type}}</div>
                                <div class="col-md-6">
                                    <b class="text-light mr-2">Compartimetare:</b>  
                                    {% if valuation.compartment_type %}{{valuation.compartment_type.type}}{% endif %}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    {% if summary.amav %}
                                    <b class="text-light mr-2">Abordare:</b> Prin piata 
                                    {% elif summary.aiav %} 
                                    <b class="text-light mr-2">Abordare:</b> Prin venit
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    {% if summary.amav %}
                                    <b class="text-light mr-2">Property Value: </b> {{summary|get_market_price }} EUR
                                    {% elif summary.aiav %}
                                    <b class="text-light mr-2">Property Value: </b> {{summary|get_income_price }} EUR
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-12"><b class="text-light mr-2">Address:</b> {{valuation.address}}, {{valuation.city.name}}, {{valuation.area.name}}</div>
                                <div class="col-md-6"><b class="text-light mr-2">Proprietar:</b> {{valuation.owner}}</div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-md-6">
                                    <b class="text-light mr-2">Nume Client: </b>{{valuation.nume_client}}
                                </div>
                                <div class="col-md-6">
                                    <b class="text-light mr-2">Client Address: </b>{{valuation.ct_address}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <b class="text-light mr-2">CUI: </b>{{valuation.cui}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <b class="text-light mr-2">Utilizator: </b>{{valuation.report_recipient}}
                                </div>
                            </div>
                            <!-- property details -->
                        </div>
                        <div class="col-md-5">
                            <div id="mapid"></div>
                        </div>
                    </div>
                    
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <!-- date  -->
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <b class="text-light">Data evaluarii</b>
                                </div>
                            </div>

                            <div class="row mb-1">
                                <div class="col-md-4">
                                    <b class="text-light mr-2">Inspection Date:</b> {{valuation.inspection_date}}
                                </div>
                                <div class="col-md-4">
                                    <b class="text-light mr-2">Valuation Date:</b>{% if valuation.valuation_date %} {{valuation.valuation_date}}{% else %} <span class="text-danger">Not set</span> {% endif %}
                                </div>
                                <div class="col-md-4">
                                    <b class="text-light mr-2">Report Date:</b>{% if valuation.report_data %} {{valuation.report_date}}{% else %} <span class="text-danger">Not set</span> {% endif %}
                                </div>
                            </div>
                            <!-- date  -->

                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <a class="btn btn-secondary" href="{% url 'dashboard:edit_valuation' id=valuation.id %}">
                                        <i class="fas fa-pencil-alt mr-2"></i>EDIT
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- =========================================================================== -->
            <!-- ================================ cover photos ============================= -->
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Cover Fotografii</h4>
                        {% if not photos %}
                        <button type="button" class="ml-auto btn btn-icon btn-round btn-primary" id="addCoverPhotos" data-toggle="collapse" data-target="#cover-photo" aria-expanded="false" aria-controls="cover-photo">
                            <i class="fa fa-plus"></i>
                        </button>
                        {% endif %}
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        {% if photos %}
                        <div class="col-md-12">
                            <div id="gallery">
                                <div id="image-container">
                                    <div id="txtresponse" >Images order is updated</div>
                                    <ul id="image-list" class="mb-4">
                                        {% for c in photos %}
                                            {% if c.refer_to == 'cover' %}
                                            <li id="image_{{ c.id }}" >
                                                <img src="{{ c.image.url }}" alt="Cover photo">
                                            </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    <button class="btn btn-secondary re-order">REORDER</button>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="col-md-12 collapse" id="cover-photo" aria-labelledby="addCoverPhotos">
                            <form action="{% url 'valuation:save_photos' %}" class="dropzone dz-clickable" id="coverPhotoDropzone">
                                {% csrf_token %}
                                <input type="hidden" name="vid" value="{{valuation.id}}">
                                <input type="hidden" name="order" id="cover-order" value="">
                                <input type="hidden" name="refer_to" value="cover">
                                <div class="dz-message" data-dz-message="">
                                    <div class="icon">
                                        <i class="flaticon-file"></i>
                                    </div>
                                    <h4 class="message">Drag and Drop files here</h4>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- =========================================================================== -->
            <!-- =========================== valuation summary ============================= -->
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Rezumatul Evaluarii</h4>
                        {% if summary is not None %}
                            <button type="button" class="ml-auto btn btn-icon btn-round btn-primary" id="edit_summary" data-toggle="tooltip" data-placement="top" title="Edit summary">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        {% else %}
                            <button type="button" class="ml-auto btn btn-icon btn-round btn-primary" id="add_summary" data-toggle="tooltip" data-placement="top" title="Add summary">
                                <i class="fa fa-plus"></i>
                            </button>
                        {% endif %}
                    </div>
                </div>
                
                {% if summary is not None %}
                <div class="card-body">
                    {% if photos %}
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-light">Rezumantul Fotografii</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="summary-gallery">
                                <div id="summary-image-container">
                                    <div id="summary-txtresponse" >Images order is updated</div>
                                    <ul id="summary-image-list" class="mb-4">
                                        {% for c in photos %}
                                            {% if c.refer_to == 'summary' %}
                                            <li id="summary_image_{{ c.id }}" >
                                                <img src="{{ c.image.url }}" alt="Summary photo">
                                            </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    <button class="btn btn-secondary summary-reorder">REORDER</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row mt-4">
                        <div class="col-md-4">
                            <b class="text-light mr-2">Scopul Evaluarii:</b> {{ summary.purpose.purpose }}
                        </div>
                        <div class="col-md-4">
                            <b class="text-light mr-2">Curs valutar:</b> 1 EUR = {{ summary.fer }} RON
                        </div>
                        <div class="col-md-4">
                            <b class="text-light mr-2">Curs valutar data:</b> {{ summary.fer_date|date:"d M Y" }}
                        </div>
                    </div>

                    <p class="mt-3 text-light" style="font-size: 18px;">Valori rezultate</p>
                    <div class="row">
                        {% if summary.amav %}
                        <div class="col-md-6">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td><b>Valoarea de piata proprietate</b></td>
                                        <td>
                                            <b>
                                                {{ summary|get_market_price }} EUR<br>
                                            </b>
                                            <b>
                                                {{ summary|get_market_ron }} RON
                                            </b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Apartament</td>
                                        <td><b>{{ summary.amav|floatformat:'0' }} EUR</b></td>
                                    </tr>
                                    {% if summary.suprateran_mv %}
                                    <tr>
                                        <td>Loc de parcare nr. {{ compartments|get_suprateran_nr|floatformat:'0' }}</td>
                                        <td><b>{{ summary.suprateran_mv|floatformat:'0' }} EUR</b></td>
                                    </tr>
                                    {% endif %}
                                    {% if summary.subteran_mv %}
                                    <tr>
                                        <td>Loc de parcare nr. {{ compartments|get_subteran_nr|floatformat:'0' }}</td>
                                        <td><b>{{ summary.subteran_mv|floatformat:'0' }} EUR</b></td>
                                    </tr>
                                    {% endif %}
                                    {% if summary.boxa_mv %}
                                    <tr>
                                        <td>Boxa nr. {{ compartments|get_boxa_nr|floatformat:'0' }}</td>
                                        <td><b>{{ summary.boxa_mv|floatformat:'0' }} EUR</b></td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %} 
                        {% if summary.aiav %}
                        <div class="col-md-6">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td><b>Valoarea de venit proprietate</b></td>
                                        <td>
                                            <b>
                                                {{ summary|get_income_price }} EUR<br>
                                            </b>
                                            <b>
                                                {{ summary|get_income_ron }} RON
                                            </b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Apartament</td>
                                        <td><b>{{ summary.aiav|floatformat:'0' }} EUR</b></td>
                                    </tr>
                                    {% if summary.suprateran_iv %}
                                    <tr>
                                        <td>Loc de parcare nr. {{ compartments|get_suprateran_nr|floatformat:'0' }}</td>
                                        <td><b>{{ summary.suprateran_iv|floatformat:'0' }} EUR</b></td>
                                    </tr>
                                    {% endif %}
                                    {% if summary.subteran_iv %}
                                    <tr>
                                        <td>Loc de parcare nr. {{ compartments|get_subteran_nr|floatformat:'0' }}</td>
                                        <td><b>{{ summary.subteran_iv|floatformat:'0' }} EUR</b></td>
                                    </tr>
                                    {% endif %}
                                    {% if summary.boxa_iv %}
                                    <tr>
                                        <td>Boxa nr. {{ compartments|get_boxa_nr|floatformat:'0' }}</td>
                                        <td><b>{{ summary.boxa_iv|floatformat:'0' }} EUR</b></td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %} 
                    </div>
                </div>
                {% endif %}
            </div>
            
            <!-- =========================================================================== -->
            <!-- ============================= Presentation data =========================== -->
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Prezentarea Datelor</h4>
                        {% if presentation is not None %}
                            <button type="button" class="ml-auto btn btn-icon btn-round btn-primary" id="edit_pdata" data-toggle="tooltip" data-placement="top" title="Edit prezentarea datelor">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        {% else %}
                            <button type="button" class="ml-auto btn btn-icon btn-round btn-primary" id="add_pdata" data-toggle="tooltip" data-placement="top" title="Add Prezentarea Datelor">
                                <i class="fa fa-plus"></i>
                            </button>
                        {% endif %}
                    </div>
                </div>
                
                {% if presentation is not None %}
                <div class="card-body presentation-data">
                    {% if source %}
                    <div class="row mb-4">
                        <div class="col-md-12 text-light">
                            <p class="text-light mb-1"><b>Sursă de informații</b></p>
                            {% for src in source %}
                                <p class="mb-0">- &emsp; {{ src.source }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="row mb-3">
                        <div class="col-md-12 text-light">
                            <p class="text-light mb-1"><b>Identificarea proprietății subiect</b></p>
                            <p class="text-justify text-muted">{{ presentation.sub_identi|linebreaks }}</p> 
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12 text-light">
                            <p class="text-light"><b>Ipoteze speciale</b></p>
                            <p class="text-justify">{{ presentation.sp_hypo|linebreaks }}</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12 text-light">
                            <p class="text-light"><b>Zona</b></p>
                            <p class="text-justify">{{ presentation.zona|linebreaks }}</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12 text-light">
                            <p class="text-light"><b>Informatii specifice</b></p>
                            <p class="text-justify">Proprietatea are caracter rezidential este amplasata in zona centrala din orasul Ciofrângeni, pe Millmead Business Center, strada asfaltata cu {{ presentation.strada.type }} pe sens. Strada de acces are caracter public.</p>
                            <p class="text-light"><b>Legaturi transport public</b></p>
                            {% for p in presentation.pt|get_public_transport %}
                            <button class="btn btn-secondary btn-round mr-1 tag-btn">{{ p.name }}</button>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <p class="text-light"><b>Puncte de interes</b></p>
                            {% for place in presentation.poi|covertlist %}
                                <button class="btn btn-secondary btn-round mr-1 tag-btn mb-2">{{ place }}</button>
                            {% endfor %}
                        </div>
                    </div>

                    {% if presentation.legal_doc %}
                    <div class="row mb-4">
                        <div class="col-md-12 text-light">
                            <p class="text-light mb-1"><b>Proprietar si situatia juridica</b></p>
                            {% for src in source %}
                                {% if src.id|stringformat:"i" in presentation.legal_doc %}
                                <p class="mb-0">- &emsp; {{ src.source }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                    <div class="row mb-3">
                        <div class="col-md-4">
                            <span><b class="text-light">Cadastral nr.: </b>{{ presentation.cadastral_no }}</span>
                        </div>
                        <div class="col-md-4">
                            <span><b class="text-light">Land book nr.: </b>{{ presentation.land_book_no }}</span>
                        </div>
                        <div class="col-md-4">
                            <span><b class="text-light">UAT: </b>{{ presentation.uat }}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <p class="text-light"><b>Sarcini</b></p>
                            {% if presentation.charges != 'yes' %}
                            <p class="text-justify">Conform Extrasului de Carte Funciara pus la dispozitie, proprietatea nu este grevata de sarcini. La data evaluarii proprietatea este considerata libera de sarcini.</p>
                            {% else %}
                            <p class="text-justify">Conform Extrasului de Carte Funciara pus la dispozitie, proprietatea este grevata de sarcini in favoarea {{ presentation.sarcini }}. La data evaluarii proprietatea este considerata libera de sarcini</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <p class="text-light"><b>Utilizarea actuala</b></p>
                            <p class="text-justify">La data inspectiei proprietatea avea utilizarea {% if 'Apartamente' in valuation.property_type.type %}rezidentiala{% endif %} si era {{presentation.get_current_use_display|lower }}.</p>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <p class="text-light"><b>Identificare</b></p>
                            <p class="text-justify">Indentificarea imobilului s-a realizat pe baza documentelor puse la dispozitie, cu ajutorul {{presentation.identification|get_identification}}</p>
                        </div>
                    </div>

                    {% if presentation.history %}
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-light"><b>History</b></p>
                            {{ presentation.history }}
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            

        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <!-- re-order photo -->
    <script src="{% static 'dashboard/js/jquery-ui.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        // ========================== map management ==========================
        var lat = '{{ valuation.latitude }}'
        var lng = '{{ valuation.longitude }}'
        var map = L.map('mapid').setView([lat, lng], 14);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibmFlZW0yMyIsImEiOiJja2lyNmpzdjUwMHVrMnRreXZyNHdubHptIn0.X3OwhHNVTJG_SzVzHEeLnQ', {
            attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoibmFlZW0yMyIsImEiOiJja2lyNmpzdjUwMHVrMnRreXZyNHdubHptIn0.X3OwhHNVTJG_SzVzHEeLnQ'
        }).addTo(map);

        var marker = L.marker([lat, lng]).addTo(map)
        marker.on('click', function(e) {
            var latlng = [e.target.getLatLng()];
            var markerbounds = L.latLngBounds(latlng);
            map.fitBounds(markerbounds);
        })

        // ====================================================================
        // ======================== add cover photos ==========================
        var order = 1;
        $("#coverPhotoDropzone").click(function () {
            $('#image-order').val(order);
            order++;
        })
        Dropzone.options.coverPhotoDropzone = {
            maxFiles: 4,
            init: function() {
                this.on("maxfilesexceeded", function(file){
                    alert("No more files please!");
                });
            }
        };

        // ====================================================================
        // ========================= re-order photos ==========================
        var cdropIndex;
        $("#image-list").sortable({
            update: function(event, ui) { 
                dropIndex = ui.item.index();
            }
        });

        // summary photo
        var sdropIndex;
        $("#summary-image-list").sortable({
            update: function(event, ui) { 
                sdropIndex = ui.item.index();
            }
        });

        // cover photo
        $('.re-order').click(function (e) {
            $("#image-list").sortable('destroy');
            var h = [];
            $("#image-list li").each(function() {
                h.push($(this).attr('id').substr(6));
            });
            $.ajax({
                url: "{% url 'dashboard:reorder_image' %}",
                type: 'POST',
                data: {ids: " " + h + "", csrfmiddlewaretoken:'{{csrf_token}}'},
                success: function (e) {
                    $("#txtresponse").css('display', 'inline-block');
                    if(e.response == 'true'){
                        $("#txtresponse").text('Images order is updated');
                    } else {
                        $("#txtresponse").text('Problem changing image order');
                    }
                }
            });
            e.preventDefault();
        });

        // summary photo
        $('.summary-reorder').click(function (e) {
            $("#summary-image-list").sortable('destroy');
            var sh = [];
            $("#summary-image-list li").each(function() {
                sh.push($(this).attr('id').substr(14));
            });
            $.ajax({
                url: "{% url 'dashboard:reorder_image' %}",
                type: 'POST',
                data: {ids: " " + sh + "", csrfmiddlewaretoken:'{{csrf_token}}'},
                success: function (e) {
                    $("#summary-txtresponse").css('display', 'inline-block');
                    if(e.response == 'true'){
                        $("#summary-txtresponse").text('Images order is updated');
                    } else {
                        $("#summary-txtresponse").text('Problem changing image order');
                    }
                }
            });
            e.preventDefault();
        });





    </script>
{% endblock javascripts %}  
