{% extends "base.html" %}

{% block title %} Detalii de evaluare {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    {% load static %}
    <!-- Load Leaflet from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

    <!-- order image -->
    <link rel="stylesheet" href="{% static 'dashboard/css/jquery-ui.css' %}">

    <!-- dropzone file upload -->
    <script src="{% static 'dashboard/js/dropzone.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dashboard/css/dropzone.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/valuation_details.css' %}">

    <style>
        /* multiple select css  */
        .ms-choice {
            background: #1a2035!important;
            border: none;
            height: 19px;
            color: #fff!important;
        }
        .ms-choice>span {
            color: #fff;
            top: 5px;
            left: 8px;
        }
        .ms-drop {
            left: 0;
        }
        .ms-drop span {
            color: #1a2035!important;
        }
        
        #cover-container, #summary-container{
            margin-bottom: 14px;
        }
        #cover-list, #summary-list { 
            list-style-type: none; 
            margin: 0; 
            padding: 0; 
        }
        #cover-list li, #summary-list li { 
            margin: 10px 20px 10px 0px; 
            display: inline-block;
        }
        #cover-list li img, #summary-list li img {
            width: 150px;
            height: 100px;
        }
        #txtresponse, #summary-txtresponse{
            padding: 10px 20px;
            border-radius: 3px;
            margin-bottom: 10px;
            display: none;
            width: 100%;
            border :#E0E0E0 1px solid;
            color: white;  
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">{% if valuation.status.id == 2 %} Evaluare Completă{% else %}Evaluare Incompletă{% endif %}</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        {% if valuation.status.id == 2 %}
                            <a href="{% url 'dashboard:dashboard' %}">Evaluare completă</a>
                        {% else %}
                            <a href="{% url 'dashboard:incomplete' %}">Evaluare incompletă</a>
                        {% endif %}
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="">Detalii de evaluare</a>
                    </li>
                </ul>
            </div>

            {% load my_filters %}
            <!-- =========================================================================== -->
            <!-- =========================== address and basic ============================= -->
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <div class="card-title">
                            {% if valuation.title %}
                                {{ valuation.title }}
                            {% else %}
                                {{ valuation.property_type.type }} cu {{camara.camara|floatformat:0}} si dependinte
                            {% endif %}
                        </div>
                        <a class="btn btn-primary btn-round ml-auto" href="{% url 'dashboard:pdf' id=valuation.id %}">
                            <i class="fas fa-file-alt mr-2"></i>
                            PDF
                        </a>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row mb-1">
                                <div class="col-md-6 mt-2">
                                    <b class="text-light mr-2"># EPI-{{valuation.reference_no}}-{{valuation.inspection_date|date:"dmy"}}</b>
                                </div>
                                <div class="col-md-6">
                                    <b class="text-light mr-2">Valuation Status:</b>
                                    <div class="btn-group status">
                                        <button class="btn status {% if valuation.status.id == 1 %}btn-outline-info {% elif valuation.status.id == 2 %} btn-outline-success {% elif valuation.status.id == 3 %} btn-outline-warning{% else %} btn-outline-danger {% endif %} btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{valuation.status.status }}
                                        </button>
                                        <div class="dropdown-menu">
                                            {% for s in status %}
                                                {% if valuation.status.id != s.id %}
                                                    <a class="dropdown-item" href="{% url 'dashboard:change_status' status=s.id id=valuation.id %}">{{s.status}}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row mb-4">
                                <div class="col-md-6">
                                    <b class="text-light mr-2">Inspector Name:</b>
                                    {% if valuation.evaluator %}
                                        {{ valuation.evaluator.get_full_name }} 
                                    {% else %}
                                        Not Assigned
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    {% if valuation.evaluator.certification_number %}
                                    <b class="text-light mr-2">Certification Nr.:</b>
                                        {{ valuation.evaluator.certification_number }}
                                    {% endif %}
                                </div>
                            </div>
                            
                            <!-- property details -->
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <b class="text-light">Property Details</b>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-6"><b class="text-light mr-2">Tipul proprietate:</b>  {{valuation.property_type.type}}</div>
                                <div class="col-md-6">
                                    <b class="text-light mr-2">Compartimetare:</b>  
                                    {% if valuation.compartment_type %}{{valuation.compartment_type.type}}{% endif %}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    {% if summary.amav %}
                                    <b class="text-light mr-2">Abordare:</b> Prin piata 
                                    {% elif summary.aiav %} 
                                    <b class="text-light mr-2">Abordare:</b> Prin venit
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    {% if summary.amav %}
                                    <b class="text-light mr-2">Property Value: </b> {{ valuation|get_market_value|floatformat:'0' }} EUR
                                    {% elif summary.aiav %}
                                    <b class="text-light mr-2">Property Value: </b> {{ valuation|get_market_value|floatformat:'0' }} EUR
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-6"><b class="text-light mr-2">Address:</b> {{valuation.address}}, {{valuation.city.name}}, {{valuation.area.name}}</div>
                                <div class="col-md-6"><b class="text-light mr-2">Proprietar:</b> {{valuation.owner}}</div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-md-6">
                                    <b class="text-light mr-2">Nume Client: </b>{{valuation.nume_client}}
                                </div>
                                <div class="col-md-6">
                                    <b class="text-light mr-2">Client Address: </b>{{valuation.ct_address}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <b class="text-light mr-2">CUI: </b>{{valuation.cui}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <b class="text-light mr-2">Utilizator: </b>{{valuation.report_recipient}}
                                </div>
                            </div>
                            <!-- property details -->
                        </div>
                        <div class="col-md-5">
                            <div id="mapid"></div>
                        </div>
                    </div>
                    
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <!-- date  -->
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <b class="text-light">Data evaluarii</b>
                                </div>
                            </div>

                            <div class="row mb-1">
                                <div class="col-md-4">
                                    <b class="text-light mr-2">Inspection Date:</b> {{valuation.inspection_date}}
                                </div>
                                <div class="col-md-4">
                                    <b class="text-light mr-2">Valuation Date:</b>{% if valuation.valuation_date %} {{valuation.valuation_date}}{% else %} <span class="text-danger">Not set</span> {% endif %}
                                </div>
                                <div class="col-md-4">
                                    <b class="text-light mr-2">Report Date:</b>{% if valuation.report_date %} {{valuation.report_date}}{% else %} <span class="text-danger">Not set</span> {% endif %}
                                </div>
                            </div>
                            <!-- date  -->

                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <a class="btn btn-secondary" href="{% url 'valuation:edit_initial' id=valuation.id %}">
                                        <i class="fas fa-pencil-alt mr-2"></i>EDIT
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- =========================================================================== -->
            <!-- ================================ cover photos ============================= -->
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Cover Fotografii</h4>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        {% if cover_photo %}
                            <div class="col-md-12">
                                <div id="cover-container">
                                    <div id="txtresponse" >Images order is updated</div>
                                    <ul id="cover-list" class="mb-2">
                                        {% for c in cover_photo %}
                                            <li id="cover_{{ c.id }}" class="text-center">
                                                <img src="{{ c.image.url }}" alt="Cover photo" class="photos">
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <button class="btn btn-secondary re-order btn-sm">REORDER</button>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- =========================================================================== -->
            <!-- =========================== valuation summary ============================= -->
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Rezumatul Evaluarii</h4>
                        {% if summary %}
                            <button type="button" class="ml-auto btn btn-icon btn-round btn-primary" id="edit_summary" data-toggle="tooltip" data-placement="top" title="Edit summary">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        {% else %}
                            <button type="button" class="ml-auto btn btn-icon btn-round btn-primary" id="add_summary" data-toggle="tooltip" data-placement="top" title="Add summary">
                                <i class="fa fa-plus"></i>
                            </button>
                        {% endif %}
                    </div>
                </div>
                
                {% if summary %}
                <div class="card-body">
                    {% if summary_photo %}
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="text-light">Rezumantul Fotografii</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="summary-container">
                                    <div id="summary-txtresponse" >Images order is updated</div>
                                    <ul id="summary-list" class="mb-2">
                                        {% for c in summary_photo %}
                                            <li id="summary_{{ c.id }}" class="text-center">
                                                <img src="{{ c.image.url }}" alt="Summary photo">
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <button class="btn btn-secondary summary-reorder btn-sm">REORDER</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row mt-4">
                        <div class="col-md-4">
                            <b class="text-light mr-2">Scopul Evaluarii:</b> {{ summary.purpose.purpose }}
                        </div>
                        <div class="col-md-4">
                            <b class="text-light mr-2">Curs valutar:</b> 1 EUR = {{ summary.fer }} RON
                        </div>
                        <div class="col-md-4">
                            <b class="text-light mr-2">Curs valutar data:</b> {{ summary.fer_date|date:"d M Y" }}
                        </div>
                    </div>

                    <p class="mt-3 text-light" style="font-size: 18px;">Valori rezultate</p>
                    <div class="row">
                        {% if summary.amav %}
                        <div class="col-md-6">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td><b>Valoarea de piata proprietate</b></td>
                                        <td>
                                            <b>{{valuation|get_market_value|floatformat:'0'}} EUR</b><br>
                                            <b>{{valuation|get_market_value_ron:summary|floatformat:'0'}} RON</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Apartament</td>
                                        <td><b>{{ summary.amav|floatformat:'0' }} EUR</b></td>
                                    </tr>
                                    {% for sv in summary_value %}
                                        {% if sv.approache == 'market' %}
                                        <tr>
                                            <td>{{sv.field_name}}</td>
                                            <td><b>{{ sv.field_value }} EUR</b></td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %} 

                        {% if summary.aiav %}
                        <div class="col-md-6">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td><b>Valoarea de venit proprietate</b></td>
                                        <td>
                                            <b>{{valuation|get_income_value|floatformat:'0'}} EUR</b><br>
                                            <b>{{valuation|get_income_value_ron:summary|floatformat:'0'}} RON</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Apartament</td>
                                        <td><b>{{ summary.aiav|floatformat:'0' }} EUR</b></td>
                                    </tr>
                                    {% for sv in summary_value %}
                                        {% if sv.approache == 'income' %}
                                        <tr>
                                            <td>{{sv.field_name}}</td>
                                            <td><b>{{ sv.field_value }} EUR</b></td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %} 
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <!-- re-order photo -->
    <script src="{% static 'dashboard/js/jquery-ui.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        // ========================== map management ==========================
        var lat = '{{ valuation.latitude }}'
        var lng = '{{ valuation.longitude }}'
        var map = L.map('mapid').setView([lat, lng], 14);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibmFlZW0yMyIsImEiOiJja2lyNmpzdjUwMHVrMnRreXZyNHdubHptIn0.X3OwhHNVTJG_SzVzHEeLnQ', {
            attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoibmFlZW0yMyIsImEiOiJja2lyNmpzdjUwMHVrMnRreXZyNHdubHptIn0.X3OwhHNVTJG_SzVzHEeLnQ'
        }).addTo(map);

        var marker = L.marker([lat, lng]).addTo(map)
        marker.on('click', function(e) {
            var latlng = [e.target.getLatLng()];
            var markerbounds = L.latLngBounds(latlng);
            map.fitBounds(markerbounds);
        })

        // ========================= re-order photos ==========================
        var cdropIndex;
        $("#cover-list").sortable({
            update: function(event, ui) { 
                dropIndex = ui.item.index();
            }
        });

        // summary photo
        var sdropIndex;
        $("#summary-list").sortable({
            update: function(event, ui) { 
                sdropIndex = ui.item.index();
            }
        });

        // cover photo
        $('.re-order').click(function (e) {
            $("#cover-list").sortable('destroy');
            var h = [];
            $("#cover-list li").each(function() {
                h.push($(this).attr('id').substr(6));
            });
            $.ajax({
                url: "{% url 'valuation:reorder_photos' %}",
                type: 'POST',
                data: {ids: " " + h + "", csrfmiddlewaretoken:'{{csrf_token}}'},
                success: function (e) {
                    $("#txtresponse").css('display', 'inline-block');
                    if(e.response == 'true'){
                        $("#txtresponse").text('Images order is updated');
                    } else {
                        $("#txtresponse").text('Problem changing image order');
                    }
                }
            });
            e.preventDefault();
        });

        // summary photo
        $('.summary-reorder').click(function (e) {
            $("#summary-list").sortable('destroy');
            var sh = [];
            $("#summary-list li").each(function() {
                sh.push($(this).attr('id').substr(8));
            });
            $.ajax({
                url: "{% url 'valuation:reorder_photos' %}",
                type: 'POST',
                data: {ids: " " + sh + "", csrfmiddlewaretoken:'{{csrf_token}}'},
                success: function (e) {
                    $("#summary-txtresponse").css('display', 'inline-block');
                    if(e.response == 'true'){
                        $("#summary-txtresponse").text('Images order is updated');
                    } else {
                        $("#summary-txtresponse").text('Problem changing image order');
                    }
                }
            });
            e.preventDefault();
        });
        
    </script>
{% endblock javascripts %}  
