		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="dark2">	
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">

				{% if request.user.is_authenticated %}	
					<ul class="nav nav-primary">
						<li class="nav-item {% if 'initial' in segment %} active {% endif %}">
							<a href="{% if valuation %}{% url 'valuation:edit_initial' id=valuation.id %}{% else %}{% url 'valuation:initial_form' %}{% endif %}">
								<p>Date Initiale</p>
							</a>
						</li>

						<li class="nav-item {% if 'summary' in segment %} active {% endif %}">
							<a href="{% if valuation %}{% url 'valuation:add_summary' id=valuation.id %}{% endif %}">
								<p>Rezumatul Evaluarii</p>
							</a>
						</li>

						<li class="nav-item {% if 'construction' in segment %} active {% endif %}">
							<a href="{% if valuation %}{% url 'valuation:add_construction' id=valuation.id %}{% endif %}">
								<p>Constructia</p>
							</a>
						</li>

						<li class="nav-item {% if 'presentation' in segment %} active {% endif %}">
							<a href="{% if valuation %}{% url 'valuation:add_presentation' id=valuation.id %}{% endif %}">
								<p>Prezentarea Datelor</p>
							</a>
						</li>
						
						<li class="nav-item {% if 'market' in segment %} active {% endif %}">
							<a href="{% if valuation %}{% url 'valuation:add_market_analysis' id=valuation.id %}{% endif %}">
								<p>Analiza Pieței</p>
							</a>
						</li>
						
						<li class="nav-item {% if 'comparable' in segment %} active {% endif %}">
							<a href="{% if valuation %}{% url 'valuation:select_comparable' id=valuation.id %}{% endif %}">
								<p>Comparable</p>
							</a>
						</li>

						<li class="nav-item {% if 'anexa' in segment %} active {% endif %}">
							<!-- milton -->
							<a data-toggle="collapse" href="#submenu">
								<p>Anexa</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="submenu">
								<ul class="nav nav-collapse">
									<li class="{% if segment == 'anexa1' %} active {% endif %}">
										<a href="{% if valuation %}{% url 'valuation:add_anexa1' id=valuation.id %}{% endif %}">
											<span class="sub-item">Anexa1</span>
										</a>
									</li>
									<li class="{% if segment == 'anexa2' %} active {% endif %}">
										<a href="{% if valuation %}{% url 'valuation:add_anexa2' id=valuation.id %}{% endif %}">
											<span class="sub-item">Anexa2</span>
										</a>
									</li>
									<li class="{% if segment == 'anexa3' %} active {% endif %}">
										<a href="{% if valuation %}{% url 'valuation:add_anexa3' id=valuation.id %}{% endif %}">
											<span class="sub-item">Anexa3</span>
										</a>
									</li>									
									<li class="{% if segment == 'anexa4' %} active {% endif %}">
										<a href="{% if valuation %}{% url 'valuation:add_anexa4' id=valuation.id %}{% endif %}">
											<span class="sub-item">Anexa4</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				{% endif %}	
				</div>
			</div>
		</div>
        <!-- End Sidebar -->
        