		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="dark2">	
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">

				{% if request.user.is_authenticated %}	
					<ul class="nav nav-primary">
						<li class="nav-item {% if 'initial' in segment %} active {% endif %}">
							<a href="{% url 'valuation:initial_form' %}">
								<p>Date Initiale</p>
							</a>
						</li>

						<li class="nav-item {% if 'summary' in segment %} active {% endif %}">
							<a href="{% if valuation %}{% url 'valuation:add_summary' id=valuation.id %}{% endif %}">
								<p>Rezumatul Evaluarii</p>
							</a>
						</li>

						<li class="nav-item {% if 'construction' in segment %} active {% endif %}">
							<a href="{% if valuation %}{% url 'valuation:add_construction' id=valuation.id %}{% endif %}">
								<p>Constructia</p>
							</a>
						</li>

						<li class="nav-item {% if 'presentation' in segment %} active {% endif %}">
							<a href="{% if valuation %}{% url 'valuation:add_presentation' id=valuation.id %}{% endif %}">
								<p>Prezentarea Datelor</p>
							</a>
						</li>
						
						<li class="nav-item {% if 'market' in segment %} active {% endif %}">
							<a href="{% if valuation %}{% url 'valuation:add_market_analysis' id=valuation.id %}{% endif %}">
								<p>Analiza Pieței</p>
							</a>
						</li>
						
						<li class="nav-item {% if 'comparable' in segment %} active {% endif %}">
							{% if comp_table %}
							<a href="{% if valuation %}{% url 'valuation:add_comparable' id=valuation.id %}{% endif %}">
								<p>Comparable</p>
							</a>
							{% else %}
							<a href="{% if valuation %}{% url 'valuation:select_comparable' id=valuation.id %}{% endif %}">
								<p>Comparable</p>
							</a>
							{% endif %}
						</li>

						<li class="nav-item {% if 'anexa' in segment %} active {% endif %}">
							<a href="{% if valuation.id %}{% url 'valuation:add_anexa' id=valuation.id %}{% endif %}">
								<p>Anexa</p>
							</a>
						</li>
					</ul>
				{% endif %}	
				</div>
			</div>
		</div>
        <!-- End Sidebar -->
        