		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="dark2">	
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">

				{% if request.user.is_authenticated %}	
					<div class="user">
						<div class="avatar-sm float-left mr-2">
							<img src="/static/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
						</div>
						<div class="info">
							<a data-toggle="collapse" href="#profile" aria-expanded="true">
								<span>
									{{ request.user.username }}
									<span class="user-level">
										{{ request.user.email }}
									</span>
									<span class="caret"></span>
								</span>
							</a>
							<div class="clearfix"></div>

							<div class="collapse in" id="profile">
								<ul class="nav">
									<li>
										<a href="{% url 'authentication:agent_details' id=request.user.id %}">
											<span class="link-collapse">My Profile</span>
										</a>
									</li>
									<li>
										<a href="{% url 'authentication:signout' %}">
											<span class="link-collapse">Logout</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<ul class="nav nav-primary">
						<!-- <li class="nav-item {% if 'index' in segment %} active {% endif %}">
							<a href="{% url 'dashboard:dashboard' %}">
								<i class="fas fa-home"></i>
								<p>Dashboard</p>
							</a>
						</li> -->

						<li class="nav-item {% if 'complete' in segment %} active {% endif %}">
							<a href="{% url 'dashboard:dashboard' %}">
								<i class="far fa-check-square"></i>
								<p>Evaluari complete</p>
							</a>
						</li>

						<li class="nav-item {% if 'incomplet' in segment %} active {% endif %}">
							<a href="{% url 'dashboard:incomplete' %}">
								<i class="far fa-window-close"></i>
								<p>Evaluari incomplete</p>
							</a>
						</li>
						
						<li class="nav-item {% if 'comparable' in segment %} active {% endif %}">
							<a href="{% url 'dashboard:comparable_list' %}">
								<i class="far fa-copy"></i>
								<p>Proprietati comparabile</p>
							</a>
						</li>
						
						<li class="nav-item {% if 'settings' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#submenu">
								<i class="fas fa-cogs"></i>
								<p>Settings</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="submenu">
								<ul class="nav nav-collapse">
									<li>
										<a href="{% url 'authentication:agents' %}">
											<span class="sub-item">Agents</span>
										</a>
									</li>
									<li>
										<a href="{% url 'authentication:inspectors' %}">
											<span class="sub-item">Inspectors</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				{% endif %}	
				</div>
			</div>
		</div>
        <!-- End Sidebar -->
        