{% extends "base-form.html" %}

{% block title %} Edit Constructia {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">
    <style>
        .ms-choice {
            background: transparent;
            border: none;
            height: 19px;
        }
        .ms-choice>span {
            color: #fff;
            top: 5px;
            left: 8px;
        }
        .ms-drop {
            left: 0;
        }
        .ms-drop span {
            color: #1a2035!important;
        }
        .table td {
            border-bottom: none!important;
            height: 40px!important;
            padding-top: 8px!important;
        }
    </style>
{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Constructia</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="">Valuation Form</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="">Constructia</a>
                    </li>
                </ul>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Constructia</div>
                </div>
                
                <form action="" method="POST" id="construction-form">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_structure">Etaj</label>
                                    {{ form.etaj }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_structure">An constructie</label>
                                    {{ form.build_in }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_structure">Structure</label>
                                    {{ form.structure }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_foundation">Foundation</label>
                                    {{ form.foundation }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_closure">Closure</label>
                                    {{ form.closure }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_subcompartment">Sub compartment</label>
                                    {{ form.subcompartment }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_roof">Roof</label>
                                    {{ form.roof }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_walls">walls</label>
                                    {{ form.walls }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_interior_carpentry">Interior carpentry</label>
                                    {{ form.interior_carpentry }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_ceiling">Ceiling</label>
                                    {{ form.ceiling }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exterior_finishes">Exterior finishes</label>
                                    {{ form.exterior_finishes }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_exterior_carpentry">Exterior carpentry</label>
                                    {{ form.exterior_carpentry }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_utilities">Utilities</label>
                                    <select multiple="multiple" id="id_utilities" class="form-control" name="utilities[]">
                                        <option value="gas" {% if 'gas' in const.utilities %}selected{% endif %}>Natural gas</option>
                                        <option value="electricity" {% if 'electricity' in const.utilities %}selected{% endif %}>Electricity</option>
                                        <option value="apa" {% if 'apa' in const.utilities %}selected{% endif %}>Apa</option>
                                        <option value="sewerage" {% if 'sewerage' in const.utilities %}selected{% endif %}>Sewerage</option>
                                        <option value="ac" {% if 'ac' in const.utilities %}selected{% endif %}>Air conditioning</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_additional_equipment">Dotari suplimentare</label>
                                    <select multiple="multiple" id="id_additional_equipment" class="form-control" name="additional_equipment[]">
                                        <option value="ac" {% if 'ac' in const.additional_equipment %}selected{% endif %}>Air conditioning</option>
                                        <option value="ngp" {% if 'ngp' in const.additional_equipment %}selected{% endif %}>Conducta de gaze naturale</option>
                                        <option value="mobilat" {% if 'mobilat' in const.additional_equipment %}selected{% endif %}>Mobilat</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_heating">Heating</label>
                                    {{ form.heating }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_finish">Finisaje</label>
                                    {{ form.finish }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="id_comments">Comments</label>
                                    {{ form.comments }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- floors  -->
                    <div class="card-header">
                        <div class="card-title">Pardoseli</div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            {% for r in rooms %}
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="floor_type">{{r.attr_id.name}}</label>
                                    <select class="form-control" id="floor_type" name="floor_{{r.id}}">
                                        <option value="gresie" {% if r.floor_type == 'gresie' %}selected{% endif %}>Gresie</option>
                                        <option value="laminat" {% if r.floor_type == 'laminat' %}selected{% endif %}>Laminat</option>
                                    </select>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                
                    <!-- surface area -->
                    <div class="card-header">
                        <div class="card-title">Suprafete</div>
                    </div>
                    
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" width="15%">Nr. Crt.</th>
                                    <th scope="col" width="30%">Denumire incapere</th>
                                    <th scope="col" width="35%">Suprafata (mp)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% load my_filters %}
                                {% if suprafete %}
                                    <input type="hidden" name="update" value="1">
                                    {% for room in suprafete %}
                                        <tr class="tr">
                                            <td class="nr">{{ forloop.counter }}</td>
                                            <td>
                                                <input type="text" name="room_name[]" value="{{ room.room_name }}" class="form-control">
                                            </td>
                                            <td>
                                                <input type="number" name="area[]" value="{{ room.area }}" class="form-control" step="0.01" required>
                                            </td>
                                            <td>
                                                {% if 'Balcon' in room.room_name or 'Terrace' in room.room_name %}
                                                    <input type="hidden" name="utila[]" value="0">
                                                {% else %}
                                                    <input type="hidden" name="utila[]" value="1">
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <input type="hidden" name="update" value="0">
                                    {% for r in rooms %}
                                        {% if r.attr_value|add:"0" > 1 %}
                                            {% for i in r.attr_value|myrange %}
                                            <tr class="tr">
                                                <td class="nr"></td>
                                                <td>
                                                    <input type="text" name="room_name[]" value="{{ r.attr_id.name }} {{ i }}" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="number" name="area[]" placeholder="0.00" class="form-control" step="0.01" required>
                                                </td>
                                                <td>
                                                    {% if 'Balcon' in r.attr_id.name or 'Terrace' in r.attr_id.name %}
                                                        <input type="hidden" name="utila[]" value="0">
                                                    {% else %}
                                                        <input type="hidden" name="utila[]" value="1">
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr class="tr">
                                                <td class="nr"></td>
                                                <td>
                                                    <input type="text" name="room_name[]" value="{{ r.attr_id.name }}" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="number" name="area[]" placeholder="0.00" class="form-control" step="0.01" required>
                                                </td>
                                                <td>
                                                    {% if 'Balcon' in r.attr_id.name or 'Terrace' in r.attr_id.name %}
                                                        <input type="hidden" name="utila[]" value="0">
                                                    {% else %}
                                                        <input type="hidden" name="utila[]" value="1">
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>

                    <div class="card-action">
                        <button class="btn btn-success" type="submit">UPDATE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
    <script>
        $(function () {
            $('#id_utilities').multipleSelect()
            $('#id_additional_equipment').multipleSelect()
        })

        var table = document.getElementsByTagName('table')[0],
        rows = table.getElementsByClassName('tr'),
        tds = table.getElementsByClassName('nr')

        for (var i = 0, len = rows.length; i <= len; i++) {
            tds[i].innerHTML = i+1;
        }
    </script>
{% endblock javascripts %}  
