{% extends "base-form.html" %}

{% block title %}Edit Prezentarea Datelor {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    {% load static %}   
    <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'valuationform/presentation-data.css' %}">
{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Prezentarea Datelor</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="">Valuation Form</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="">Prezentarea Datelor</a>
                    </li>
                </ul>
            </div>
            
            {% load my_filters %}
            <form method="POST" id="presentation-form">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Prezentarea Datelor</div>
                    </div>
        
                    <div class="card-body">
                        {% if msg %}
                            <p class="text-danger mb-3">{{ msg }}</p>
                        {% endif %}
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="id_sub_identi">Identificarea proprietății subiect</label>
                                    <textarea name="sub_identi" cols="40" rows="6" class="form-control" id="id_sub_identi">{% if pdata.sub_identi %}{{ pdata.sub_identi }}{% else %}Dreptul deplin de proprietate asupra apartamentului cu nr. {{apartment_no}}, compus din {{camere.camere|floatformat:"0"}} camere si dependinte cu o suprafata utila de {{ utila.utila }} mp si trei balcoane cu suprafata lor totala de {{ totala.totala|sub:utila.utila }}, rezultand suprafata utila totala de {{ totala.totala }} mp, impreuna cu dreptul de proprietate asupra cotei indivize de 56.72 mp din partile si dependintele comune ale imobilului si dreptul de proprietate asupra terenului in suprafata de indiviza de 53.59 mp. Apartamentul are numarul cadastral {{pdata.cadastral_no}} si este intabulat in Cartea Funciara numarul {{pdata.land_book_no}}{% endif %}</textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="id_sp_hypo">Ipoteze speciale</label>
                                    {{ form.sp_hypo }}
                                </div>
                            </div>
                        </div>

                        {% load my_filters %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="id_poi">Place of Interest <span class="required-label">*</span></label>
                                    <div class="poi-inputs">
                                        <div class="pois">
                                            {% for place in pdata.poi|covertlist %}
                                            <div class="poi">
                                                <label class="tag-name">{{ place }}</label>
                                                <span class="remove" onclick="remove(this)">X</span>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <input type="text" name="poi" autofocus="autofocus" required="" id="id_poi">
                                    </div>
                                    <small class="form-text text-muted">Comma separated value</small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_pt">Public Transport <span class="required-label">*</span></label>
                                    <select multiple="multiple" id="id_pt" class="form-control" name="pt[]">
                                        <option value="Metrou" {% if 'Metrou' in pdata.pt %}selected{% endif %}>Metrou</option>
                                        <option value="Tramvai" {% if 'Tramvai' in pdata.pt %}selected{% endif %}>Tramvai</option>
                                        <option value="Autobuz" {% if 'Autobuz' in pdata.pt %}selected{% endif %}>Autobuz</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_identification">Identification <span class="required-label">*</span></label>
                                    {{ form.identification }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_legal_doc">Proprietar si situatia juridica <span class="required-label">*</span></label>
                                    <select multiple="multiple" id="id_legal_doc" class="form-control" name="legal_doc[]">
                                        {% for src in src_doc %}
                                        <option data-toggle="tooltip" data-placement="top" title="{{src.source}}" value="{{src.id}}" {% if src.id|stringformat:"i" in pdata.legal_doc %}selected{% endif %}>{{src.source|truncatechars:30}}</option>
                                        {% endfor %}
                                    </select>
                                    <small class="form-text text-muted">Add source of documents first</small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_cadastral_no">Cadastral Nr <span class="required-label">*</span></label>
                                    {{ form.cadastral_no }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_land_book_no">Land Book Nr <span class="required-label">*</span></label>
                                    {{ form.land_book_no }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_uat">UAT <span class="required-label">*</span></label>
                                    {{ form.uat }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_charges">Charges <span class="required-label">*</span></label>
                                    {{ form.charges }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_sarcini">Sarcini Nume</label>
                                    <input type="text" name="sarcini" class="form-control" placeholder="Sarcini Nume" id="id_sarcini" disabled>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_current_use">Current Use <span class="required-label">*</span></label>
                                    {{ form.current_use }}
                                </div>
                            </div>
                        </div>

                        <div class="row"> 
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="id_history">History</label>
                                    {{ form.history }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-action">
                        <button class="btn btn-success" id="next">UPDATE</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}  
    <script src="{% static 'valuationform/presentation-data.js' %}"></script>
    <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
    <script>
        $(function () {
            $('#id_pt').multipleSelect()
            $('#id_legal_doc').multipleSelect()
        })
        
        // remove points of interest 
        function remove (elem) {
            $(elem).parent('div').remove()
        }

        // enable/disable sarcini field 
        $("#id_charges").change(function() {
            var value = $(this).children('option:selected').val();
            if(value == 'yes') {
                $("#id_sarcini").prop('disabled', false);
            } else {
                $("#id_sarcini").prop('disabled', true);
            }
        })

        $('#next').on('click', function() {
            var all = $(".tag-name").map(function() {
                return this.innerHTML;
            }).get();
            $("#id_poi").val(all.join());
            $("#presentation-form").submit();
        })
    </script>
{% endblock javascripts %}  
