{% extends "base-form.html" %}

{% block title %} Rezumatul Evaluarii {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    {% load static %}
    <!-- dropzone file upload -->
    <script src="{% static 'dashboard/js/dropzone.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dashboard/css/dropzone.css' %}">
    
    <style>
        .msg {
            padding-left: 10px;
        }
        .btn-muted {
            background: rgba(169,175,187,.82);
            color: #fff;
        }
        .dropzone {
            padding: 20px 60px 20px!important;
        }
        .dropzone h4 {
            font-size: 26px!important;
        }
        .show-approach {
            display: block!important;
        }
        .market, .income {
            display: none;
        }
        .warning {
            font-size: 16px;
            border: 2px solid red;
            padding: 5px 20px;
            color: red;
        }
        .required {
            border-color: #F25961 !important;
            color: #F25961 !important;
        }
    </style>
{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Rezumatul Evaluarii</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="">Valuation Form</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="">Rezumatul Evaluarii</a>
                    </li>
                </ul>
            </div>


            {% if warning %}
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Rezumatul Evaluarii</div>
                </div>
                <div class="card-body">
                    <p class="warning mb-3">Please set <a href="{% url 'dashboard:add_compartment' id=valuation_id %}" class="text-default">property attributes</a> first.</p>
                </div>
                <div class="card-action">
                    <a class="btn btn-muted mr-2" href="{% url 'dashboard:add_compartment' id=valuation_id %}">CREATE ATTRIBUTES</a>
                    <a class="btn btn-success" href="{% url 'dashboard:details' id=valuation_id %}">SAVE & CONTINUE</a>
                </div>
            </div>
            {% else %}
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Rezumatul Evaluarii</div>
                </div>

                <div class="card-body">
                    <form method="POST" id="summary-value">
                        {% csrf_token %}
                        {% if 'details' in pre_url %}
                        <input type="hidden" name="pre_url" value="details">
                        {% endif %}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_purpose">Scopul Evaluarii <span class="required-label">*</span></label>
                                    <select class="form-control" id="id_purpose" name="purpose">
                                        <option value="bank_guarantee" {% if summary.purpose == 'bank_guarantee' %}selected{% endif %}>Garantare Bancara</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_fer">Curs valutar <span class="required-label">*</span></label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" name="fer" id="id_fer" value="{{ fer }}" step="0.01">
                                        <div class="input-group-append">
                                            <span class="input-group-text">RON</span>
                                        </div>
                                    </div>
                                    <small class="form-text text-muted">Forex exchange rate of last day</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_approach">Evaluare abordare <span class="required-label">*</span></label>
                                    <select class="form-control" id="id_approach" name="approach">
                                        <option value='market' {% if summary.approach == 'market' %}selected{% endif %}>Abordarea prin piata</option>
                                        <option value='income' {% if summary.approach == 'income' %}selected{% endif %}>Abordarea prin venit</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="market {% if summary.approach == 'market' or not summary %}show-approach{% endif %}">
                            <p class="mt-4 ml-2 text-white" style="font-size: 18px;">Abordarea prin piata</p>
                            <div class="row mt-3">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="id_amav">Apartament <span class="required-label">*</span></label>
                                        <div class="input-group">
                                            <input type="number" class="form-control" name="amav" id="id_amav" placeholder="e.g. 0.00" value="{{summary.amav}}" step="0.01">
                                            <div class="input-group-append">
                                                <span class="input-group-text">EUR</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% for a in valueattr %}
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{ a.attr_id.name }} nr. {{a.attr_value}} <span class="required-label">*</span></label>
                                        <div class="input-group">
                                            <input type="number" class="form-control" name="mav_{{ a.id }}" placeholder="e.g 0.00" value="{{a.mav}}" step="0.01">
                                            <div class="input-group-append">
                                                <span class="input-group-text">EUR</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="income {% if summary.approach == 'income' %}show-approach{% endif %}">
                            <p class="mt-4 ml-2 text-white" style="font-size: 18px;">Abordarea prin venit</p>
                            <div class="row mt-3">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="id_aiav">Apartament <span class="required-label">*</span></label>
                                        <div class="input-group">
                                            <input type="number" class="form-control" name="aiav" id="id_aiav" placeholder="e.g. 0.00" value="{{summary.aiav}}" step="0.01">
                                            <div class="input-group-append">
                                                <span class="input-group-text">EUR</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% for a in valueattr %}
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{ a.attr_id.name }} nr. {{a.attr_value}} <span class="required-label">*</span></label>
                                        <div class="input-group">
                                            <input type="number" class="form-control" name="iav_{{ a.id }}" placeholder="e.g. 0.00" value="{{a.iav}}" step="0.01">
                                            <div class="input-group-append">
                                                <span class="input-group-text">EUR</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card-header">
                    <div class="card-title">Fotografii</div>
                </div>
                
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="{% url 'dashboard:save_cover_photos' %}" class="dropzone dz-clickable" id="stepFourDropzone">
                                {% csrf_token %}
                                <input type="hidden" name="cover_vid" id="cover_vid" value="{{ valuation_id }}">
                                <input type="hidden" name="order" id="image-order" value="">
                                <input type="hidden" name="refer_to" value="summary">
                                <div class="dz-message" data-dz-message="">
                                    <div class="icon">
                                        <i class="flaticon-file"></i>
                                    </div>
                                    <h4 class="message">Drag and Drop files here</h4>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card-action">
                    {% if summary %}
                    <button class="btn btn-success step-two-next" id="finish">UPDATE</button>
                    {% else %}
                    <button class="btn btn-success step-two-next" id="finish">{% if 'details' in pre_url %}SAVE{% else %}Next{% endif %}</button>
                    {% endif %}
                </div>
            </div>
            {% endif %} <!-- warning if condition ends here-->
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script type="text/javascript">
        // upload photos
        var order = 1;
        $("#stepFourDropzone").click(function () {
            $('#image-order').val(order);
            order++;
        })
        Dropzone.options.stepFourDropzone = {
            maxFiles: 4,
            init: function() {
                this.on("maxfilesexceeded", function(file){
                    alert("No more files please!");
                });
            }
        };
        // upload photos

        // select approach and change data field
        $("#id_approach").change(function() {
            var value = $(this).children("option:selected").val();
            if (value == 'market') {
                $('.income').css('display', 'none');
                $('.show-approach').attr("style", "display: none !important");
                $('.market').css('display', 'block');
            } else if (value == 'income') {
                $('.market').css('display', 'none');
                $('.show-approach').attr("style", "display: none !important");
                $('.income').css('display', 'block');
            }
        });
        // select approach and change data field

        // submit form
        $("#finish").click(function () {
            var approach = $("#id_approach").val()
            var submit = true;
            if(approach=='market') {
                var minput = $(".market").find('input')
                for (let i=0; i<minput.length; i++) {
                    var mval = $(minput[i]).val()
                    if (mval.length == 0) {
                        $(minput[i]).addClass('required');
                        submit = false;
                        console.log('market if ' + submit);
                    }
                }
            } else {
                var iinput = $(".income").find('input')
                for (let i=0; i<iinput.length; i++) {
                    var ival = $(iinput[i]).val()
                    if(ival.length == 0) {
                        $(iinput[i]).addClass('required');
                        submit = false;
                        console.log('income if ' + submit);
                    }
                }
            }
            
            if(submit) {
                $("#summary-value").submit();
            }
        });
        // submit form
    </script>
{% endblock javascripts %}  
