{% extends "base.html" %}

{% block title %} Add Valuation {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    {% load static %}
    <!-- Load Leaflet from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@3.0.2/dist/esri-leaflet.js"
    integrity="sha512-myckXhaJsP7Q7MZva03Tfme/MSF5a6HC2xryjAM4FxPLHGqlh5VALCbywHnzs2uPoF/4G/QVXyYDDSkp5nPfig=="
    crossorigin=""></script>

    <!-- Load Esri Leaflet Geocoder from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@3.1.1/dist/esri-leaflet-geocoder.css"
    integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
    crossorigin="">
    <script src="https://unpkg.com/esri-leaflet-geocoder@3.1.1/dist/esri-leaflet-geocoder.js"
    integrity="sha512-enHceDibjfw6LYtgWU03hke20nVTm+X5CRi9ity06lGQNtC9GkBNl/6LoER6XzSudGiXy++avi1EbIg9Ip4L1w=="
    crossorigin=""></script>

    <!-- dropzone file upload -->
    <script src="{% static 'dashboard/js/dropzone.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dashboard/css/dropzone.css' %}">

    <style>
        .card-header {
            cursor: pointer;
        }
        .disabled-card {
            pointer-events: none;
            opacity: 0.4;
        }
        #mapid { 
            height: 400px;
            width: 100%; 
        }
        .form-control:disabled {
            background-color: #1a2035 !important;
            color: #fff !important;
            border-color: #2f374b !important;
        }
        .required {
            border-color: #F25961 !important;
            color: #F25961 !important;
        }
        .msg {
            padding-left: 10px;
        }
        .fotografii {
            padding: 0 1.25rem 1rem 1.25rem;
            border-bottom: 1px solid rgba(181,181,181,.1);
        }
        .fotografii-title{
            margin: 0;
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.6;
        }
        .fotografii-body {
            padding: 1.25rem;
        }
        .modal-title {
            font-size: 20px;
            font-weight: 600;
            color: #2f374b!important;
        }
        #cf_name, #cf_value {
            background-color: transparent;
            color: #495057;
        }
    </style>
{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Add Valuation</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="">Valuation Form</a>
                    </li>
                </ul>
            </div>

            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#adresa" aria-expanded="true" aria-controls="adresa">
                         <div class="card-title">Adresa și Tipul Proprietatii</div>
                    </div>

                    <div id="adresa" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="mapid"></div>
                                </div>
                            </div>
                        </div>

                        <div class="card-action">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="id_address">Adresa <span class="required-label">*</span></label>
                                        <input type="text" class="form-control" id="id_address" placeholder="Adresa completa">

                                        <input type="hidden" class="form-control" id="id_latitude" placeholder="umplere automată" disabled>
                                        <input type="hidden" class="form-control" id="id_longitude" placeholder="umplere automată" disabled>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="owner">Proprietar <span class="required-label">*</span></label>
                                        <input type="text" class="form-control" id="owner" placeholder="Proprietar">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="id_property_type">Tipul Proprietatii <span class="required-label">*</span></label>
                                        <select class="form-control" id="id_property_type">
                                            <option value='apartamente'>Apartamente</option>
                                            <option value='case'>Case / Vile</option>
                                            <option value="comerciale">Spatii Comerciale</option>
                                            <option value="depozite">Depozite si Hale</option>
                                            <option value="birouri">Birouri</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="nume_client">Nume Client <span class="required-label">*</span></label>
                                        <input type="text" class="form-control" id="nume_client" placeholder="Nume Client">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="report_recipient">Destinatar Raport</label>
                                        <input type="text" class="form-control" id="report_recipient" placeholder="Destinatar Raport">
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md">
                                    <button class="btn btn-success step-one-next" onclick="stepOneDone()">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card disabled-card step-two">
                    <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#caracteristici" aria-expanded="false" aria-controls="caracteristici">
                        <div class="card-title">Caracteristici</div>
                    </div>
                    <div id="caracteristici" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row" id="caracteristici_data">
                            </div>
                        </div>

                        <div class="fotografii">
                            <div class="fotografii-title">Fotografii</div>
                        </div>

                        <div class="fotografii-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="attribute">Caracteristici</label>
                                        <select class="form-control" id="attribute">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 m-2">
                                    <form action="{% url 'dashboard:save_photos' %}" class="dropzone dz-clickable" id="step-two-dropzone">
                                        {% csrf_token %}
                                        <input type="hidden" name="valuation_id" id="valuation_id" value="">
                                        <input type="hidden" name="attr_id" id="attr_id" value="">
                                        <div class="dz-message" data-dz-message="">
                                            <div class="icon">
                                                <i class="flaticon-file"></i>
                                            </div>
                                            <h4 class="message">Drag and Drop files here</h4>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="card-action">
                            <button class="btn btn-success step-two-next" onclick="stepTwoNext()">Next</button>
                        </div>
                    </div>
                </div>

                <div class="card disabled-card step-three">
                    <div class="card-header" id="headingThree">
                        <div class="row">
                            <div class="col-md-11" data-toggle="collapse" data-target="#customizate" aria-expanded="false" aria-controls="customizate">
                                <div class="card-title">Câmpuri customizate</div>
                            </div>
                            <div class="col-md-1 float-right">
                                <button type="button" class="btn btn-icon btn-round btn-primary" data-toggle="modal" data-target="#custom_modal">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div id="customizate" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row" id="custom_fields">
                            </div>
                        </div>

                        <div class="fotografii">
                            <div class="fotografii-title">Fotografii</div>
                        </div>

                        <div class="fotografii-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="custom_field">Câmpuri customizate</label>
                                        <select class="form-control" id="custom_field">
                                            
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 m-2">
                                    <form action="{% url 'dashboard:save_cf_photos' %}" class="dropzone dz-clickable" id="step-three-dropzone">
                                        {% csrf_token %}
                                        <input type="hidden" name="vid" id="custom_vid" value="">
                                        <input type="hidden" name="attr_id" id="custom_attr_id" value="">
                                        <div class="dz-message" data-dz-message="">
                                            <div class="icon">
                                                <i class="flaticon-file"></i>
                                            </div>
                                            <h4 class="message">Drag and Drop files here</h4>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="card-action">
                            <button class="btn btn-success step-three-next" onclick="stepThreeNext()">Next</button>
                        </div>
                    </div>
                </div>

                <div class="card disabled-card step-four">
                    <div class="card-header" id="headingFour" data-toggle="collapse" data-target="#cover" aria-expanded="false" aria-controls="cover">
                        <div class="card-title">Cover Fotografii</div>
                    </div>
                    
                    <div id="cover" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="{% url 'dashboard:save_cover_photos' %}" class="dropzone dz-clickable" id="stepFourDropzone">
                                        {% csrf_token %}
                                        <input type="hidden" name="cover_vid" id="cover_vid" value="">
                                        <input type="hidden" name="order" id="image-order" value="">
                                        <div class="dz-message" data-dz-message="">
                                            <div class="icon">
                                                <i class="flaticon-file"></i>
                                            </div>
                                            <h4 class="message">Drag and Drop files here</h4>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="card-action">
                            <button class="btn btn-success" onclick="finish()">Finish</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- ================================================================================= -->
    <!-- =============================== Custom Modal ==================================== -->
    <!-- ================================================================================= -->
    <div class="modal fade" id="custom_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Custom Fields</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <span class="custom-msg"></span>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cf_name" style="color: #2f374b!important;">Field Name <span class="required-label">*</span></label>
                        <input type="text" placeholder="Field name" class="form-control" id="cf_name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cf_value" style="color: #2f374b!important;">Field Value</label>
                        <input type="number" value="0" class="form-control" id="cf_value">
                    </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="saveCustomField()">Save</button>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script type="text/javascript">
        // map management 
        var map = L.map('mapid').setView([44.4268, 26.1025], 13);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibmFlZW0yMyIsImEiOiJja2lyNmpzdjUwMHVrMnRreXZyNHdubHptIn0.X3OwhHNVTJG_SzVzHEeLnQ', {
            attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoibmFlZW0yMyIsImEiOiJja2lyNmpzdjUwMHVrMnRreXZyNHdubHptIn0.X3OwhHNVTJG_SzVzHEeLnQ'
        }).addTo(map);

        var searchControl = L.esri.Geocoding.geosearch({
            position: 'topright',
            placeholder: 'Search for places and addresses',
            useMapBounds: false,
            providers: [L.esri.Geocoding.arcgisOnlineProvider({
                apikey: 'AAPK5f52374845404757a5eb02c2b5bc9e1cbjcT5ty0oXBKBseoCLCC_JhCLvbOLn1nXEgiuOcKaUUK8yLa7hmuYQd0fVtKOfoy',
            })]
        }).addTo(map);

        var marker = L.marker()
        searchControl.on('results', function (data) {
            $('#id_address').val(data.text)
            map.removeLayer(marker)
            for (var i = data.results.length - 1; i >= 0; i--) {
                marker = L.marker(data.results[i].latlng, {draggable:'true'}).addTo(map);
                marker.on('dragend', function(event){
                    var marker = event.target;
                    var position = marker.getLatLng();
                    marker.setLatLng(new L.LatLng(position.lat, position.lng),{draggable:'true'});
                    map.panTo(new L.LatLng(position.lat, position.lng))
                    $('#id_latitude').val(position.lat.toFixed(6)) 
                    $('#id_longitude').val(position.lng.toFixed(6))
                });
                var lat = data.results[i].latlng.lat
                var lng = data.results[i].latlng.lng
                $('#id_latitude').val(lat.toFixed(6)) 
                $('#id_longitude').val(lng.toFixed(6))
            }
        });
        
        function onMapClick(e) {
            map.removeLayer(marker);
            marker = L.marker([e.latlng.lat, e.latlng.lng], {draggable:'true'}).addTo(map);
            marker.on('dragend', function(event){
                var marker = event.target;
                var position = marker.getLatLng();
                marker.setLatLng(new L.LatLng(position.lat, position.lng),{draggable:'true'});
                map.panTo(new L.LatLng(position.lat, position.lng))
                $('#id_latitude').val(position.lat.toFixed(6))
                $('#id_longitude').val(position.lng.toFixed(6))
            });
            var lat = e.latlng.lat 
            var lng = e.latlng.lng 
            $('#id_latitude').val(lat.toFixed(6))
            $('#id_longitude').val(lng.toFixed(6))
        }
        map.on('click', onMapClick);
        // map management

        // step one management 
        var valuation_id;
        function stepOneDone() {
            var address = $('#id_address').val()
            var type = $('#id_property_type').val()
            var lat = $('#id_latitude').val()
            var lng = $('#id_longitude').val()
            var owner = $('#owner').val()
            var nume_client = $('#nume_client').val()
            var report_recipient = $('#report_recipient').val()

            if(address.length !== 0 && lat.length !== 0 && lng.length !== 0 && nume_client.length !== 0 && type.length !== 0 && owner.length !== 0) {
                $.ajax({
                    url: "{% url 'dashboard:steponesave' %}",
                    type: 'POST',
                    cache: false,
                    data: {
                        "address": address,
                        "owner": owner,
                        "type": type,
                        "lat": lat,
                        "lng": lng,
                        "nume_client": nume_client,
                        "report_recipient": report_recipient,
                        "csrfmiddlewaretoken": '{{ csrf_token }}'
                    },
                    success: function (e) {
                        var success = e.success
                        if (success == 'true') {
                            $('#valuation_id').val(e.id)
                            $('#custom_vid').val(e.id)
                            $('#cover_vid').val(e.id)
                            valuation_id = e.id
                            $(".step-one-next").addClass('disabled')
                            $(".step-two").removeClass('disabled-card')
                            $(".step-three").removeClass('disabled-card')
                            $(".step-four").removeClass('disabled-card')
                            $('#caracteristici').collapse()
                        } else {
                            console.log('false')
                        }
                    }
                })
            } else {
                if (address.length === 0) {
                    $('#id_address').addClass('required')
                }
                if (owner.length === 0) {
                    $('#owner').addClass('required')
                } 
                if (nume_client.length === 0) {
                    $('#nume_client').addClass('required')
                }
                if (type.length === 0) {
                    $('#type').addClass('required')
                }
            }

            var attrs = {{ attrs|safe }}
            var numbers = attrs.filter(obj => {
              return obj.fields.property_type === type
            })
            var photos = attrs.filter(obj => {
                return obj.fields.property_type === type && obj.fields.has_photo === true
            })

            numbers.map(obj => {
                if (obj.fields.has_nr === true) {
                    var col_html = '<div class="col-md-3 mb-2">\
                        <div class="form-group">\
                            <label for="name_'+ obj.pk +'">Nr. '+ obj.fields.name +'</label>\
                            <input type="number" value="0" class="form-control" name="name_'+ obj.pk +'">\
                        </div>\
                    </div>'
                } else {
                    var col_html = '<input type="hidden" value="" name="name_"'+obj.pk+'>'
                }
                $('#caracteristici_data').append(col_html)
            })

            photos.map(obj => {
                var option = "<option value='"+ obj.pk +"'>"+obj.fields.name+"</option>"
                $('#attribute').append(option)
            })
        }
        // step one management

        // step two management
        $('#step-two-dropzone').click(function () {
            var aid = $('#attr_id').val();
            if (aid === ""){
                $('#attr_id').val($("#attribute option:first").val());
            }
        })
        $('#attribute').on('change', function() {
            $('#attr_id').val(this.value);
        });
        function stepTwoNext() {
            var input = $("#caracteristici_data").find('input')
            var data = {}
            for(let i=0; i<input.length; i++) {
                var name = $(input[i]).attr('name')
                var value = $(input[i]).val()
                data[name] = value
            }
            data['valuation_id'] = valuation_id
            data['csrfmiddlewaretoken'] = '{{ csrf_token }}'
            
            $.ajax({
                url: "{% url 'dashboard:steptwosave' %}",
                type: 'POST',
                cache: false,
                data: data,
                success: function (e) {
                    var success = e.success
                    if (success == 'true') {
                        $(".step-two-next").addClass('disabled')
                        $('#customizate').collapse()
                    } else {
                        console.log('false')
                    }
                }
            })
        }
        // step two management 

        // step three management 
        var custom_id;
        function saveCustomField() {
            var name = $('#cf_name').val()
            var value = $('#cf_value').val()

            if (name.length !== 0) {
                $.ajax({
                    url: "{% url 'dashboard:add_custom_field' %}",
                    type: 'POST',
                    cache: false,
                    data: {"vid": valuation_id, "name": name, "value": value, "csrfmiddlewaretoken": '{{ csrf_token }}'},
                    success: function(e){
                        if (e.success=='true') {
                            custom_id = e.cf_id
                            var html = '<div class="col-md-3 mb-2">\
                                <div class="form-group">\
                                    <label for="name_2">Nr. '+ name +'</label>\
                                    <input type="number" value="'+ value +'" class="form-control" name="name_2" disabled>\
                                </div>\
                            </div>'
                            $('#custom_fields').append(html)

                            var opt = "<option value='"+custom_id+"'>"+ name +"</option>"
                            $('#custom_field').append(opt)

                            $("#cf_name").val('')
                            $("#cf_value").val('0')
                            $('#custom_modal').modal('hide')
                        } else {
                            $('.custom-msg').addClass('required-label')
                            $('.custom-msg').html('Problem saving data. Try agian.')
                        }
                    }
                })
            } else {
                $("#cf_name").addClass('required')
            }
        }

        $("#step-three-dropzone").click(function () {
            var aid = $('#custom_attr_id').val();
            if (aid === ""){
                $('#custom_attr_id').val($("#custom_field option:first").val());
            }
        })
        $("#custom_field").on('change', function() {
            $("#custom_attr_id").val(this.value)
        })
        function stepThreeNext() {
            $(".step-three-next").addClass('disabled')
            $('#cover').collapse()
        }


        // step four management
        var order = 1;
        $("#stepFourDropzone").click(function () {
            $('#image-order').val(order);
            order++;
        })
        Dropzone.options.stepFourDropzone = {
            maxFiles: 4,
            init: function() {
                this.on("maxfilesexceeded", function(file){
                    alert("No more files please!");
                });
            }
        };
        function finish() {
            url = "{% url 'dashboard:details' id=1234 %}".replace('1234', valuation_id)
            window.open(url, '_self');
        }
    </script>
{% endblock javascripts %}  
