{% extends "base.html" %}

{% block title %} Evaluari Incomplete {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <style type="text/css">
        #delete, #update {
            cursor: pointer;
        }
        #delete-modal {
            display: none;
        }
        .status .dropdown-menu {
            min-width: 7rem;
        }
        .status .btn-sm {
            font-size: 14px;
            padding: 4px 8px;
        }
        .status .dropdown-item {
            cursor: pointer;
        }
        .inprogress {
            color: #1266F1;
            border: 1px solid #1266F1;
            padding: 2px 6px 6px 6px;
        }
        .suspended {
            color: #FFA900;
            border: 1px solid #FFA900;
            padding: 2px 6px 6px 6px;
        }
        .cancelled {
            color: #F93154;
            border: 1px solid #F93154;
            padding: 2px 6px 6px 6px;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Evaluare incompletă</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="">Evaluare incompletă</a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="d-flex align-items-center">
								<h4 class="card-title">Evaluare incompletă</h4>
								<a class="btn btn-primary btn-round ml-auto" href="{% url 'dashboard:incomplete_map' %}">
									<i class="fa fa-location-arrow mr-2"></i>
									Vizualizarea hartii
								</a>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table id="incomplete_table" class="display table table-striped table-hover" >
									<thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Adresa</th>
                                            <th>Destinatar</th>
                                            <th>Created</th>
                                            <th>Status</th>
                                            <th>Inspector</th>
                                            <th>Action</th>
                                        </tr>
									</thead>
									<tbody>
                                        {% for obj in incomplete %}
                                        <tr id="rowid_{{obj.id}}">
                                            <td>
                                                <a href="{% url 'dashboard:details' id=obj.id %}"><span class="text-light">EPI-{{obj.reference_no}}-{{obj.inspection_date|date:"dmy"}}</span></a>
                                            </td>
                                            <td>
                                                <a href="{% url 'dashboard:details' id=obj.id %}"><span class="text-light">{{obj.street|truncatechars:30}}</span></a>
                                            </td>
                                            <td>
                                                <a href="{% url 'dashboard:details' id=obj.id %}"><span class="text-light">{{obj.report_recipient}}</span></a>
                                            </td>
                                            <td>
                                                <span class="text-light">{{ obj.inspection_date|date:'d-m-Y' }}</span>
                                            </td>
                                            <td>
                                                <div class="btn-group status">
                                                    <button class="btn {% if obj.status == 'progress' %}btn-outline-info{% elif obj.status == 'suspended' %}btn-outline-warning{% else %}btn-outline-danger{% endif %} btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        {{obj.get_status_display }}
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        {% for key, value in status.items %}
                                                            {% if obj.status != key %}
                                                                <a class="dropdown-item" href="{% url 'dashboard:change_status' status=key id=obj.id %}">{{value}}</a>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="{% url 'dashboard:details' id=obj.id %}"><span class="text-light">{{obj.valuatate_by.get_full_name }}</span></a>
                                            </td>
                                            <td style="text-align: center;">
                                                <span class="mr-3" href="" id="delete" onclick="delete_modal('{{obj.id}}')"><i class="fas fa-trash text-light"></i></span>
                                            </td>
                                        </tr>
                                        {% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script type="text/javascript">
		$(document).ready(function() {
			$('#incomplete_table').DataTable({
				"pageLength": 10,
				"order": [[ 0, "desc" ]],
			});
		});


        // delete modal
        function delete_modal(id) {
            swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                buttons:{
                    confirm: {
                        text : 'Yes, delete it!',
                        className : 'btn btn-success'
                    },
                    cancel: {
                        visible: true,
                        className: 'btn btn-danger'
                    }
                }
            }).then((Delete) => {
                if (Delete) {
                    $.ajax({
                        url: "{% url 'dashboard:delete' %}",
                        type: "GET",
                        data: {id: id},
                        success: function(e) {
                            if (e.success === 'true') {
                                $("#rowid_"+id).remove()
                                var content = {};
                                var state = "success";
                                content.message = 'Valuation deleted successfully';
                                content.title = 'Deleted!';
                                content.icon = 'fa fa-bell';
                                $.notify(content,{
                                    type: state,
                                    placement: {
                                        from: 'top',
                                        align: 'right'
                                    },
                                    time: 1000,
                                    delay: 0,
                                });
                                // closing notification
                                setTimeout(function(){
                                    $('.close').trigger('click');
                                }, 4000);
                            } else {
                                var content = {};
                                var state = "danger";
                                content.message = 'Problem deleting valuation';
                                content.title = 'Error!';
                                content.icon = 'fa fa-bell';
                                $.notify(content,{
                                    type: state,
                                    placement: {
                                        from: 'top',
                                        align: 'right'
                                    },
                                    time: 1000,
                                    delay: 0,
                                });
                                // closing notification
                                setTimeout(function(){
                                    $('.close').trigger('click');
                                }, 4000);
                            }
                            swal.close();
                        }
                    })
                } else {
                    swal.close();
                }
            });
        }
        // delete_modal

        // creating notification
        var msg = "{% if msg %}{{msg}}{% endif %}"
        if(msg !== "") {
            var content = {};
            if (msg=='status') {
                var state = "success";
                content.message = 'Status updated successfully';
                content.title = 'Success!';
            } else if (msg == 'not_status') {
                var state = "danger";
                content.message = 'Problem updating status';
                content.title = 'Error!';
            }

            content.icon = 'fa fa-bell';
            $.notify(content,{
                type: state,
                placement: {
                    from: 'top',
                    align: 'right'
                },
                time: 1000,
                delay: 0,
            });
            // closing notification
            setTimeout(function(){
                $('.close').trigger('click');
            }, 4000);
        }
    </script>
{% endblock javascripts %}
