{% extends "base.html" %}

{% block title %} Evaluare Complete Map View {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" integrity="sha512-WXoSHqw/t26DszhdMhOXOkI7qCiv5QWXhH9R7CgvgZMHz1ImlkVQ3uNsiQKu5wwbbxtPzFXd1hK4tzno2VqhpA==" crossorigin=""></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/css/screen.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/dist/MarkerCluster.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/dist/MarkerCluster.Default.css' %}" />
    <script src="{% static 'dashboard/dist/leaflet.markercluster-src.js '%}"></script>

    <style>
        #map { 
            height: 400px;
            width: 100%; 
        }
        #map-modal {
            display: none;
        }
    </style>
{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Evaluari Complete</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'dashboard:complete' %}">Evaluari Complete</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="">Map View</a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Map</div>
                        </div>

                        <div id="map-content">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="map"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script type="text/javascript">
        var mydata = JSON.parse('{{ addressPoints|safe }}')
        var lat = mydata[0].fields.latitude
        var lng = mydata[0].fields.longitude

        var tiles = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibmFlZW0yMyIsImEiOiJja2lyNmpzdjUwMHVrMnRreXZyNHdubHptIn0.X3OwhHNVTJG_SzVzHEeLnQ', {
            attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoibmFlZW0yMyIsImEiOiJja2lyNmpzdjUwMHVrMnRreXZyNHdubHptIn0.X3OwhHNVTJG_SzVzHEeLnQ'
        }),
        latlng = L.latLng(lat, lng);
        var map = L.map('map', {center: latlng, zoom: 13, layers: [tiles]});

        var markers = L.markerClusterGroup({
            showCoverageOnHover: false,
        });
        for(let i = 0; i < mydata.length; i++) {
            var lat = mydata[i].fields.latitude 
            var lng = mydata[i].fields.longitude
            var title = mydata[i].pk
            var marker = L.marker(new L.LatLng(lat, lng), { title: title });
            var url = '{% url "dashboard:details" id=1234 %}'.replace('1234', title)
            marker.bindPopup('<a href="'+url+'" target="_blank"><i class="far fa-eye mr-1"></i>View</a>');
            markers.addLayer(marker);
        }
        map.addLayer(markers);

    </script>
{% endblock javascripts %}  
