{% extends "base.html" %}

{% block title %} Test {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Evaluari Complete</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="">Evaluari Complete</a>
                    </li>
                </ul>
            </div>

            {% load my_filters %}
            <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                        <div class="card-title">Hoverable Table</div>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>Preţ de oferta/vanzare (EURO)</td>
                                    <td></td>
                                    {% for p in ct %}
                                    <td>{{p.comparable.sale_price|floatformat:"0"}}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>Mobila</td>
                                    <td></td>
                                    {% for p in ct %}
                                    <td>{{p.comparable.get_mobila_display}}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>Ajustare (EUR)</td>
                                    <td></td>
                                    {% for c in ct %}
                                    <td>{{c.mobila_ajustare|floatformat:"0"}}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>Loc de parcare/boxa</td>
                                    <td></td>
                                    {% for p in ct %}
                                    <td>{{p.comparable.parking_boxa}}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>Ajustare (EUR)</td>
                                    <td></td>
                                    {% for c in ct %}
                                    <td>{{c.pb_ajustare|floatformat:"0"}}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                  <td>Pret de oferta/vanzare imobil (EURO)</td>
                                  <td></td>
                                  {% for p in ct %}
                                  <td>{{p|get_price}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Date disponibile</td>
                                  <td></td>
                                  {% for p in ct %}
                                  <td>{{p.comparable.get_available_data_display}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Marja negociere (%) </td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c.margin|floatformat:"0"}}%</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Valoare corectie (EURO)</td>
                                  <td></td>
                                  {% for p in ct %}
                                  <td>{{p|get_oferta_euro}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Pret corectat (EURO)</td>
                                  <td></td>
                                  {% for p in ct %}
                                    <td>{{p|get_offer_price}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Motivare corectie</td>
                                  <td colspan="4">{{sub.motivation}}</td>
                                </tr>


                                <tr>
                                  <td colspan="5">Ajustari pentru conditiile tranzactiilor				
                                  </td>
                                </tr>
                                <tr>
                                  <td>Drepturi de proprietate </td>
                                  <td>{{sub.get_property_rights_display}}</td>
                                  {% for p in ct %}
                                  <td>{{p.comparable.get_property_rights_display}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (%)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c.property_percent|floatformat:"0"}}%</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (EURO)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c|get_pr_euro}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Pret ajustat (EURO)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c|get_pr_price}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Motivare corectie</td>
                                  <td colspan="4">{{sub.property_motivation}}</td>
                                </tr>

                                <tr>
                                  <td>Condiţii de finanţare</td>
                                  <td>{{sub.get_financing_condition_display}}</td>
                                  {% for p in ct %}
                                  <td>{{p.comparable.get_financing_condition_display}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (%)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c.fc_percent|floatformat:"0"}}%</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (EURO)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c|get_fc_euro}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Pret ajustat (EURO)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c|get_fc_price}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Motivare corectie</td>
                                  <td colspan="4">{{sub.fc_motivation}}</td>
                                </tr>

                                <tr>
                                  <td>Conditii de vanzare</td>
                                  <td>{{sub.get_sale_condition_display}}</td>
                                  {% for p in ct %}
                                  <td>{{p.comparable.get_sale_condition_display}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (%)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c.sc_percent|floatformat:"0"}}%</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (EURO)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c|get_sc_euro}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Pret ajustat (EURO)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c|get_sc_price}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Motivare corectie</td>
                                  <td colspan="4">{{sub.sc_motivation}}</td>
                                </tr>

                                <tr>
                                  <td>Cheltuieli necesare imediat dupa cumparare</td>
                                  <td>{{sub.get_ape_display}}</td>
                                  {% for p in ct %}
                                  <td>{{p.comparable.get_ape_display}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (%)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c|get_ape_percent}}%</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (EURO)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c.ape_euro|floatformat:"0"}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Pret ajustat (EURO)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c|get_ape_price}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Motivare corectie</td>
                                  <td colspan="4">{{sub.ape_motivation}}</td>
                                </tr>

                                <tr>
                                  <td>Conditii de piata</td>
                                  <td>{{sub.market_env}}</td>
                                  {% for p in ct %}
                                  <td>{{p.comparable.market_env}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (%)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c.me_percent|floatformat:"0"}}%</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (EURO)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c|get_me_euro}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Pret ajustat (EURO)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c|get_me_price}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Motivare corectie</td>
                                  <td colspan="4">{{sub.me_motivation}}</td>
                                </tr>


                                <tr>
                                  <td>Ajustari specifice proprietatii</td>
                                </tr>
                                <tr>
                                  <td>Localizare</td>
                                  <td>{{sub.location}}</td>
                                  {% for p in ct %}
                                  <td>{{p.comparable.location}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (%)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c.lc_percent|floatformat:"0"}}%</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (EURO)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c|get_lc_euro}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Motivare corectie</td>
                                  <td colspan="4">{{sub.lc_motivation}}</td>
                                </tr>

                                <tr>
                                  <td>Compartimentare</td>
                                  <td>{{sub.get_compartment_display}}</td>
                                  {% for p in ct %}
                                  <td>{{p.comparable.get_compartment_display}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (%)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c.cp_percent|floatformat:"0"}}%</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (EURO)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c|get_cp_euro}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Motivare corectie</td>
                                  <td colspan="4">{{sub.cp_motivation}}</td>
                                </tr>

                                <tr>
                                  <td>AN PIF</td>
                                  <td>{{sub.year_build}}</td>
                                  {% for p in ct %}
                                  <td>{{p.comparable.year_build}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (%)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c.cy_percent|floatformat:"0"}}%</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (EURO)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c|get_cy_euro}}%</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Motivare corectie</td>
                                  <td colspan="4">{{ sub.cy_motivation}}</td>
                                </tr>

                                <tr>
                                  <td>Suprafata utila (mp)</td>
                                  <td>{{sub.area}}</td>
                                  {% for p in ct %}
                                  <td>{{p.comparable.area}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Diferenta de suprafata (mp)</td>
                                  <td></td>
                                  {% for p in ct %}
                                  <td>{{sub.area|area_diff:p.comparable.area}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (%)</td>
                                  <td></td>
                                  {% for p in ct %}
                                  <td>{{p|get_su_percent:sub.area}}%</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (EURO)</td>
                                  <td></td>
                                  {% for p in ct %}
                                  <td>{{p.su_euro|floatformat:"0"}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Motivare corectie</td>
                                  <td colspan="4">{{sub.su_motivation}}</td>
                                </tr>

                                <tr>
                                  <td>Finisaje </td>
                                  <td>{{sub.get_finish_display}}</td>
                                  {% for p in ct %}
                                  <td>{{p.comparable.get_finish_display}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (%)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c|get_finish_percent}}%</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (EURO)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c.finish_euro|floatformat:"0"}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Motivare corectie</td>
                                  <td colspan="4">{{sub.finish_motivation}}</td>
                                </tr>

                                <tr>
                                  <td>Regim de inaltime</td>
                                  <td>{{sub.etaj}}</td>
                                  {% for p in ct %}
                                  <td>{{p.comparable.etaj}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (%)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c.etaj_percent|floatformat:"0"}}%</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (EURO)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c|get_etaj_euro}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Motivare corectie</td>
                                  <td colspan="4">{{sub.etaj_motivation}}</td>
                                </tr>

                                <tr>
                                  <td>Balcon (mp)</td>
                                  <td>{{sub.balcon}}</td>
                                  {% for p in ct %}
                                  <td>{{p.comparable.balcon}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (%)</td>
                                  <td></td>
                                  {% for p in ct %}
                                  <td>{{p|get_balcon_percent:sub}}%</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (EURO)</td>
                                  <td></td>
                                  {% for p in ct %}
                                  <td>{{p.balcon_euro|floatformat:"0"}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Motivare corectie</td>
                                  <td colspan="4">{{sub.balcon_motivation}}</td>
                                </tr>

                                <tr>
                                  <td>Sistem de incalzire</td>
                                  <td>{{sub.get_heating_display}}</td>
                                  {% for p in ct %}
                                  <td>{{p.comparable.get_heating_display}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (%)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c|get_hs_percent}}%</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (EURO)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c.hs_euro|floatformat:"0"}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Motivare corectie</td>
                                  <td colspan="4">{{sub.hs_motivation}}</td>
                                </tr>

                                <tr>
                                  <td>Parcare</td>
                                  <td>{{sub.parking}}</td>
                                  {% for p in ct %}
                                  <td>{{p.comparable.parking}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (%)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c|get_parking_percent}}%</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Ajustare (EURO)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c.parking_euro|floatformat:"0"}}</td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td>Motivare corectie</td>
                                  <td colspan="4">{{sub.parking_motivation}}</td>
                                </tr>

                                <tr>
                                  <td>Ajustare neta pentru caracteristici specifice proprietatii</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c|get_net_adjustment}}</td>
                                  {% endfor %}
                                </tr>

                                <tr>
                                  <td>Pret ajustat (EURO)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c|get_adjusted_price}}</td>
                                  {% endfor %}
                                </tr>

                                <tr>
                                  <td>Numar de ajustări</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c|get_adjustment_no}}</td>
                                  {% endfor %}
                                </tr>

                                <tr>
                                  <td>Ajustare totală netă (%)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c|get_total_percent}}%</td>
                                  {% endfor %}
                                </tr>

                                <tr>
                                  <td>Ajustare totală netă (EURO)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c.total_adjustment|floatformat:"0"}}</td>
                                  {% endfor %}
                                </tr>

                                <tr>
                                  <td>Ajustare totală brută (%)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c|get_gross_percent}}%</td>
                                  {% endfor %}
                                </tr>

                                <tr>
                                  <td>Ajustare totală brută (EURO)</td>
                                  <td></td>
                                  {% for c in ct %}
                                  <td>{{c.gross_adjustment|floatformat:"0"}}</td>
                                  {% endfor %}
                                </tr>

                                <tr>
                                  <td>VALOARE ESTIMATA (EURO)</td>
                                  <td>{{ct|get_estimated_value}}</td>
                                  {% for c in ct %}
                                  <td></td>
                                  {% endfor %}
                                </tr>
                                <tr>
                                  <td colspan="4">* cea mai mica corectie totala bruta s-a a efectuat pentru comparabila:</td>
                                  <td>{{ct|get_smallest_gross}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
