{% extends "base.html" %}

{% block title %} Add Valuation {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    {% load static %}
    <!-- dropzone file upload -->
    <script src="{% static 'dashboard/js/dropzone.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dashboard/css/dropzone.css' %}">
    
    <style>
        .msg {
            padding-left: 10px;
        }
        
        .btn-muted {
            background: rgba(169,175,187,.82);
            color: #fff;
        }
    </style>
{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Add Valuation</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="">Valuation Form</a>
                    </li>
                </ul>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Cover Fotografii</div>
                </div>
                
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="{% url 'dashboard:save_cover_photos' %}" class="dropzone dz-clickable" id="stepFourDropzone">
                                {% csrf_token %}
                                <input type="hidden" name="cover_vid" id="cover_vid" value="{{ valuation_id }}">
                                <input type="hidden" name="order" id="image-order" value="">
                                <input type="hidden" name="refer_to" value="cover">
                                <div class="dz-message" data-dz-message="">
                                    <div class="icon">
                                        <i class="flaticon-file"></i>
                                    </div>
                                    <h4 class="message">Drag and Drop files here</h4>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card-action">
                    <a class="btn btn-muted" href="{% url 'dashboard:add_valuation' %}?next=summary&id={{valuation_id}}">SKIP</a>
                    <button class="btn btn-success" id="submitBtn">NEXT</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script type="text/javascript">
        var order = 1;
        $("#stepFourDropzone").click(function () {
            $('#image-order').val(order);
            order++;
        })
        Dropzone.options.stepFourDropzone = {
            maxFiles: 4,
            init: function() {
                this.on("maxfilesexceeded", function(file){
                    alert("No more files please!");
                });
            }
        };
        $("#submitBtn").click(function () {
            window.location.href = "http://localhost:8000/add-valuation/?next=summary&id=" + '{{valuation_id}}';
        })
    </script>
{% endblock javascripts %}  
